<md-dialog class="task-dialog" aria-label="New Task" style="width:400px;min-width:400px">
    <md-toolbar class="md-accent md-hue-2">
        <div class="md-toolbar-tools">
            <h2>Change Password of {{DisplayEmail}}</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="closeModel1()">
                <md-icon md-font-icon="icon-close" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content ms-scroll>
        <form name="FormChangePassword" novalidate class="ms-stepper" aria-invalid="false" style="padding: 24px">
            <md-content class="content" ms-scroll>
                <!-- <md-input-container class="md-block" flex-gt-sm="50">
                    <label>Old password </label>
                    <input name="oldpassword" type="password" ng-model="model.oldpassword" ng-required="true" md-maxlength="100">
                    <div ng-messages="FormChangePassword.oldpassword.$error" ng-if="FormChangePassword.oldpassword.$touched">
                        <div ng-message="required">
                            <span>Old password is required</span>
                        </div>
                        <div ng-message="md-maxlength">
                            <span>Old password is 100 char long</span>
                        </div>
                    </div>
                </md-input-container> -->
                <md-input-container class="md-block" flex-gt-sm="100">
                    <label>Password </label>
                    <input name="password" type="password" ng-model="model.password" ng-required="true" md-maxlength="100">
                    <div ng-messages="FormChangePassword.password.$error" ng-if="FormChangePassword.password.$touched">
                        <div ng-message="required">
                            <span>Password is required</span>
                        </div>
                        <div ng-message="md-maxlength">
                            <span>Password is 100 char long</span>
                        </div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm="100">
                    <label>Confirm password </label>
                    <input name="confirmpassword" type="password" ng-model="model.confirmpassword" ng-required="true" md-maxlength="100">
                    <div ng-messages="FormChangePassword.confirmpassword.$error" ng-if="FormChangePassword.confirmpassword.$touched">
                        <div ng-message="required">
                            <span>Confirm password is required</span>
                        </div>
                        <div ng-message="md-maxlength">
                            <span>Confirm password is 100 char long</span>
                        </div>
                    </div>
                </md-input-container>
                <div layout="row" layout-align="start center">
                    <md-button class="md-raised md-accent" ng-disabled="FormChangePassword.$invalid" ng-click="ChangePassword($event,model)">Change Password</md-button>
                    <md-button class="md-raised md-default" ng-click="Reset()">Cancel</md-button>
                </div>
                <br/>
            </md-content>
        </form>
    </md-dialog-content>

</md-dialog>