<div id="login" class="flex-scrollable" layout="column" ms-scroll>
    <div id="login-form-wrapper" layout="column" layout-align="center center">
        <div id="login-form" class="md-whiteframe-8dp">
            <div class="logo md-accent-bg">
                <span>F</span>
            </div>
            <div class="title" translate="Forgot Password">Forgot Password</div>
            <!-- ng-pattern="/^.+@.+\..+$/" -->
            <form name="ForgotPasswordForm" novalidate>
                <md-input-container class="md-block" md-no-float>
                    <label>Username or email address</label>
                    <input type="text" name="email" ng-model="model.Email" required>
                    <div ng-messages="ForgotPasswordForm.email.$error" role="alert" multiple>
                        <div ng-message="required">
                            <span>User name or email is required</span>
                        </div>                       
                    </div>
                </md-input-container>              
                <md-button type="submit" class="md-raised md-accent submit-button" aria-label="Forgot Password" ng-click="ForgotPassword(model)" ng-disabled="ForgotPasswordForm.$invalid || ForgotPasswordForm.$pristine">
                    Forgot Password
                </md-button>
            </form>          
        </div>
    </div>
</div>
