<md-dialog class="task-dialog" aria-label="New Task">
    <form name="formProductAttributeCombinationExport" class="md-inline-form">
        <md-toolbar class="md-accent md-hue-2">
            <div class="md-toolbar-tools" layout="row" layout-align="space-between">
                <span class="title">Export Excel Sheet</span>
                <md-button class="md-icon-button" ng-click="closeModel()">
                    <md-icon md-font-icon="icon-close" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content ms-scroll>
            <div layout-gt-sm="row">
                <label>Select type</label>
                <md-input-container class="md-block" flex>
                    <md-radio-group ng-model="modelProductAttributeCombinations.Type">
                        <md-radio-button value="Role" class="md-primary" id="ProductAttributeCombinationType1" ng-click="ClearProductAttributeCombinationUserRoleId(formProductAttributeCombinationExport)" ng-model="modelProductAttributeCombinations.Type">Role</md-radio-button>
                        <md-radio-button value="User" class="md-primary" id="ProductAttributeCombinationType2" ng-click="ClearProductAttributeCombinationUserRoleId(formProductAttributeCombinationExport)" ng-model="modelProductAttributeCombinations.Type">User</md-radio-button>
                    </md-radio-group>
                </md-input-container>
            </div>
            <div layout-gt-sm="row">
                <md-input-container class="md-block" flex ng-if="modelProductAttributeCombinations.Type=='Role'">
                    <label>Roles *
                    </label>
                    <md-select name="FromUserRoleIdRole" ng-model="modelProductAttributeCombinations.UserRoleId" required>
                        <md-option ng-repeat="o in lstRoles" value="{{o.id}}">{{o.RoleName}}</md-option>
                    </md-select>
                    <div ng-messages="formProductAttributeCombinationExport.FromUserRoleIdRole.$error" ng-if="formProductAttributeCombinationExport.FromUserRoleIdRole.$touched">
                        <div ng-message="required">
                            <span>Role is required</span>
                        </div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm="100" ng-show="modelProductAttributeCombinations.Type=='User'">
                    <label>Select user</label>
                    <md-autocomplete ng-required="modelProductAttributeCombinations.Type=='User'" md-input-name="FromUserRoleIdUser" md-no-cache="true" md-selected-item="selectedItem" md-search-text="query" md-select-on-match="true" md-selected-item-change="selectedItemChange(item)" md-items="item in GetUserByName(query)" md-item-text="item.username" placeholder="Select User">
                        <md-item-template>
                            <span md-highlight-text="query" md-highlight-flags="^i">{{item.username}}</span>
                        </md-item-template>
                        <md-not-found>
                            No User matching "{{query}}" were found
                        </md-not-found>
                    </md-autocomplete>
                    <div ng-messages="formProductAttributeCombinationExport.FromUserRoleIdUser.$error" ng-if="formProductAttributeCombinationExport.FromUserRoleIdUser.$touched">
                        <div ng-message="required">Please Select Valid User.</div>

                        <md-not-found ng-show="flgErrorNotFound && query!=null && query!=''" style="font-size: 12px;">
                            No User matching {{query}} were found.
                        </md-not-found>
                    </div>
                </md-input-container>
                <input type="hidden" name="FromUserRoleIdUser" ng-model="modelProductAttributeCombinations.UserRoleId" required>              
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row" layout-align="space-between center">
            <div layout="row" layout-align="start center">
                <md-button class="md-raised md-primary" ng-click="ExportProductAttributeCombinations(modelProductAttributeCombinations)" ng-disabled="!formProductAttributeCombinationExport.$valid">Export</md-button>
            </div>
        </md-dialog-actions>
    </form>
</md-dialog>
