<md-dialog class="task-dialog" aria-label="New Task">
    <form name="taskForm" class="md-inline-form" novalidate>
        <md-toolbar class="md-accent md-hue-2">
            <div class="md-toolbar-tools" layout="row" layout-align="space-between">
                <span class="title">Select Image</span>
                <md-button class="md-icon-button" ng-click="closeModel()">
                    <md-icon md-font-icon="icon-close" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content ms-scroll>
            <table class="dataTable row-border hover" datatable="ng" dt-instance="vm.dtInstance" dt-options="vm.dtOptions" dt-column-defs="vm.dtColumnDefs">
                <thead>
                    <tr>
                        <th class="secondary-text">
                            <div class="table-header">
                                <span class="column-title">No</span>
                            </div>
                        </th>
                        <th class="secondary-text">
                            <div class="table-header">
                                <span class="column-title">Image</span>
                            </div>
                        </th>
                        <th class="secondary-text">
                            <div class="table-header">
                                <span class="column-title">File Name</span>
                            </div>
                        </th>
                        <th class="secondary-text">
                            <div class="table-header">
                                <span class="column-title">Action</span>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="o in lstMedia">
                        <td>{{ $index+1 }}</td>
                        <td>
                            <img ng-src="{{RoutePath}}MediaUploads/{{o.FileName}}" err-src="assets/images/no-image.png" height="50px" width="50px">
                        </td>
                        <td>
                            {{o.Name}}
                        </td>
                        <td>
                            <md-button class="md-raised md-primary" ng-click="SelectImage(o)">Select</md-button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </md-dialog-content>
        <!-- <md-dialog-actions layout="row" layout-align="space-between center">
            <div layout="row" layout-align="start center">
                <md-button class="md-raised md-primary">save</md-button>
                <md-button class="md-raised md-default" ng-click="closeModel()">cancel</md-button>
            </div>
        </md-dialog-actions> -->
    </form>
</md-dialog>