<md-content>
    <div id="simple-table" class="page-layout simple fullwidth doc-page element-doc-page">
        <div class="header md-accent-bg layout-align-space-between-stretch layout-row" layout="row" layout-align="space-between">
            <div layout="column" layout-align="center start" class="layout-align-center-start layout-column">
                <div class="breadcrumb layout-align-start-center layout-row" layout="row" layout-align="start center">
                    <md-icon md-font-icon="icon-home" class="s16 ng-isolate-scope md-font icon-home material-icons md-default-theme" aria-hidden="true"></md-icon>
                    <md-icon md-font-icon="icon-chevron-right" class="s16 separator ng-isolate-scope md-font icon-chevron-right material-icons md-default-theme" aria-hidden="true"></md-icon><span class="parent">Feedback</span>
                </div>
                <div class="title">Feedback Management</div>
            </div>
        </div>
        <div class="content">
            <div class="white-bg md-whiteframe-4dp">
                <md-tabs md-selected="tab.selectedIndex" md-dynamic-height md-border-bottom>
                    <md-tab label="Feedback" ng-click="ResetTab()">
                        <div id="simple-table" class="page-layout simple fullwidth doc-page element-doc-page">
                            <div class="content custom-content">
                                <table class="dataTable row-border hover" datatable="" dt-instance="dtInstance" dt-columns="dtColumns" dt-options="dtOptions">
                                    <thead>
                                        <tr>
                                            <th class="all">
                                                <div class="table-header">
                                                    <span class="column-title">No</span>
                                                </div>
                                            </th>
                                            <th class="secondary-text">
                                                <div class="table-header">
                                                    <span class="column-title">Contact Person</span>
                                                </div>
                                            </th>
                                            <th class="secondary-text">
                                                <div class="table-header">
                                                    <span class="column-title">Email</span>
                                                </div>
                                            </th>
                                            <th class="secondary-text">
                                                <div class="table-header">
                                                    <span class="column-title">Subject</span>
                                                </div>
                                            </th>
                                            <th class="secondary-text" width="150px;">
                                                <div class="table-header">
                                                    <span class="column-title">Enquiry</span>
                                                </div>
                                            </th>
                                            <th class="all">
                                                <div class="table-header" align="">
                                                    <span class="column-title">Action</span>
                                                </div>
                                            </th>
                                        </tr>
                                    </thead>
                                    <!--  <tbody>
                                        <tr ng-repeat="item in lstPetShop">
                                            <td>{{$index+1}}</td>
                                            <td>
                                                {{item.name}}
                                            </td>
                                            <td>{{item.state}}</td>
                                            <td>{{item.address}}</td>
                                            <td align="center">{{item.phone}}</td>
                                            <td align="center">
                                                <md-button class="md-icon-button md-accent md-raised md-hue-2" ng-click="FetchPetShopById(item)" aria-label="">
                                                    <md-icon md-font-icon="icon-pencil-box-outline"></md-icon>
                                                </md-button>
                                                <md-button class="md-icon-button md-raised md-warn md-raised md-hue-2" ng-click="DeletePet(item.id)" aria-label="">
                                                    <md-icon md-font-icon="icon-trash"></md-icon>
                                                </md-button>
                                            </td>
                                        </tr>
                                    </tbody> -->
                                </table>
                            </div>
                        </div>
                    </md-tab>
                    <!-- <md-tab label="Manage Pet Shop" ng-click="ResetEdit()">
                        <md-content class="md-padding">
                            <div>
                                <form name="FormManagePetShop" novalidate class="ms-stepper" aria-invalid="false">
                                    <div layout-gt-sm="row">
                                        <md-input-container flex="100" flex-gt-xs="50">
                                            <label>Pet Shop Name</label>
                                            <input type="text" name="name" ng-model="model.name" required md-maxlength="100">
                                            <div ng-messages="FormManagePetShop.name.$error" ng-if="FormManagePetShop.name.$touched" role="alert">
                                                <div ng-message="required">
                                                    <span>Pet Shop Name is required.</span>
                                                </div>
                                                <div ng-message="md-maxlength">
                                                    Pet Shop Name has to be less than 100 characters long.
                                                </div>
                                            </div>
                                        </md-input-container>
                                        <md-input-container flex="100" flex-gt-xs="50">
                                            <label>Phone</label>
                                            <input type="number" name="phone" ng-model="model.phone" required maxlength="50">
                                            <div ng-messages="FormManagePetShop.phone.$error" ng-if="FormManagePetShop.phone.$touched" role="alert">
                                                <div ng-message="required">
                                                    <span>Phone Number is required.</span>
                                                </div>
                                            </div>
                                        </md-input-container>
                                    </div>
                                    <div layout-gt-sm="row">
                                        <md-input-container flex="100" flex-gt-xs="50">
                                            <label>State</label>
                                            <input type="text" name="state" ng-model="model.state" required maxlength="50">
                                            <div ng-messages="FormManagePetShop.state.$error" ng-if="FormManagePetShop.state.$touched" role="alert">
                                                <div ng-message="required">
                                                    <span>State is required.</span>
                                                </div>
                                            </div>
                                        </md-input-container>
                                        <md-input-container flex="100" class="go-button-container md-icon-right md-block" flex-gt-xs="50">
                                            <label>Address</label>
                                            <input type="text" name="address" ng-model="model.address" required id='address' ng-change="addressChanged()">
                                            <md-button class="md-accent md-raised md-icon-button go-button" ng-click="GetLatLong()" ng-disabled="model.address == '' || model.address==null">
                                                <md-icon>Find</md-icon>
                                            </md-button>
                                            <div ng-messages="FormManagePetShop.address.$error" ng-if="FormManagePetShop.address.$touched" role="alert">
                                                <div ng-message="required">
                                                    <span>Address is required.</span>
                                                </div>
                                                <span ng-if="flgerrorAddress==1" style="color:red;">
                                                    {{errorAddress}}
                                                </span>
                                            </div>
                                        </md-input-container>
                                    </div>
                                    <div layout-gt-sm="row">
                                        <md-input-container flex="100" flex-gt-xs="50">
                                            <label>Latitude</label>
                                            <input type="text" name="lat" ng-model="model.lat" required maxlength="50">
                                            <div ng-messages="FormManagePetShop.lat.$error" ng-if="FormManagePetShop.lat.$touched" role="alert">
                                                <div ng-message="required">
                                                    <span>Latitude is required.</span>
                                                </div>
                                            </div>
                                        </md-input-container>
                                        <md-input-container flex="100" flex-gt-xs="50">
                                            <label>Longitude</label>
                                            <input type="text" name="lang" ng-model="model.lang" required maxlength="50">
                                            <div ng-messages="FormManagePetShop.lang.$error" ng-if="FormManagePetShop.lang.$touched" role="alert">
                                                <div ng-message="required">
                                                    <span>Longitude is required.</span>
                                                </div>
                                            </div>
                                        </md-input-container>
                                    </div>
                                    <div align="center">
                                        <md-button class="md-raised md-primary" ng-click="CreatePetShop(model)" ng-disabled="FormManagePetShop.$invalid">save</md-button>
                                        <md-button class="md-raised md-warn" ng-click="Reset()">cancel</md-button>
                                    </div>
                                </form>
                            </div>
                        </md-content>
                    </md-tab> -->
                </md-tabs>
            </div>
        </div>
    </div>
</md-content>
<style type="text/css" media="screen">
md-input-container.go-button-container.md-icon-right {
    padding-right: 46px;
}

md-input-container.go-button-container .go-button {
    position: absolute;
    top: -10px;
    right: 0;
    padding-left: 2px;
}
</style>
