<div id="e-commerce-products" class="page-layout carded fullwidth" layout="row" ng-show="!flag">
    <div class="top-bg md-accent-bg"></div>
    <div class="center" layout="column" flex>
        <div class="header" layout="row" layout-wrap layout-align="space-between center">
            <div class="white-fg" layout="row" layout-gt-xs="row" layout-gt-sm="column" layout-align="start start">
                <div class="h1" layout="row" layout-align="start center">
                    <md-icon md-font-icon="icon-cube-outline"></md-icon>
                    <span translate="Wallet Transaction">Wallet Transaction</span>
                </div>
                <div class="product-count secondary-text" hide-xs>
                    <span>Total Wallet Transaction:</span>
                    <b>{{recordsTotal}}</b>
                </div>
                <div class="product-count secondary-text" hide-xs>
                    <span>Total Amount:</span>
                    <b>{{Amount}}</b>
                </div>
                <div flex="40" flex-gt-xs="40" flex-gt-sm="33" layout="row">
                    <div class="product-count secondary-text" hide-xs>
                        <span>
                            Total Credit : 
                        </span>
                        <b>
                            {{TotalCredit}}
                        </b>
                    </div>
                    <div class="product-count secondary-text" hide-xs>
                        <span>
                            Total Debit : 
                        </span>
                        <b>
                            {{TotalDebit}}
                        </b>
                    </div>
                </div>
            </div>
            <div class="search" layout="row" layout-align="start center" flex="60" flex-gt-xs="60" flex-gt-sm="33" align="center">
                <md-icon md-font-icon="icon-magnify" class="white-text icon search-icon"></md-icon>
                <input id="modelsearch" ng-model="modelSearch.Search" ng-change="WalletTransactionReload(true)" class="search-input" type="text" placeholder="Search" translate translate-attr-placeholder="SEARCH" flex>
            </div>
            <div flex="40" flex-gt-xs="40" flex-gt-sm="33" layout="row" layout-align="end center">

                <md-button class="md-icon-button  md-raised md-hue-2" ng-click="toggle()" aria-label="Search">
                    <md-icon md-font-icon="icon-filter-variant"></md-icon>
                    <md-tooltip md-visible="" md-direction="">Advance Search</md-tooltip>
                </md-button>
                <md-button class="md-icon-button  md-raised md-hue-2" ng-click="ExportWalletTransaction()" aria-label="Search">
                    <md-icon md-font-icon="icon-file-excel"></md-icon>

                    <md-tooltip md-visible="" md-direction="">Export Wallet</md-tooltip>
                </md-button>
                <div ng-if="FlgAddedEditlocal">
                    <md-button class="md-raised md-background" ng-click="ResetModel()">
                        <span translate="Add">Add</span>
                    </md-button>
                </div>
            </div>
        </div>
        <div class="content-card" layout="column" flex>
            <div class="ShowContentBox">
                <i ng-show="flgforIcon" ng-click="toggle()" class="icon-close-circle-outline right closeIcon"></i>
                <div layout="row" layout-wrap>
                    <md-input-container class="md-block" flex="100" flex-gt-xs="50" flex-gt-sm="25" flex-gt-md="15" ng-if="UserRoles == 'Super Admin'">
                        <label>Type</label>
                        <md-select ng-model="modelSearch.idAppsearch" ng-change="WalletTransactionReload(true)" ng-disabled="!IsShow">
                            <md-option value="0">ALL</md-option>
                            <md-option value="{{o.id}}" ng-if="o.AppName!='Maark'" ng-repeat="o in lstProductTypes | orderBy:'AppName'">{{o.AppName}}</md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container class="md-block" flex="100" flex-gt-xs="50" flex-gt-sm="25" flex-gt-md="15">
                        <label>Status</label>
                        <md-select ng-model="modelSearch.Status" ng-change="WalletTransactionReload(true)">
                            <md-option value="-1">All</md-option>
                            <md-option value="0">Pending</md-option>
                            <md-option value="1">Approve</md-option>
                            <md-option value="2">Completed</md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container class="md-block" flex="100" flex-gt-xs="50" flex-gt-sm="25" flex-gt-md="15">
                        <label>Type</label>
                        <md-select ng-model="modelSearch.Type" ng-change="WalletTransactionReload(true)">
                            <md-option value="All">All</md-option>
                            <md-option value="Credit">Credit</md-option>
                            <md-option value="Debit">Debit</md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container class="md-block" flex="100" flex-gt-xs="50" flex-gt-sm="25" flex-gt-md="20">
                        <label>Start Date</label>
                        <input name="Start" mdc-datetime-picker date="true" time="false" type="text" id="time" max-date="modelSearch.EndDate" format="DD-MM-YYYY" ng-model="modelSearch.StartDate">
                    </md-input-container>
                    <md-input-container class="md-block" flex="100" flex-gt-xs="50" flex-gt-sm="25" flex-gt-md="20">
                        <label>End Date</label>
                        <input name="End" mdc-datetime-picker date="true" time="false" type="text" id="time" min-date="modelSearch.StartDate" format="DD-MM-YYYY" ng-model="modelSearch.EndDate">
                    </md-input-container>
                    <div align="left">
                        <md-button class="md-icon-button md-accent md-raised md-hue-2" ng-click="WalletTransactionReload(true)" aria-label="Search">
                            <md-icon md-font-icon="icon-magnify"></md-icon>
                            <md-tooltip md-visible="" md-direction="">Search </md-tooltip>
                        </md-button>
                        <md-button class="md-icon-button md-warn md-raised md-hue-2" ng-click="SearchReset()" aria-label="Reset Search">
                            <md-icon md-font-icon="icon-refresh"></md-icon>
                            <md-tooltip md-visible="" md-direction="">Reset Search </md-tooltip>
                        </md-button>

                    </div>
                </div>
            </div>
            <div class="content fullpage-datatable" layout="column" flex>
                <!-- <table id="Transactiontable" class="dataTable cell-border row-border hover" datatable="" dt-instance="dtInstance" dt-columns="dtColumns" dt-options="dtOptions" width="100%"> -->
                <table id="Transactiontable" class="dataTable cell-border row-border hover" datatable="" dt-instance="dtInstance" dt-columns="dtColumns" dt-options="dtOptions" width="100%">
                    <thead>
                        <tr>
                            <th class="all">
                                <div class="table-header">
                                    <span class="column-title"> No</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Order Number</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">DeviceId</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">App Name</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Amount</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Type</span>
                                </div>
                            </th>

                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Created by</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Created Date</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Expiry Date</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Remark</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Country</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Status</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Payment Receipt</span>
                                </div>
                            </th>
                            <th class="all">
                                <div class="table-header">
                                    <span class="column-title">Action</span>
                                </div>
                            </th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="page-layout simple tabbed" layout="column" ng-show="flag">
    <div class="header md-accent-bg" layout="row" layout-align="start center">
        <div class="white-fg" layout="row" layout-align="start center" flex>
            <md-button class="goto-products-button md-icon-button" aria-label="Go to WalletList" ng-click="init()">
                <md-icon md-font-icon="icon-arrow-left"></md-icon>
            </md-button>
            <div layout="row" layout-align="start center">
                <div layout="column" layout-align="start start">
                    <div class="subtitle secondary-text">
                        <span translate="Wallet Transaction List">Wallet Transaction List</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content" layout-margin>
        <div class="product-detail-form-container md-background-bg md-whiteframe-1dp">
            <form name="formWalletTransaction" novalidate class="ms-stepper" aria-invalid="false" style="padding: 24px">
                <div layout="row" layout-wrap>
                    <md-input-container flex="100" flex-gt-xs="50" flex-gt-sm="50" ng-if="IsShow">
                        <label>App Name</label>
                        <md-select Name="AppName" ng-model="model.idApp" md-on-close="clearSearchTerm()" data-md-container-class="selectdemoSelectHeader" ng-required="true" ng-change="GetDeviceID(model.idApp,true)">
                            <md-select-header class="demo-select-header">
                                <input ng-model="searchdropdown.searchAppInfo" type="search" placeholder="Search for a App .." class="demo-header-searchbox md-text" ng-keydown="onSearchChange($event)">
                            </md-select-header>
                            <md-option ng-value="{{o.id}}" ng-repeat="o in lstAppInfo |filter:searchdropdown.searchAppInfo| orderBy: 'AppName'">{{o.AppName}}</md-option>
                        </md-select>
                        <div ng-messages="formWalletTransaction.AppName.$error" ng-if="formWalletTransaction.AppName.$touched">
                            <div ng-message="required">
                                <span>App Name is required</span>
                            </div>
                        </div>
                    </md-input-container>
                    <md-input-container flex="100" flex-gt-xs="50" flex-gt-sm="50" ng-if="IsShow">
                        <label>Transaction</label>
                        <md-select Name="idChair" ng-model="model.Type" data-md-container-class="selectdemoSelectHeader">
                            <md-option value="Credit">Credit</md-option>
                            <md-option value="Debit">Debit</md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container class="md-block" flex="100" flex-gt-xs="50" flex-gt-sm="50">
                        <label>Amount </label>
                        <input name="Amount" type="number" ng-model="model.Amount" ng-required="true" min="0">
                        <div ng-messages="formWalletTransaction.Amount.$error" ng-if="formWalletTransaction.Amount.$touched">
                            <div ng-message="required">
                                <span>Amount is required</span>
                            </div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block" flex="100" flex-gt-xs="50" flex-gt-sm="50">
                        <label>DeviceId</label>
                        <md-select Name="DeviceId" ng-model="model.DeviceId" md-on-close="clearSearchTerm()" data-md-container-class="selectdemoSelectHeader" ng-required="model.Type == 'Debit'">
                            <md-select-header class="demo-select-header">
                                <input ng-model="searchdropdown.searchDeviceId" type="search" placeholder="Search for a DeviceId.." class="demo-header-searchbox md-text" ng-keydown="onSearchChange($event)">
                            </md-select-header>
                            <md-option value="{{o.DeviceId}}" ng-repeat="o in lstDeviceId |filter:searchdropdown.searchDeviceId| orderBy: 'DeviceId'">{{o.DeviceId}}</md-option>
                        </md-select>
                        <div ng-messages="formWalletTransaction.DeviceId.$error" ng-if="formWalletTransaction.DeviceId.$touched">
                            <div ng-message="required">
                                <span>DeviceId is required</span>
                            </div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block" flex="100" flex-gt-xs="50" flex-gt-sm="50">
                        <label>Remark </label>
                        <input name="Remark" type="text" ng-model="model.Remark" maxlength="300" md-maxlength="300">
                    </md-input-container>
                </div>
                <div ng-show="FlgImage" class="row" flex="100" flex-gt-xs="100">
                    <md-input-container flex="100" flex-gt-xs="100" flex-gt-sm="50">
                        <div ng-if="model.PaymentReceipt != '' && model.PaymentReceipt != null">
                            <img ng-src="{{RoutePath}}MediaUploads/WalletReceipt/{{model.PaymentReceipt}}" id="UploadedImage" err-src="assets/images/no-image.png" width="150px" />
                            <br />
                        </div>
                        <md-button class="md-raised md-primary" ng-click="RemoveImage()">Remove</md-button>
                    </md-input-container>
                </div>
                <div layout="row" flex="100" flex-gt-sm="100" flex-gt-md="50">
                    <label>Image</label>
                    <md-input-container class="md-block" flex>
                        <lf-ng-md-file-input id="fileInput" name="files00" lf-files="Mediafiles" lf-api="apiMedia" lf-mimetype="image/*" preview base-sixty-four-input></lf-ng-md-file-input>
                        <div ng-messages="formWalletTransaction.files00.$error" style="color:red;">
                            <div ng-message="mimetype">Only image file supported</div>
                        </div>
                    </md-input-container>
                </div>
                <div align="center">
                    <md-button class="md-raised md-primary" ng-click="CreateWallet(model)" ng-disabled="!vm.isFormValid('formWalletTransaction')">
                        <span translate="SAVE">SAVE</span>
                    </md-button>
                    <md-button class="md-raised md-warn" ng-click="Cancel()">Cancel</md-button>
                </div>
            </form>
        </div>
    </div>
</div>