<div id="e-commerce-products" class="page-layout carded fullwidth" layout="row">

    <!-- TOP BACKGROUND -->
    <div class="top-bg md-accent-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center" layout="column" flex>

        <!-- CONTENT HEADER -->
        <div class="header" layout="row" layout-wrap layout-align="space-between center">
            <div class="white-fg" layout="row" layout-gt-xs="row" layout-gt-sm="column" layout-align="start start">
                <div class="h1" layout="row" layout-align="start center">
                    <md-icon md-font-icon="icon-cube-outline"></md-icon>
                    <span translate="Change Password">Change Password</span>
                </div>
            </div>
        </div>
        <!-- / CONTENT HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card" layout="column" flex>
            <!-- CONTENT TOOLBAR -->


            <!-- / CONTENT TOOLBAR -->

            <!-- CONTENT -->
            <div class="content fullpage-datatable" layout="column" flex>
                <div class="product-detail-form-container md-background-bg">
                    <form name="FormChangePassword" novalidate class="ms-stepper" aria-invalid="false" style="padding: 24px">
                        <md-content class="content" ms-scroll>
                            <md-input-container class="md-block" flex-gt-sm="50">
                                <label>Old Password </label>
                                <input name="oldpassword" type="password" ng-model="model.oldpassword" ng-required="true" md-maxlength="100">
                                <div ng-messages="FormChangePassword.oldpassword.$error" ng-if="FormChangePassword.oldpassword.$touched">
                                    <div ng-message="required">
                                        <span>Old Password is required</span>
                                    </div>
                                    <div ng-message="md-maxlength">
                                        <span>Old Password is 100 char long</span>
                                    </div>
                                </div>
                            </md-input-container>
                            <md-input-container class="md-block" flex-gt-sm="50">
                                <label>Password </label>
                                <input name="password" type="password" ng-model="model.password" ng-required="true" md-maxlength="100">
                                <div ng-messages="FormChangePassword.password.$error" ng-if="FormChangePassword.password.$touched">
                                    <div ng-message="required">
                                        <span>Password is required</span>
                                    </div>
                                    <div ng-message="md-maxlength">
                                        <span>Password is 100 char long</span>
                                    </div>
                                </div>
                            </md-input-container>
                            <md-input-container class="md-block" flex-gt-sm="50">
                                <label>Confirm Password </label>
                                <input name="confirmpassword" type="password" ng-model="model.confirmpassword" ng-required="true" md-maxlength="100">
                                <div ng-messages="FormChangePassword.confirmpassword.$error" ng-if="FormChangePassword.confirmpassword.$touched">
                                    <div ng-message="required">
                                        <span>Confirm Password is required</span>
                                    </div>
                                    <div ng-message="md-maxlength">
                                        <span>Confirm Password is 100 char long</span>
                                    </div>
                                </div>
                            </md-input-container>
                            <div layout="row" layout-align="start center">
                                <md-button class="md-raised md-accent" ng-if="FlgModifiedAccess" ng-disabled="FormChangePassword.$invalid" ng-click="ChangePassword(model)">Change Password</md-button>
                                <md-button class="md-raised md-default" ng-click="Reset()">Cancel</md-button>
                            </div>
                            <br/>
                        </md-content>
                    </form>
                </div>
            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>