<md-content>
    <div id="simple-table" class="page-layout simple fullwidth doc-page element-doc-page">
        <div class="header md-accent-bg layout-align-space-between-stretch layout-row" layout="row" layout-align="space-between">
            <div layout="column" layout-align="center start" class="layout-align-center-start layout-column">
                <div class="breadcrumb layout-align-start-center layout-row" layout="row" layout-align="start center">
                    <md-icon md-font-icon="icon-home" class="s16 ng-isolate-scope md-font icon-home material-icons md-default-theme" aria-hidden="true"></md-icon>
                    <md-icon md-font-icon="icon-chevron-right" class="s16 separator ng-isolate-scope md-font icon-chevron-right material-icons md-default-theme" aria-hidden="true"></md-icon><span class="parent">Change Password</span>
                </div>
                <div class="title">Change Password</div>
            </div>
        </div>
        <div class="content">
            <div class="white-bg md-whiteframe-4dp">
                <form name="FormChangePassword" class="md-inline-form" novalidate>
                    <md-tabs md-selected="tab.selectedIndex" md-dynamic-height md-border-bottom>
                        <md-tab label="Change Password" ng-click="ResetTab()">
                            <div id="simple-table" class="page-layout simple fullwidth doc-page element-doc-page">
                                <div class="content custom-content">
                                    <md-content class="content" ms-scroll>
                                        <md-input-container class="md-block" flex-gt-sm="50">
                                            <label>Old password *</label>
                                            <input name="oldpassword" type="password" ng-model="model.oldpassword" ng-required="true" md-maxlength="100">
                                            <div ng-messages="FormChangePassword.oldpassword.$error" ng-if="FormChangePassword.oldpassword.$touched">
                                                <div ng-message="required">
                                                    <span>Old password is required</span>
                                                </div>
                                                <div ng-message="md-maxlength">
                                                    <span>Old password is 100 char long</span>
                                                </div>
                                            </div>
                                        </md-input-container>
                                        <md-input-container class="md-block" flex-gt-sm="50">
                                            <label>Password *</label>
                                            <input name="password" type="password" ng-model="model.password" ng-required="true" md-maxlength="100">
                                            <div ng-messages="FormChangePassword.password.$error" ng-if="FormChangePassword.password.$touched">
                                                <div ng-message="required">
                                                    <span>Password is required</span>
                                                </div>
                                                <div ng-message="md-maxlength">
                                                    <span>Password is 100 char long</span>
                                                </div>
                                            </div>
                                        </md-input-container>
                                        <md-input-container class="md-block" flex-gt-sm="50">
                                            <label>Confirm password *</label>
                                            <input name="confirmpassword" type="password" ng-model="model.confirmpassword" ng-required="true" md-maxlength="100">
                                            <div ng-messages="FormChangePassword.confirmpassword.$error" ng-if="FormChangePassword.confirmpassword.$touched">
                                                <div ng-message="required">
                                                    <span>Confirm password is required</span>
                                                </div>
                                                <div ng-message="md-maxlength">
                                                    <span>Confirm password is 100 char long</span>
                                                </div>
                                            </div>
                                        </md-input-container>
                                        <div layout="row" layout-align="start center">
                                            <md-button class="md-raised md-accent" ng-if="FlgModifiedAccess" ng-disabled="FormChangePassword.$invalid" ng-click="ChangePassword(model)">Change Password</md-button>
                                            <md-button class="md-raised md-default" ng-click="Reset()">Cancel</md-button>
                                        </div>
                                        <br/>
                                    </md-content>
                                </div>
                            </div>
                        </md-tab>
                    </md-tabs>
                </form>
            </div>
        </div>
    </div>
</md-content>
