<div id="simple-table" class="page-layout simple fullwidth doc-page element-doc-page">
    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="space-between">
        <div layout="column" layout-align="center start">
            <div class="breadcrumb" layout="row" layout-align="start center">
                <md-icon md-font-icon="icon-home" class="s16"></md-icon>
                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent">Warehouse</span>
            </div>
            <div class="title">Warehouse</div>
        </div>
    </div>
    <!-- / HEADER -->
    <!-- CONTENT -->
    <div class="content">
        <md-content class="widget-page">
            <md-tabs md-dynamic-height md-selected="tab.selectedIndex" md-border-bottom>
                <md-tab label="List of Warehouse">
                    <md-content class="md-padding" md-selected="selectedIndex">
                        <div class="md-whiteframe-4dp">
                            <table class="dataTable row-border hover" datatable="ng" dt-options="dtOptions" dt-column-defs="vm.dtColumnDefs">
                                <thead>
                                    <tr>
                                        <th class="all">
                                            <div class="table-header">
                                                <span class="column-title">No</span>
                                            </div>
                                        </th>
                                        <th class="secondary-text">
                                            <div class="table-header">
                                                <span class="column-title">Name</span>
                                            </div>
                                        </th>
                                        <th class="all">
                                            <div class="table-header">
                                                <span class="column-title">Action</span>
                                            </div>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="o in lstWarehouse">
                                        <td>{{ $index+1 }}</td>
                                        <td>{{ o.Name }}</td>
                                        <td>
                                            <md-button class="md-icon-button md-accent md-raised md-hue-2" ng-click="FetchWarehouseById(o)">
                                                <md-icon md-font-icon="icon-pencil-box-outline"></md-icon>
                                            </md-button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </md-content>
                </md-tab>
                <md-tab label="Manage Warehouse" ng-click="ResetModel()">
                    <md-content class="md-padding">
                        <div class="md-whiteframe-4dp">
                            <div class="md-padding">
                                <form name="formWarehouse" class="md-inline-form">
                                    <md-content class="md-padding">
                                        <md-input-container class="md-block" flex-gt-sm="50" ng-hide="true">
                                            <label>Id</label>
                                            <input ng-model="model.Id">
                                        </md-input-container>
                                        <md-input-container class="md-block" flex-gt-sm="50">
                                            <label>Warehouse name *</label>
                                            <input name="Name" ng-model="model.Name" ng-required="true" maxlength="50" md-maxlength="50">
                                            <div ng-messages="formWarehouse.Name.$error" ng-if="formWarehouse.Name.$touched">
                                                <div ng-message="required">
                                                    <span>Warehouse name is required</span>
                                                </div>
                                            </div>
                                        </md-input-container>
                                        <md-input-container class="md-block" flex-gt-sm="50">
                                            <label>Admin comment</label>
                                            <input name="AdminComment" ng-model="model.AdminComment">
                                        </md-input-container>
                                        <md-input-container class="md-block" flex-gt-sm="50">
                                            <label>Country name
                                                <md-icon >*</md-icon>
                                            </label>
                                            <md-select ng-model="model.CountryId" ng-required="true" ng-change="GetAllStateByCountry(model.CountryId)">
                                                <md-option ng-repeat="o in lstCountry" value=" {{o.id}}">{{o.Country}}</md-option>
                                            </md-select>
                                        </md-input-container>
                                        <md-input-container class="md-block" flex-gt-sm="50">
                                            <label>State name
                                                <md-icon >*</md-icon>
                                            </label>
                                            <md-select ng-model="model.StateProvinceId" ng-required="true" ng-disabled="model.CountryId==''">
                                                <md-option ng-repeat="o in lstState" value="{{o.id}}">{{ o.Name }}</md-option>
                                            </md-select>
                                        </md-input-container>
                                        <md-input-container class="md-block" flex-gt-sm="50">
                                            <label>City</label>
                                            <input name="City" ng-model="model.City" maxlength="25"  maxlength="50" md-maxlength="50">
                                        </md-input-container>
                                        <md-input-container class="md-block" flex-gt-sm="50">
                                            <label>Address1</label>
                                            <input name="Address1" ng-model="model.Address1">
                                        </md-input-container>
                                        <md-input-container class="md-block" flex-gt-sm="50">
                                            <label>Zipcode *</label>
                                            <input name="ZipPostalCode" string-to-number ng-model="model.ZipPostalCode" ng-required="true" placeholder="12345" type="number" max="99999999" min='0'>
                                            <div ng-messages="formWarehouse.ZipPostalCode.$error" ng-if="formWarehouse.ZipPostalCode.$touched">
                                                <div ng-message="max" class="my-message">Zipcode can't be longer than 8 number.</div>
                                                <div ng-message="required">
                                                    <span>Zip code is required</span>
                                                </div>
                                            </div>
                                        </md-input-container>
                                        <md-input-container class="md-block" flex-gt-sm="50">
                                            <label>Phone number </label>
                                            <input name="PhoneNumber" ng-model="model.PhoneNumber" type="number" max="9999999999" min='0' placeholder="1234567890">
                                            <div ng-messages="formWarehouse.PhoneNumber.$error" role="alert">
                                                <div ng-message="max" class="my-message">Phone number can't be longer than 10 number</div>
                                            </div>
                                        </md-input-container>
                                    </md-content>
                                    <div align="left">
                                        <md-button class="md-raised md-primary" ng-disabled="!formWarehouse.$valid" ng-click="CreateWarehouse(model)">Save</md-button>
                                        <md-button class="md-raised md-warn" ng-click="Reset()">Cancel</md-button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </md-content>
                </md-tab>
            </md-tabs>
        </md-content>
    </div>
    <!-- / CONTENT -->
</div>
