<md-content>
    <div id="simple-table" class="page-layout simple fullwidth doc-page element-doc-page">
        <!-- HEADER -->
        <div class="header md-accent-bg" layout="row" layout-align="space-between">
            <div layout="column" layout-align="center start">
                <div class="breadcrumb" layout="row" layout-align="start center">
                    <md-icon md-font-icon="icon-home" class="s16"></md-icon>
                    <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                    <span class="parent">Enquiry Management</span>
                </div>
                <div class="title">Enquiry</div>
            </div>
        </div>
        <!-- / HEADER -->
        <!-- CONTENT -->
        <div class="content">
            <md-content class="md-padding">
                <div align="center">
                    <label>Start Date:</label>
                    <input mdc-datetime-picker date="true" time="false" type="text" id="time" min-date="minDate" format="DD-MM-YYYY" ng-model="model.StartDate">
                    <label>End Date:</label>
                    <input mdc-datetime-picker date="true" time="false" type="text" id="time" min-date="model.StartDate" format="DD-MM-YYYY" ng-model="model.EndDate">
                    <button class="md-accent md-raised md-icon-button go-button md-button md-ink-ripple md-default-theme" type="button" ng-click="vm.GetAllEnquiry(true)" aria-label="Go">
                        <md-icon class="ng-scope ng-isolate-scope material-icons md-default-theme">Go</md-icon>
                    </button>
                    <md-button class="md-icon-button md-raised" ng-click="ClearDate()">
                        <md-icon md-font-icon="icon-close"></md-icon>
                    </md-button>
                </div>
                <!--end -->
                <table id="Enquirytable" class="dataTable row-border hover" dt-instance="dtInstance" datatable="" dt-columns="dtColumnDefs" dt-options="dtOptions">
                    <thead>
                        <tr>
                            <th class="all">
                                <div class="table-header">
                                    <span class="column-title">No</span>
                                </div>
                            </th>
                            <!-- <th class="secondary-text">
                            <div class="table-header">
                                <span class="column-title">Title</span>
                            </div>
                        </th> -->
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Region</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Detail</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Message</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Status</span>
                                </div>
                            </th>
                            <th class="all">
                                <div class="table-header">
                                    <span class="column-title">Action</span>
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <!--<tbody>
                    <tr ng-repeat="p in data ">
                        <td>{{ $index+1 }}</td>
                        <td>{{ p.Country }}</td>
                        <td>{{ p.Country }}</td>
                        <td>{{ p.Country }}</td>
                        <td>{{ p.Country }}</td>
                        <td>{{ p.Country }}</td>
                    </tr>
                </tbody>-->
                </table>
            </md-content>
        </div>
        <!-- / CONTENT -->
    </div>
</md-content>
