<div id="simple-table" class="page-layout simple fullwidth doc-page element-doc-page">

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="space-between">
        <div layout="column" layout-align="center start">
            <div class="breadcrumb" layout="row" layout-align="start center">
                <md-icon md-font-icon="icon-home" class="s16"></md-icon>
                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent">Media Setting</span>
            </div>
            <div class="title">Media Setting</div>
        </div>
    </div>
    <!-- / HEADER -->
    <!-- CONTENT -->
    <div class="content">

        <md-content class="widget-page">
            <md-tabs md-dynamic-height md-selected="tab.selectedIndex" md-border-bottom>
                <md-tab label="List of Media Setting">
                    <md-content class="md-padding" md-selected="selectedIndex">
                        <div class="md-whiteframe-4dp">
                            <table class="dataTable row-border hover" datatable="ng" dt-options="dtOptions" dt-column-defs="vm.dtColumnDefs">
                                <thead>
                                    <tr>
                                        <th class="all">
                                            <div class="table-header">
                                                <span class="column-title">No</span>
                                            </div>
                                        </th>
                                        <th class="secondary-text">
                                            <div class="table-header">
                                                <span class="column-title">Height</span>
                                            </div>
                                        </th>
                                        <th class="secondary-text">
                                            <div class="table-header">
                                                <span class="column-title">Width</span>
                                            </div>
                                        </th>
                                        <th class="all">
                                            <div class="table-header">
                                                <span class="column-title">Action</span>
                                            </div>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="o in lstMediaSetting">
                                        <td>{{ $index+1 }}</td>
                                        <td>{{ o.Height }}</td>
                                        <td>{{ o.Width }}</td>
                                        <td>
                                            <md-button class="md-icon-button md-accent md-raised md-hue-2" ng-click="FetchMediaSetting(o)">
                                                <md-icon md-font-icon="icon-pencil-box-outline"></md-icon>
                                            </md-button>
                                            <md-button class="md-icon-button md-raised md-warn md-raised md-hue-2" ng-click="DeleteMediaSetting(o.id)">
                                                <md-icon md-font-icon="icon-trash"></md-icon>
                                            </md-button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </md-content>
                </md-tab>
                <md-tab label="Manage Media Setting" ng-click="ResetModel()">
                    <md-content class="md-padding">
                        <div class="md-whiteframe-4dp">
                            <div class="md-padding">
                                <md-tabs md-dynamic-height md-border-bottom>
                                    <md-tab label="Standard">
                                        <form name="formMdediaSetting" class="md-inline-form">
                                            <md-content class="md-padding">
                                                <md-input-container class="md-block" flex-gt-sm="50" ng-hide="true">
                                                    <label>Id</label>
                                                    <input ng-model="model.id">
                                                </md-input-container>
                                                <md-input-container class="md-block" flex-gt-sm="50">
                                                    <label>Height *</label>
                                                    <input name="Height" ng-model="model.Height" placeholder="12345" type="number" max="99999" min='0' ng-required="true">
                                                    <div ng-messages="formMdediaSetting.Height.$error" ng-if="formMdediaSetting.Height.$touched">
                                                        <div ng-message="required"><span>Height is required</span></div>
                                                        <div ng-message="max" class="my-message">Height can't be longer than 5 number</div>
                                                    </div>
                                                </md-input-container>
                                                <md-input-container class="md-block" flex-gt-sm="50">
                                                    <label>Width *</label>
                                                    <input name="Width" ng-model="model.Width" placeholder="12345" type="number" max="99999" min='0' ng-required="true">
                                                    <div ng-messages="formMdediaSetting.Width.$error" ng-if="formMdediaSetting.Width.$touched">
                                                        <div ng-message="required"><span>Width is required</span></div>
                                                        <div ng-message="max" class="my-message">Width can't be longer than 5 number</div>
                                                    </div>
                                                </md-input-container>
                                            </md-content>
                                            <div align="left">
                                                <md-button class="md-raised md-primary" ng-disabled="!formMdediaSetting.$valid" ng-click="CreateMediaSetting(model)">Save</md-button>
                                                <md-button class="md-raised md-warn" ng-click="Reset()">Cancel</md-button>
                                            </div>
                                        </form>
                                    </md-tab>
                                </md-tabs>
                            </div>
                        </div>
                    </md-content>
                </md-tab>
            </md-tabs>
        </md-content>



    </div>
    <!-- / CONTENT -->

</div>