<div id="forgot-password" class="flex-scrollable" layout="column" ms-scroll>
    <div id="forgot-password-form-wrapper" layout="column" layout-align="center center">
        <div id="forgot-password-form" class="md-whiteframe-8dp">
            <div class="logo md-accent-bg">
            </div>
            <div class="title">Reset your password</div>
            <form name="forgotPasswordForm">
                <md-input-container class="md-block">
                    <input type="email" name="email" ng-model="model.email" placeholder="Email address" required>
                    <div ng-messages="forgotPasswordForm.email.$error" ng-if="forgotPasswordForm.email.$touched" role="alert">
                        <div ng-message="required">
                            <span>Email field is required</span>
                        </div>
                        <div ng-message="email">
                            <span>Email must be a valid e-mail address</span>
                        </div>
                    </div>
                </md-input-container>
                <md-button type="submit" class="md-raised md-accent submit-button" aria-label="RESET MY PASSWORD" ng-click="ResetPassword()" ng-disabled="forgotPasswordForm.$invalid">
                    Reset Password
                </md-button>
            </form>
            <div class="login" layout="row" layout-align="center center">
                <a class="link" ui-sref="app.login">Go back to login</a>
            </div>
        </div>
    </div>
</div>
