<div id="e-commerce-products" class="page-layout carded fullwidth" layout="row">
    <div class="top-bg md-accent-bg"></div>
    <div class="center" layout="column" flex>
        <div class="header" layout="row" layout-wrap layout-align="space-between center">
            <div class="white-fg" layout="row" layout-gt-xs="row" layout-gt-sm="column" layout-align="start start">
                <div class="h1" layout="row" layout-align="start center">
                    <md-icon md-font-icon="icon-cube-outline"></md-icon>
                    <span translate="Assign Device to Agent">Assign Device to Agent</span>
                </div>
            </div>
            <div class="search" layout="row" layout-align="start center" flex="60" flex-gt-xs="60" flex-gt-sm="33" align="center">
                <md-icon md-font-icon="icon-magnify" class="white-text icon search-icon"></md-icon>
                <input id="modelsearch" ng-model="searchTerm" class="search-input" ng-change="onSearch(searchTerm)" type="text" placeholder="Search" translate translate-attr-placeholder="SEARCH" flex>
            </div>
            <div flex="40" flex-gt-xs="40" flex-gt-sm="33" layout="row" layout-align="end center">
                <md-button class="md-icon-button  md-raised md-hue-2" ng-click="showAssignDeviceByExcelModal($event)" aria-label="Assign using Excel">
                    <md-icon md-font-icon="icon-import"></md-icon>
                    <md-tooltip md-visible="" md-direction="">Assign from Excel</md-tooltip>
                </md-button>
                <md-button class="md-icon-button  md-raised md-hue-2" ng-click="downloadExcelTemplate()" aria-label="Download Excel Template">
                    <md-icon md-font-icon="icon-download"></md-icon>
                    <md-tooltip md-visible="" md-direction="">Download Template</md-tooltip>
                </md-button>
            </div>
        </div>
        <div class="content-card" layout="column" flex>
            <div class="content fullpage-datatable" layout="column" layout-padding flex>
                <div class="row">
                    <md-autocomplete md-selected-item="selectedAgent" md-selected-item-change="onAgentSelected()" md-search-text="searchAgent" md-items="agent in GetAutocompleteAgents(searchAgent)" md-item-text="agent.username" md-require-match="true" md-delay="150" placeholder="Type in an agent username">
                        <md-item-template>
                            <span md-highlight-text="searchAgent">{{ agent.username }}</span>
                        </md-item-template>
                        <md-not-found>
                            No matching agent found.
                        </md-not-found>
                    </md-autocomplete>
                </div>
                <table ng-if="UserRoles.indexOf('Super Admin') !== -1" id="assign-device-table" class="dataTable cell-border row-border hover" datatable="" dt-options="dtOptions" dt-instance="dtInstance" dt-columns="dtColumns">
                    <thead>
                        <th class="all">
                            <div class="table-header">
                                <span class="column-title">#</span>
                            </div>
                        </th>
                        <th class="secondary-text">
                            <div class="table-header">
                                <span class="column-title">Device ID</span>
                            </div>
                        </th>
                        <th class="secondary-text">
                            <div class="table-header">
                                <span class="column-title">Type</span>
                            </div>
                        </th>
                        <th class="secondary-text">
                            <div class="table-header">
                                <span class="column-title">IMEI</span>
                            </div>
                        </th>
                        <th class="secondary-text">
                            <div class="table-header">
                                <span class="column-title">Version</span>
                            </div>
                        </th>
                        <th class="all">
                            <div class="table-header">
                                <span class="column-title">SIM Serial</span>
                            </div>
                        </th>
                        <th class="all">
                            <div class="table-header">
                                <span class="column-title">Phone Number</span>
                            </div>
                        </th>
                        <th class="all">
                            <div class="table-header">
                                <span class="column-title">Telco</span>
                            </div>
                        </th>
                        <th class="secondary-text">
                            <div class="table-header">
                                <span class="column-title">App Name</span>
                            </div>
                        </th>
                        <th class="secondary-text">
                            <div class="table-header">
                                <span class="column-title">Expiry Datetime</span>
                            </div>
                        </th>
                        <th class="secondary-text">
                            <div class="table-header">
                                <span class="column-title">Created Datetime</span>
                            </div>
                        </th>
                        <th class="secondary-text">
                            <div class="table-header">
                                <span class="column-title">Created By</span>
                            </div>
                        </th>
                        <th class="all">
                            <div class="table-header">
                                <span class="column-title">Is Active</span>
                            </div>
                        </th>
                        <th class="all">
                            <div class="table-header">
                                <span class="column-title">Assign</span>
                            </div>
                        </th>
                    </thead>
                </table>
                <table ng-if="UserRoles.indexOf('Super Admin') === -1" id="assign-device-table" class="dataTable cell-border row-border hover" datatable="" dt-options="dtOptions" dt-instance="dtInstance" dt-columns="dtColumns2">
                    <thead>
                        <th class="all">
                            <div class="table-header">
                                <span class="column-title">#</span>
                            </div>
                        </th>
                        <th class="secondary-text">
                            <div class="table-header">
                                <span class="column-title">Device ID</span>
                            </div>
                        </th>
                        <th class="secondary-text">
                            <div class="table-header">
                                <span class="column-title">Type</span>
                            </div>
                        </th>
                        <th class="secondary-text">
                            <div class="table-header">
                                <span class="column-title">IMEI</span>
                            </div>
                        </th>
                        <th class="secondary-text">
                            <div class="table-header">
                                <span class="column-title">Version</span>
                            </div>
                        </th>
                        <th class="all">
                            <div class="table-header">
                                <span class="column-title">SIM Serial</span>
                            </div>
                        </th>
                        <th class="all">
                            <div class="table-header">
                                <span class="column-title">Phone Number</span>
                            </div>
                        </th>
                        <th class="all">
                            <div class="table-header">
                                <span class="column-title">Telco</span>
                            </div>
                        </th>
                        <th class="secondary-text">
                            <div class="table-header">
                                <span class="column-title">Expiry Datetime</span>
                            </div>
                        </th>
                        <th class="secondary-text">
                            <div class="table-header">
                                <span class="column-title">Created Datetime</span>
                            </div>
                        </th>
                        <th class="secondary-text">
                            <div class="table-header">
                                <span class="column-title">Created By</span>
                            </div>
                        </th>
                        <th class="all">
                            <div class="table-header">
                                <span class="column-title">Is Active</span>
                            </div>
                        </th>
                        <th class="all">
                            <div class="table-header">
                                <span class="column-title">Assign</span>
                            </div>
                        </th>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>