<md-content>
    <div id="simple-table" class="page-layout simple fullwidth doc-page element-doc-page">
        <!-- HEADER -->
        <div class="header md-accent-bg" layout="row" layout-align="space-between">
            <div layout="column" layout-align="center start">
                <div class="breadcrumb" layout="row" layout-align="start center">
                    <md-icon md-font-icon="icon-home" class="s16"></md-icon>
                    <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                    <span class="parent">Tax Category</span>
                </div>
                <div class="title">Tax Category</div>
            </div>
        </div>
        <!-- / HEADER -->
        <!-- CONTENT -->
        <div class="content">
            <md-content class="md-whiteframe-4dp">
                <form name="formTaxCategory" class="md-inline-form">
                    <md-tabs md-dynamic-height md-selected="tab.selectedIndex" md-border-bottom>
                        <!--  <md-tab label="List of Tax Category" ng-click="ResetTab()"> -->
                        <md-tab label="List of Tax Category" ng-click="Reset()">
                            <md-content class="md-padding" md-selected="selectedIndex">
                                <div class="custom-content">
                                    <table class="dataTable row-border hover" datatable="ng" dt-options="dtOptions" dt-column-defs="vm.dtColumnDefs">
                                        <thead>
                                            <tr>
                                                <th class="all">
                                                    <div class="table-header">
                                                        <span class="column-title">No</span>
                                                    </div>
                                                </th>
                                                <th class="secondary-text">
                                                    <div class="table-header">
                                                        <span class="column-title">Name</span>
                                                    </div>
                                                </th>
                                                <th class="secondary-text">
                                                    <div class="table-header">
                                                        <span class="column-title">Display Order</span>
                                                    </div>
                                                </th>
                                                <th class="all">
                                                    <div class="table-header">
                                                        <span class="column-title">Action</span>
                                                    </div>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="o in lstTextCategory">
                                                <td>{{ $index+1 }}</td>
                                                <td>{{ o.Name }}</td>
                                                <td>{{ o.DisplayOrder }}</td>
                                                <td>
                                                    <md-button class="md-icon-button md-accent md-raised md-hue-2" ng-if="FlgModifiedAccess" ng-click="FetchTaxCategoryById(o)">
                                                        <md-icon md-font-icon="icon-pencil-box-outline"></md-icon>
                                                    </md-button>
                                                    <md-button class="md-icon-button md-raised md-warn md-raised md-hue-2" ng-if="FlgDeletedAccess" ng-click="DeleteTaxCategory(o.Id)">
                                                        <md-icon md-font-icon="icon-trash"></md-icon>
                                                    </md-button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </md-content>
                        </md-tab>
                        <md-tab label="Manage Tax Category" ng-click="ResetModel()" ng-if="FlgAddedEditlocal">
                            <div class="custom-content">
                                <md-content class="md-padding">
                                    <md-input-container class="md-block" flex-gt-sm="50" ng-hide="true">
                                        <label>Id</label>
                                        <input ng-model="model.Id">
                                    </md-input-container>
                                    <md-input-container class="md-block" flex-gt-sm="50">
                                        <label>Name *</label>
                                        <input name="Name" ng-model="model.Name" ng-required="true" maxlength="50" md-maxlength="50">
                                        <div ng-messages="formTaxCategory.Name.$error" ng-if="formTaxCategory.Name.$touched">
                                            <div ng-message="required">
                                                <span>Name is required</span>
                                            </div>
                                        </div>
                                    </md-input-container>
                                    <md-input-container class="md-block" flex-gt-sm="50">
                                        <label>Display order *</label>
                                        <input name="DisplayOrder" ng-model="model.DisplayOrder" placeholder="12345" type="number" max="99999" min='0' required>
                                        <div ng-messages="formTaxCategory.DisplayOrder.$error" ng-if="formTaxCategory.DisplayOrder.$touched">
                                            <div ng-message="max" class="my-message">Display order can't be longer than 5 number</div>
                                            <div ng-message="required">
                                                <span>Display order is required</span>
                                            </div>
                                        </div>
                                    </md-input-container>
                                    <div align="left">
                                        <md-button class="md-raised md-primary" ng-disabled="!formTaxCategory.$valid" ng-click="CreateTaxCategory(model)">Save</md-button>
                                        <md-button class="md-raised md-warn" ng-click="Reset()">Cancel</md-button>
                                    </div>
                                </md-content>
                            </div>
                        </md-tab>
                    </md-tabs>
                </form>
            </md-content>
        </div>
        <!-- / CONTENT -->
    </div>
</md-content>
