<md-dialog class="flex-40">
  <md-toolbar class="md-accent md-hue-2">
    <div class="md-toolbar-tools">
      <h2>Payment</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="closeModel()">
        <md-icon md-font-icon="icon-close" aria-label="Close dialog"></md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content>
    <ms-form-wizard flex>
      <form name="formUpdateDevice" novalidate class="ms-stepper" aria-invalid="false">
        <md-content align="center">
          <h2>Order No. :
            <strong>{{model.PurchaseOrderNumber}}</strong>
          </h2>
          <h3>Order Total :
            <strong>{{model.OrderTotal}}</strong>
          </h3>

          <!-- <div layout="row" layout-wrap align="left">
            <div flex="100" flex-gt-sm="50">
              <h3>Order No. :
                <strong>{{model.PurchaseOrderNumber}}</strong>
              </h3>
            </div>
            <div flex="100" flex-gt-sm="50">
              <h3>Order Total :
                <strong>{{model.OrderTotal}}</strong>
              </h3>
            </div>
          </div> -->

          <md-button class="md-raised md-primary" ng-click="SendPaymentLink(model)">Send Payment Link</md-button>
          <md-button class="md-raised md-warn" ng-click="Reset()">Cancel</md-button>
        </md-content>

      </form>
    </ms-form-wizard>
  </md-dialog-content>
</md-dialog>
