<div id="e-commerce-products" class="page-layout carded fullwidth" layout="row" ng-show="!flag">
    <div class="top-bg md-accent-bg"></div>
    <div class="center" layout="column" flex>
        <div class="header" layout="row" layout-wrap layout-align="space-between center">
            <div class="white-fg" layout="row" layout-gt-xs="row" layout-gt-sm="column" layout-align="start start">
                <div class="h1" layout="row" layout-align="start center">
                    <md-icon md-font-icon="icon-cube-outline"></md-icon>
                    <span translate="GPS"> GPS</span>
                </div>
                <div class="product-count secondary-text" hide-xs>
                    <span>* Device ID field required to search data</span>
                    <!-- <b>{{lstDetail}}</b> -->
                </div>
            </div>
            <!-- <div class="search"> -->
            <!-- <form name="formGPS" novalidate class="search" aria-invalid="false" layout="row" layout-align="start center" flex="60" flex-gt-xs="60" flex-gt-sm="33" align="center">
                <md-icon md-font-icon="icon-magnify" class="white-text icon search-icon"></md-icon>
                <input type="text" name="DeviceId" class="search-input" ng-model="ModelSearch.DeviceId" placeholder="Enter Device ID*" required flex>
            </form> -->
            <!-- </div> -->
            <!-- <div flex="100" flex-gt-xs="40" flex-gt-sm="33" layout="row" layout-align-gt-xs="start center" layout-align-gt-sm="end center">
                <md-button class="md-icon-button md-raised md-hue-2" ng-disabled="!formGPS.$valid" ng-click="GetAllGpsData(true)" aria-label="Search">
                    <md-icon md-font-icon="icon-magnify"></md-icon>
                    <md-tooltip md-visible="" md-direction="">Search </md-tooltip>
                </md-button>
                <md-button class="md-icon-button md-warn md-raised md-hue-2" ng-click="SearchReset()" aria-label="Reset Search">
                    <md-icon md-font-icon="icon-refresh"></md-icon>
                    <md-tooltip md-visible="" md-direction="">Reset Search </md-tooltip>
                </md-button>
            </div> -->
        </div>
        <div class="content-card" layout="column" flex>
            <div class="ShowContentBox">
                <form name="formGPS" novalidate class="md-inline-form" aria-invalid="false">
                    <div layout="row" layout-wrap>
                        <md-input-container class="md-block" flex="100" flex-gt-xs="50" flex-gt-sm="25" flex-gt-md="20">
                            <label>Start Date</label>
                            <input name="Start" mdc-datetime-picker date="true" time="true" type="text" id="time" min-date="minDate" format="DD-MM-YYYY hh:mm A" ng-model="ModelSearch.StartDate">
                        </md-input-container>
                        <md-input-container class="md-block" flex="100" flex-gt-xs="50" flex-gt-sm="25" flex-gt-md="20">
                            <label>End Date</label>
                            <input name="End" mdc-datetime-picker date="true" time="true" type="text" id="time2" min-date="minDate" format="DD-MM-YYYY hh:mm A" ng-model="ModelSearch.EndDate">
                        </md-input-container>
                        <md-input-container flex="100" flex-gt-xs="50" flex-gt-sm="25" flex-gt-md="20">
                            <label>Device ID</label>
                            <input type="text" name="DeviceId" ng-model="ModelSearch.DeviceId" required>
                            <div ng-messages="formGPS.DeviceId.$error" ng-if="formGPS.DeviceId.$touched" role="alert">
                                <div ng-message="required">
                                    <span>Device ID field is required</span>
                                </div>
                            </div>
                        </md-input-container>
                        <div align="left">
                            <md-button class="md-icon-button md-accent md-raised md-hue-2" ng-disabled="!formGPS.$valid" ng-click="GetAllGpsData(true)" aria-label="Search">
                                <md-icon md-font-icon="icon-magnify"></md-icon>
                                <md-tooltip md-visible="" md-direction="">Search </md-tooltip>
                            </md-button>
                            <md-button class="md-icon-button md-warn md-raised md-hue-2" ng-click="SearchReset()" aria-label="Reset Search">
                                <md-icon md-font-icon="icon-refresh"></md-icon>
                                <md-tooltip md-visible="" md-direction="">Reset Search </md-tooltip>
                            </md-button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="content fullpage-datatable" layout="column" flex ng-if="AppName != 'Tracking'">
                <table id="gps" class="dataTable cell-border row-border hover" datatable="" dt-instance="vm.dtInstance" dt-columns="dtColumns" dt-options="dtOptions">
                    <thead>
                        <tr>
                            <th class="all">
                                <div class="table-header">
                                    <span class="column-title">No</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Device ID</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Date & Time</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Latitude</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Longitude</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Positioning</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Speed</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Direction</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Engine</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Voltage</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">OdoMeter</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">AD1</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">AD2</span>
                                </div>
                            </th>
                            <!-- <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Altitude</span>
                                </div>
                            </th> -->
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Status</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Relay</span>
                                </div>
                            </th>
                            <!-- <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Is Siren Sound</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Is Lock The Door</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Is Unlock The Door</span>
                                </div>
                            </th> -->
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">External Powercut</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">SOS</span>
                                </div>
                            </th>
                            <!-- <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Is Door</span>
                                </div>
                            </th> -->
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="content fullpage-datatable" layout="column" flex ng-if="AppName == 'Tracking'">
                <table id="gps1" class="dataTable cell-border row-border hover" datatable="" dt-instance="vm.dtInstance1" dt-columns="dtColumns" dt-options="dtOptions">
                    <thead>
                        <tr>
                            <th class="all">
                                <div class="table-header">
                                    <span class="column-title">No</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Device ID</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Date & Time</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Latitude</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Longitude</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Positioning</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Speed</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Direction</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">IsEngine</span>
                                </div>
                            </th>

                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Altitude</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Status</span>
                                </div>
                            </th>
                        </tr>
                    </thead>
                </table>


            </div>
        </div>
    </div>
</div>