<md-dialog class="flex-50">
    <md-toolbar class="md-accent md-hue-2">
        <div class="md-toolbar-tools">
            <h2>Compose Email</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="closeModel()">
                <md-icon md-font-icon="icon-close" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <ms-form-wizard flex>
            <form name="formEmailTemplate" novalidate class="ms-stepper" aria-invalid="false">
                <md-content class="md-padding">
                    <md-input-container class="md-block" flex-gt-sm="50" ng-hide="true">
                        <label>Id</label>
                        <input ng-model="model.id">
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm="50">
                        <label>Email To</label>
                        <input name="EmailTo" ng-model="model.EmailTo" ng-disabled="true">
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm="50">
                        <label>Subject *</label>
                        <input name="EmailSubject" ng-model="model.EmailSubject" maxlength="150" md-maxlength="150" ng-required="true">
                        <div ng-messages="formEmailTemplate.EmailSubject.$error" role="alert">
                            <div ng-message="required">
                                <span>Email Subject is required.</span>
                            </div>
                        </div>
                    </md-input-container>
                    <label>Message</label>
                    <div layout-gt-sm="row">
                        <md-input-container class="md-block" flex>
                            <textarea ckeditor="editorOptions" name="EmailBody" ng-model="model.EmailBody"></textarea>
                        </md-input-container>
                    </div>
                </md-content>
                <div align="center">
                    <md-button class="md-raised md-primary" ng-disabled="!formEmailTemplate.$valid" ng-click="ReplyEnquiryEmail(model)">Send</md-button>
                    <md-button class="md-raised md-warn" ng-click="Reset()">Cancel</md-button>
                </div>
            </form>
        </ms-form-wizard>
    </md-dialog-content>
</md-dialog>