<div id="e-commerce-products" class="page-layout carded fullwidth" layout="row" ng-show="!flag">
    <div class="top-bg md-accent-bg"></div>
    <div class="center" layout="column" flex>
        <div class="header" layout="row" layout-wrap layout-align="space-between center">
            <div class="white-fg" layout="row" layout-gt-xs="row" layout-gt-sm="column" layout-align="start start">
                <div class="h1" layout="row" layout-align="start center">
                    <md-icon md-font-icon="icon-cube-outline"></md-icon>
                    <span translate="Renew Management">Renew Management</span>
                </div>
            </div>
            <div class="search" layout="row" layout-align="start center" flex="60" flex-gt-xs="60" flex-gt-sm="33"
                align="center">
                <md-icon md-font-icon="icon-magnify" class="white-text icon search-icon"></md-icon>
                <input id="search" ng-model="ModelSearch.Search" ng-change="GetSerch(ModelSearch.Search)"
                    class="search-input" type="text" placeholder="Search" translate translate-attr-placeholder="SEARCH"
                    flex>
            </div>
            <div flex="100" flex-gt-xs="40" flex-gt-sm="33" layout="row" layout-align-gt-xs="start center"
                layout-align-gt-sm="end center">
                <!-- <md-button class="md-icon-button  md-raised md-hue-2" ng-click="SendEmail()" aria-label="Search">
                    <md-icon md-font-icon="icon-email"></md-icon>
                    <md-tooltip md-visible="" md-direction="">Send Email</md-tooltip>
                </md-button> -->
                <md-button class="md-icon-button  md-raised md-hue-2" ng-click="toggle()" aria-label="Search"
                    ng-if="UserRoles=='Super Admin'">
                    <md-icon md-font-icon="icon-filter-variant"></md-icon>
                    <md-tooltip md-visible="" md-direction="">Advance Search</md-tooltip>
                </md-button>
            </div>
        </div>

        <div class="content-card" layout="column" flex>
            <ul class="tabsList">
                <li ng-click="ResetTabExpiringSoon()" ng-if="flaglink == 0"><a class="active">Expiring Soon</a></li>
                <li ng-click="ResetTabExpiringSoon()" ng-if="flaglink != 0"><a>Expiring Soon</a></li>
                <li ng-click="ResetTabActive()" ng-if="flaglink == 1"><a class="active">Active</a></li>
                <li ng-click="ResetTabActive()" ng-if="flaglink != 1"><a>Active</a></li>
                <li ng-click="ResetTabExpired()" ng-if="flaglink == 2"><a class="active">Expired</a></li>
                <li ng-click="ResetTabExpired()" ng-if="flaglink != 2"><a>Expired</a></li>
            </ul>
            <div class="ShowContentBox" ng-if="UserRoles=='Super Admin'">
                <i ng-show="flgforIcon" ng-click="toggle()" class="icon-close-circle-outline right closeIcon"></i>
                <div layout="row" layout-wrap>
                    <!--<md-input-container class="md-block" flex="100" flex-gt-xs="50" flex-gt-sm="25" flex-gt-md="15">
                        <label>Start ExpiryDate</label>
                        <input mdc-datetime-picker date="true" time="false" type="text" id="time" max-date="ModelSearch.EndDate" format="DD-MM-YYYY" ng-model="ModelSearch.StartDate">
                    </md-input-container>
                    <md-input-container class="md-block" flex="100" flex-gt-xs="50" flex-gt-sm="25" flex-gt-md="15">
                        <label>End ExpiryDate</label>
                        <input mdc-datetime-picker date="true" time="false" type="text" id="time" min-date="ModelSearch.StartDate" format="DD-MM-YYYY" ng-model="ModelSearch.EndDate">
                    </md-input-container>-->
                    <md-input-container class="md-block" flex="100" flex-gt-xs="50" flex-gt-sm="25" flex-gt-md="15" flex
                        ng-if="UserRoles=='Super Admin'">
                        <label>App Name</label>
                        <md-select name="idApp" ng-model="ModelSearch.idApp">
                            <md-option ng-value="-1">All</md-option>
                            <md-option ng-value="item.Id" ng-repeat="item in appNames">
                                {{ item.AppName }}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <div align="left">
                        <md-button class="md-icon-button md-accent md-raised md-hue-2"
                            ng-click="vm.GetAllRenewDetail(true)" aria-label="Search">
                            <md-icon md-font-icon="icon-magnify"></md-icon>
                            <md-tooltip md-visible="" md-direction="">Search </md-tooltip>
                        </md-button>
                        <md-button class="md-icon-button md-warn md-raised md-hue-2" ng-click="SearchReset()"
                            aria-label="Reset Search">
                            <md-icon md-font-icon="icon-refresh"></md-icon>
                            <md-tooltip md-visible="" md-direction="">Reset Search </md-tooltip>
                        </md-button>
                    </div>
                </div>
            </div>
            <div class="content-card " layout="column " flex>
                <div class="content fullpage-datatable " layout="column " flex ng-if="UserRoles=='Super Admin'">
                    <!-- <table class="dataTable cell-border row-border hover" datatable="ng" dt-options="dtCustomOptions" dt-instance="dtInstance" dt-column-defs="vm.dtColumnDefs" width="100%"> -->
                    <table id="RenewDetail" class="dataTable row-border hover" datatable="" dt-instance="vm.dtInstance"
                        dt-columns="dtColumns" dt-options="dtOptions" width="100%">
                        <thead>
                            <tr>
                                <th class="all ">
                                    <div class="table-header ">
                                        <span class="column-title ">No</span>
                                    </div>
                                </th>
                                <!--<th class="secondary-text ">
                                <div class="table-header ">
                                    <span class="column-title ">SIM Name</span>
                                </div>
                            </th>-->
                                <!-- <th class="secondary-text ">
                                    <div class="table-header ">
                                        <span class="column-title ">Licence No</span>
                                    </div>
                                </th> -->
                                <!-- <th class="secondary-text ">
                                <div class="table-header ">
                                    <span class="column-title ">Vehicle Name</span>
                                </div>
                            </th> -->
                                <th class="secondary-text ">
                                    <div class="table-header ">
                                        <span class="column-title ">Device ID</span>
                                    </div>
                                </th>

                                <th class="secondary-text ">
                                    <div class="table-header ">
                                        <span class="column-title ">User Email</span>
                                    </div>
                                </th>
                                <th class="secondary-text ">
                                    <div class="table-header ">
                                        <span class="column-title ">Contact No</span>
                                    </div>
                                </th>
                                <th class="secondary-text ">
                                    <div class="table-header ">
                                        <span class="column-title ">Expiry Date</span>
                                    </div>
                                </th>
                                <th class="secondary-text ">
                                    <div class="table-header ">
                                        <span class="column-title ">Days Left</span>
                                    </div>
                                </th>
                                <th class="secondary-text ">
                                    <div class="table-header ">
                                        <span class="column-title ">Licence Type</span>
                                    </div>
                                </th>
                                <th class="secondary-text ">
                                    <div class="table-header ">
                                        <span class="column-title ">Renewal Type</span>
                                    </div>
                                </th>
                                <th class="secondary-text ">
                                    <div class="table-header ">
                                        <span class="column-title ">App Name</span>
                                    </div>
                                </th>
                                <th class="secondary-text ">
                                    <div class="table-header ">
                                        <span class="column-title ">Last Login Date</span>
                                    </div>
                                </th>
                                <th class="secondary-text ">
                                    <div class="table-header ">
                                        <span class="column-title ">Last GPS Date</span>
                                    </div>
                                </th>
                                <!-- <th class="secondary-text ">
                                    <div class="table-header ">
                                        <span class="column-title ">Created Date</span>
                                    </div>
                                </th>
                                <th class="secondary-text ">
                                    <div class="table-header ">
                                        <span class="column-title ">Modified Date</span>
                                    </div>
                                </th> -->
                                <th class="all ">
                                    <div class="table-header ">
                                        <span class="column-title ">Action</span>
                                    </div>
                                </th>
                            </tr>
                        </thead>

                    </table>
                </div>
                <div class="content fullpage-datatable " layout="column " flex ng-if="UserRoles!='Super Admin'">
                    <!-- <table class="dataTable cell-border row-border hover" datatable="ng" dt-options="dtCustomOptions" dt-instance="dtInstance" dt-column-defs="vm.dtColumnDefs" width="100%"> -->
                    <table id="RenewDetail1" class="dataTable row-border hover" datatable=""
                        dt-instance="vm.dtInstance1" dt-columns="dtColumns" dt-options="dtOptions" width="100%">
                        <thead>
                            <tr>
                                <th class="all ">
                                    <div class="table-header ">
                                        <span class="column-title ">No</span>
                                    </div>
                                </th>
                                <!--<th class="secondary-text ">
                                <div class="table-header ">
                                    <span class="column-title ">SIM Name</span>
                                </div>
                            </th>-->
                                <!-- <th class="secondary-text ">
                                    <div class="table-header ">
                                        <span class="column-title ">Licence No</span>
                                    </div>
                                </th> -->
                                <!-- <th class="secondary-text ">
                                <div class="table-header ">
                                    <span class="column-title ">Vehicle Name</span>
                                </div>
                            </th> -->
                                <th class="secondary-text ">
                                    <div class="table-header ">
                                        <span class="column-title ">Device ID</span>
                                    </div>
                                </th>

                                <th class="secondary-text ">
                                    <div class="table-header ">
                                        <span class="column-title ">User Email</span>
                                    </div>
                                </th>
                                <th class="secondary-text ">
                                    <div class="table-header ">
                                        <span class="column-title ">Contact No</span>
                                    </div>
                                </th>
                                <th class="secondary-text ">
                                    <div class="table-header ">
                                        <span class="column-title ">Expiry Date</span>
                                    </div>
                                </th>
                                <th class="secondary-text ">
                                    <div class="table-header ">
                                        <span class="column-title ">Days Left</span>
                                    </div>
                                </th>
                                <th class="secondary-text ">
                                    <div class="table-header ">
                                        <span class="column-title ">Licence Type</span>
                                    </div>
                                </th>
                                <th class="secondary-text ">
                                    <div class="table-header ">
                                        <span class="column-title ">Licence Renewal Type</span>
                                    </div>
                                </th>
                                <th class="secondary-text ">
                                    <div class="table-header ">
                                        <span class="column-title ">Last Login Date</span>
                                    </div>
                                </th>
                                <th class="secondary-text ">
                                    <div class="table-header ">
                                        <span class="column-title ">Last GPS Date</span>
                                    </div>
                                </th>

                                <!-- <th class="secondary-text ">
                                    <div class="table-header ">
                                        <span class="column-title ">Created Date</span>
                                    </div>
                                </th>
                                <th class="secondary-text ">
                                    <div class="table-header ">
                                        <span class="column-title ">Modified Date</span>
                                    </div>
                                </th> -->
                                <th class="all ">
                                    <div class="table-header ">
                                        <span class="column-title ">Action</span>
                                    </div>
                                </th>
                            </tr>
                        </thead>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="page-layout simple tabbed " layout="column " ng-show="flag">
    <div class="header md-accent-bg " layout="row " layout-align="start center ">
        <div class="white-fg " layout="row " layout-align="start center " flex>
            <md-button class="goto-products-button md-icon-button " aria-label="Go to Renew Management"
                ng-click="GoToBack() ">
                <md-icon md-font-icon="icon-arrow-left "></md-icon>
            </md-button>
            <div layout="row " layout-align="start center ">
                <div layout="column " layout-align="start start ">
                    <div class="subtitle secondary-text ">
                        <span translate="Renew Management">Renew Management</span>
                    </div>
                </div>
            </div>
        </div>
        <div>
        </div>
    </div>
    <div class="content " layout-margin>
        <div class="product-detail-form-container md-background-bg md-whiteframe-1dp ">
            <md-content class="md-padding ">
                <form name="formRenew " novalidate class="md-inline-form " aria-invalid="false ">
                    <div layout="row " layout-wrap>
                        <div style="color:green;font-size: 2rem;font-weight: normal;" flex="100" flex-gt-sm="65">User
                            Email : {{ModelRenewMultiple.UserName}}
                        </div>
                        <div style="color:green;font-size: 1.3rem;font-weight: normal;text-align: right;" flex="100"
                            flex-gt-sm="35">Last
                            Login Date : {{ModelRenewMultiple.LastloginDate}}
                        </div>
                    </div>
                    <div layout="row " layout-wrap>
                        <md-input-container class="md-block " flex="100 " flex-gt-sm="50">
                            <label>Remark</label>
                            <input type="text " name="Remark " ng-model="ModelRenewMultiple.Remark" required>
                            <div ng-messages="formRenew.Remark.$error " ng-if="formRenew.Remark.$touched "
                                role="alert ">
                                <div ng-message="required ">
                                    <span>Remark field is required</span>
                                </div>
                            </div>
                        </md-input-container>
                        <div align="right" flex="100" flex-gt-sm="50">
                            <md-button class="md-raised md-primary "
                                ng-disabled="!formRenew.$valid || IsRenewFalgOpen==false"
                                ng-click="RenewMultipleDevice(ModelRenewMultiple) ">Renew</md-button>
                            <md-button class="md-raised md-warn " ng-click="GoToBack() ">Cancel</md-button>
                        </div>
                    </div>
                    <div class="content">
                        <div class="content fullpage-datatable RenewalMultipledatatable" layout="column" flex>
                            <table class="dataTable  row-border hover" width="100%" id="RenewalMultiple" datatable="ng"
                                dt-instance="vm.dtInstance" dt-options="dtOptions1">

                                <!-- <table class="dataTable row-border hover" datatable="ng" dt-options="dtOptions" dt-column-defs="vm.dtColumnDefs"> -->
                                <thead>
                                    <tr>
                                        <th class="all">
                                            <div class="table-header">
                                                <span class="column-title">No</span>
                                            </div>
                                        </th>
                                        <th class="secondary-text">
                                            <div class="table-header">
                                                <span class="column-title">Vehicle Name</span>
                                            </div>
                                        </th>
                                        <th class="secondary-text">
                                            <div class="table-header">
                                                <span class="column-title">Device ID</span>
                                            </div>
                                        </th>
                                        <th class="secondary-text">
                                            <div class="table-header">
                                                <span class="column-title">Expiry Date</span>
                                            </div>
                                        </th>
                                        <th class="secondary-text">
                                            <div class="table-header">
                                                <span class="column-title">UOM</span>
                                            </div>
                                        </th>
                                        <th class="secondary-text">
                                            <div class="table-header">
                                                <span class="column-title">Expiring</span>
                                            </div>
                                        </th>
                                        <th class="secondary-text">
                                            <div class="table-header">
                                                <span class="column-title">Last GPS Date</span>
                                            </div>
                                        </th>
                                        <th class="all">
                                            <div class="table-header text-center">
                                                <span class="column-title">Action</span>
                                            </div>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="o in lstAllExpiryVehicle">
                                        <td style="width: 5%; text-align: center;">{{$index+1}}</td>
                                        <td>{{o.Name}}</td>
                                        <td> {{o.deviceid}}</td>
                                        <td> {{o.ExpireDate}}</td>
                                        <td> {{o.UOM}}</td>
                                        <td> {{o.Expiring}}</td>
                                        <td> {{o.LastGpsDate}}</td>
                                        <td style="width: 5%; text-align: center;">
                                            <md-checkbox md-no-ink aria-label="Checkbox No Ink" ng-model="o.Checked"
                                                ng-change="CheckRenewDevice()" class="md-primary customecheckboxtable">
                                            </md-checkbox>
                                        </td>
                                    </tr>
                                    <!-- <tr ng-if="lstAllExpiryVehicle.length<=0">
                                                              <td colspan="7">No Record Found</td>
                                                          </tr> -->
                                </tbody>
                            </table>
                        </div>

                    </div>
                </form>
            </md-content>
            <style>
                #RenewalMultiple md-checkbox.customecheckboxtable {
                    margin: 5px 0 5px;
                }

                .RenewalMultipledatatable {
                    font-size: 1.2rem;
                }
            </style>
        </div>
    </div>
</div>