<md-content>
    <div id="simple-table" class="page-layout simple fullwidth doc-page element-doc-page">
        <div class="header md-accent-bg layout-align-space-between-stretch layout-row" layout="row" layout-align="space-between">
            <div layout="column" layout-align="center start" class="layout-align-center-start layout-column">
                <div class="breadcrumb layout-align-start-center layout-row" layout="row" layout-align="start center">
                    <md-icon md-font-icon="icon-home" class="s16 ng-isolate-scope md-font icon-home material-icons md-default-theme" aria-hidden="true"></md-icon>
                    <md-icon md-font-icon="icon-chevron-right" class="s16 separator ng-isolate-scope md-font icon-chevron-right material-icons md-default-theme" aria-hidden="true"></md-icon><span class="parent">Reward System</span></div>
                <div class="title">Reward System</div>
            </div>
        </div>
        <div class="content">
            <div class="white-bg md-whiteframe-4dp">
                <md-tabs md-selected="tab.selectedIndex" md-dynamic-height md-border-bottom>
                    <md-tab label="Reward System">
                        <md-content class="md-padding">
                            <div>
                                <form  name="FormRewardSystem" class="md-inline-form">
                                    <div layout-gt-sm="row">                                    
                                        <md-input-container class="md-block" flex>
                                            <md-checkbox ng-model="model.Enabled" aria-label="Checkbox 1" class="md-primary">
                                                Enable:
                                            </md-checkbox>
                                        </md-input-container>
                                         <md-input-container class="md-block" flex-gt-sm="50">
                                            <label>Exchange Rate * (for 1 Reward Point)</label>
                                            <input name="ExchangeRate" ng-model="model.ExchangeRate" placeholder="12345" type="number" max="99999" min='0' required>
                                            <div ng-messages="FormRewardSystem.ExchangeRate.$error" ng-if="FormRewardSystem.ExchangeRate.$touched">
                                                <div ng-message="max" class="my-message">Exchange rate can't be longer than 5 number</div>
                                                <div ng-message="required">
                                                    <span>Exchange rate is required</span>
                                                </div>

                                            </div>
                                        </md-input-container>                                      
                                    </div>
                                    <div layout-gt-sm="row">
                                      <md-input-container class="md-block" flex-gt-sm="50">
                                            <label>Minimum reward points to use *</label>
                                            <input name="MinimumRewardPointstoUse" ng-model="model.MinimumRewardPointstoUse" placeholder="12345" type="number" max="99999" min='0' required>
                                            <div ng-messages="FormRewardSystem.MinimumRewardPointstoUse.$error" ng-if="FormRewardSystem.MinimumRewardPointstoUse.$touched">
                                                <div ng-message="max" class="my-message">Reward points can't be longer than 5 number</div>
                                                <div ng-message="required">
                                                    <span>Reward points is required</span>
                                                </div>

                                            </div>
                                        </md-input-container>                                       
                                        <md-input-container class="md-block" flex-gt-sm="50">
                                            <label>Points for registration *</label>
                                            <input name="PointsForRegistration" ng-model="model.PointsForRegistration" placeholder="12345" type="number" max="99999" min='0' required>
                                            <div ng-messages="FormRewardSystem.PointsForRegistration.$error" ng-if="FormRewardSystem.PointsForRegistration.$touched">
                                                <div ng-message="max" class="my-message">Points can't be longer than 5 number</div>
                                                <div ng-message="required">
                                                    <span>Points is required</span>
                                                </div>

                                            </div>
                                        </md-input-container>
                                    </div>
                                    <div layout-gt-sm="row">
                                     <md-input-container class="md-block" flex-gt-sm="50">
                                            <label>Points for purchases amount *</label>
                                            <input name="PointsForPurchases_Amount" ng-model="model.PointsForPurchases_Amount" placeholder="12345" type="number" max="99999" min='0' required>
                                            <div ng-messages="FormRewardSystem.PointsForPurchases_Amount.$error" ng-if="FormRewardSystem.PointsForPurchases_Amount.$touched">
                                                <div ng-message="max" class="my-message">Points can't be longer than 5 number</div>
                                                <div ng-message="required">
                                                    <span>Points is required</span>
                                                </div>

                                            </div>
                                        </md-input-container>
                                         <md-input-container class="md-block" flex-gt-sm="50">
                                            <label>Points for purchases points *</label>
                                            <input name="PointsForPurchases_Points" ng-model="model.PointsForPurchases_Points" placeholder="12345" type="number" max="99999" min='0' required>
                                            <div ng-messages="FormRewardSystem.PointsForPurchases_Points.$error" ng-if="FormRewardSystem.PointsForPurchases_Points.$touched">
                                                <div ng-message="max" class="my-message">Points can't be longer than 5 number</div>
                                                <div ng-message="required">
                                                    <span>Points is required</span>
                                                </div>

                                            </div>
                                        </md-input-container>
                                    </div>
                                    <div layout-gt-sm="row">
                                        <md-input-container class="md-block" flex>
                                            <label>Select status</label>
                                            <md-select ng-model="model.PointsForPurchases_Awarded" ng-required="true">
                                                <md-option value="Pending" ng-selected="o.id==model.PointsForPurchases_Awarded">Pending</md-option>
                                                <md-option value="Processing" ng-selected="o.id==model.PointsForPurchases_Awarded">Processing</md-option>
                                                <md-option value="Complete" ng-selected="o.id==model.PointsForPurchases_Awarded">Complete</md-option>
                                                <md-option value="Cancelled" ng-selected="o.id==model.PointsForPurchases_Awarded">Cancelled</md-option>
                                            </md-select>
                                        </md-input-container>
                                        <md-input-container flex="100" flex-gt-xs="50">
                                            <label>Select status</label>
                                            <md-select ng-model="model.PointsForPurchases_Canceled" ng-required="true">
                                                <md-option value="Pending" ng-selected="o.id==model.PointsForPurchases_Canceled">Pending</md-option>
                                                <md-option value="Processing" ng-selected="o.id==model.PointsForPurchases_Canceled">Processing</md-option>
                                                <md-option value="Complete" ng-selected="o.id==model.PointsForPurchases_Canceled">Complete</md-option>
                                                <md-option value="Cancelled" ng-selected="o.id==model.PointsForPurchases_Canceled">Cancelled</md-option>
                                            </md-select>
                                        </md-input-container>
                                    </div>
                                    <div layout-gt-sm="row">
                                        <md-input-container class="md-block" flex>
                                            <md-checkbox ng-model="model.DisplayHowMuchWillbeEarned" aria-label="Checkbox 2" class="md-primary">
                                                Display how much will be earned:
                                            </md-checkbox>
                                        </md-input-container>
                                        <md-input-container class="md-block" flex>
                                            <md-checkbox ng-model="model.PointsAccumulatedForAllStores" aria-label="Checkbox 3" class="md-primary">
                                                Points accumulated for all stores :
                                            </md-checkbox>
                                        </md-input-container>
                                    </div>
                                    <div align="center">
                                        <md-button class="md-raised md-primary" ng-click="SaveRewardPointSetting(model)" ng-disabled="FormRewardSystem.$invalid">save</md-button>
                                        <md-button class="md-raised md-warn" ng-click="Reset()">cancel</md-button>
                                    </div>
                                </form>
                            </div>
                        </md-content>
                    </md-tab>
                </md-tabs>
            </div>
        </div>
    </div>
</md-content>
