<div id="e-commerce-products" class="page-layout carded fullwidth" layout="row" ng-show="!flag">
    <div class="top-bg md-accent-bg"></div>
    <div class="center" layout="column" flex>
        <div class="header" layout="row" layout-wrap layout-align="space-between center">
            <div class="white-fg" layout="row" layout-gt-xs="row" layout-gt-sm="column" layout-align="start start">
                <div class="h1" layout="row" layout-align="start center">
                    <md-icon md-font-icon="icon-cube-outline"></md-icon>
                    <span translate="Languages">Languages</span>
                </div>
                <div class="product-count secondary-text" hide-xs>
                    <span>Total Languages :</span>
                    <b>{{lstlanguage.length}}</b>
                </div>
            </div>
            <div class="search" layout="row" layout-align="start center" flex="60" flex-gt-xs="60" flex-gt-sm="33" align="center">
                <md-icon md-font-icon="icon-magnify" class="white-text icon search-icon"></md-icon>
                <input id="modelsearch" ng-model="Search" ng-change="GetSerch(Search)" class="search-input" type="text" placeholder="Search" translate translate-attr-placeholder="SEARCH" flex>
            </div>
            <div flex="40" flex-gt-xs="40" flex-gt-sm="33" layout="row" layout-align="end center">
                <div ng-if="FlgAddedEditlocal">
                    <md-button class="md-raised md-background" ng-click="vm.Reset()">
                        <span translate="Add New Languages">Add New Languages</span>
                    </md-button>
                </div>
            </div>
        </div>
        <div class="content-card" layout="column" flex>
            <div class="content fullpage-datatable" layout="column" flex>
                <table class="dataTable row-border hover" datatable="ng" dt-instance="vm.dtInstance" dt-options="vm.dtOptions" dt-column-defs="vm.dtColumnDefs">
                    <thead>
                        <tr>
                            <th class="all">
                                <div class="table-header">
                                    <span class="column-title">No</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Name</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header" align="center">
                                    <span class="column-title">Language Culture</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Display Order</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Published</span>
                                </div>
                            </th>
                            <th class="all">
                                <div class="table-header">
                                    <span class="column-title">Action</span>
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="o in lstlanguage">
                            <td>{{ $index+1 }}</td>
                            <td>{{ o.Name }}</td>
                            <td align="center">{{ o.LanguageCulture }}</td>
                            <td>{{ o.DisplayOrder }}</td>
                            <td>
                                <span ng-show="o.Published" style="font-size: 20px;color: green"> &#x2714;</span>
                                <span ng-show="!o.Published" style="font-size: 20px;color: red">&#x2716;</span>
                            </td>
                            <td>
                                <md-button class="edit-button md-icon-button" ng-click="FetchLanguageById(o)">
                                    <md-icon md-font-icon="icon-pencil" class="s18 green-500-fg"></md-icon>
                                    <md-tooltip md-visible="" md-direction="">Edit</md-tooltip>
                                </md-button>
                                <md-button class="edit-button md-icon-button" ng-click="DeleteLanguage(o.Id)">
                                    <md-icon md-font-icon="icon-trash" class="s18 red-500-fg"></md-icon>
                                    <md-tooltip md-visible="" md-direction="">Delete</md-tooltip>
                                </md-button>
                                <!--<md-button class="md-icon-button md-accent md-raised md-hue-2" ng-if="FlgModifiedAccess" ng-click="FetchLanguageById(o)">
                                    <md-icon md-font-icon="icon-pencil-box-outline"></md-icon>
                                </md-button>
                                <md-button class="md-icon-button md-raised md-warn md-raised md-hue-2" ng-if="FlgDeletedAccess" ng-click="DeleteLanguage(o.Id)">
                                    <md-icon md-font-icon="icon-trash"></md-icon>
                                </md-button>-->
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="page-layout simple tabbed" layout="column" ng-show="flag">
    <div class="header md-accent-bg" layout="row" layout-align="start center">
        <div class="white-fg" layout="row" layout-align="start center" flex>
            <md-button class="goto-products-button md-icon-button" aria-label="Go to List" ng-click="gotoList()">
                <md-icon md-font-icon="icon-arrow-left"></md-icon>
            </md-button>
            <div layout="row" layout-align="start center">
                <div layout="column" layout-align="start start">
                    <div class="subtitle secondary-text">
                        <span translate="Language Detail">Language Detail</span>
                    </div>
                </div>
            </div>
        </div>
        <div>
        </div>
    </div>
    <div class="content" layout-margin>
        <div class="product-detail-form-container md-background-bg md-whiteframe-1dp">
            <md-content class="md-padding">
                <form name="formLanguages" novalidate class="md-inline-form" aria-invalid="false">
                    <div class="content">
                        <div layout="row" layout-wrap>
                            <md-input-container class="md-block" flex="100" flex-gt-xs="25" ng-hide="true">
                                <label>Id</label>
                                <input ng-model="model.Id">
                            </md-input-container>
                            <md-input-container class="md-block" flex="100" flex-gt-xs="33">
                                <label>Languages name</label>
                                <input name="Name" ng-model="model.Name" ng-required="true">
                                <div ng-messages="formLanguages.Name.$error" ng-if="formLanguages.Name.$touched">
                                    <div ng-message="required">
                                        <span>Languages name is required</span>
                                    </div>
                                </div>
                            </md-input-container>
                            <md-input-container class="md-block" flex="100" flex-gt-xs="33">
                                <label>Language culture</label>
                                <md-select name="LanguageCulture" ng-model="model.LanguageCulture" ng-required="true">
                                    <md-option ng-repeat="o in lstCulture" value="{{o}}">{{o}}</md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container class="md-block" flex="100" flex-gt-xs="33">
                                <label>Unique SEO code</label>
                                <input name="UniqueSeoCode" ng-model="model.UniqueSeoCode" required>
                                <div ng-messages="formLanguages.UniqueSeoCode.$error" ng-if="formLanguages.UniqueSeoCode.$touched">
                                    <div ng-message="required">
                                        <span>Unique seo code is required</span>
                                    </div>
                                </div>
                            </md-input-container>
                            <md-input-container class="md-block" flex="100" flex-gt-xs="25">
                                Right-to-left &nbsp&nbsp&nbsp
                                <md-checkbox md-no-ink aria-label="Checkbox No Ink" ng-model="model.Rtl" class="md-primary"></md-checkbox>
                            </md-input-container>
                            <md-input-container class="md-block" flex="100" flex-gt-xs="25">
                                Published &nbsp&nbsp&nbsp
                                <md-checkbox md-no-ink aria-label="Checkbox No Ink" ng-model="model.Published" class="md-primary"></md-checkbox>
                            </md-input-container>
                            <md-input-container class="md-block" flex-gt-sm="50">
                                <label>Display order</label>
                                <input name="DisplayOrder" ng-model="model.DisplayOrder" placeholder="12345" type="number" max="99999" min='0' required>
                                <div ng-messages="formLanguages.DisplayOrder.$error" ng-if="formLanguages.DisplayOrder.$touched">
                                    <div ng-message="max" class="my-message">Display order can't be longer than 5 number</div>
                                    <div ng-message="required">
                                        <span>Display order is required</span>
                                    </div>
                                </div>
                            </md-input-container>
                            <md-input-container class="md-block" flex-gt-sm="50">
                                <label>Flag image file</label>
                                <br />
                                <br />
                                <img ng-src="{{RoutePath}}MediaUploads/{{model.FlagImageFileName}}" ng-model="model.FlagImageFileName" err-src="assets/images/no-image.png" style="width:150px;" ng-show="FlgImage==1" />
                                <br ng-show="FlgImage==1" />
                                <br ng-show="FlgImage==1" />
                                <md-button class="md-raised md-primary" ng-click="ShowModal($event)">Select Image</md-button>
                                <md-button class="md-raised md-dafault" ng-if="FlgImage==1" ng-click="RemoveImage()">Remove Image</md-button>
                            </md-input-container>
                        </div>
                        <div align="left">
                            <md-button class="md-raised md-primary" ng-disabled="!formLanguages.$valid" ng-click="CreateLanguage(model)">Save</md-button>
                            <md-button class="md-raised md-warn" ng-click="ResetModel()">Cancel</md-button>
                        </div>
                    </div>
                </form>
            </md-content>
        </div>
    </div>
</div>

<script src="https://code.angularjs.org/1.3.14/i18n/angular-locale_da-dk.js"></script>