<div id="e-commerce-products" class="page-layout carded fullwidth" layout="row" ng-show="!flag">
    <div class="top-bg md-accent-bg"></div>
    <div class="center" layout="column" flex>
        <div class="header" layout="row" layout-wrap layout-align="space-between center">
            <div class="white-fg" layout="row" layout-gt-xs="row" layout-gt-sm="column" layout-align="start start">
                <div class="h1" layout="row" layout-align="start center">
                    <md-icon md-font-icon="icon-cube-outline"></md-icon>
                    <span translate="Hand Shake">Hand Shake</span>
                </div>
            </div>
            <div class="search" layout="row" layout-align="start center" flex="60" flex-gt-xs="60" flex-gt-sm="33" align="center">
                <md-icon md-font-icon="icon-magnify" class="white-text icon search-icon"></md-icon>
                <input id="modelsearch" ng-model="Search" ng-change="GetSearch(Search)" class="search-input" type="text" placeholder="Search" translate translate-attr-placeholder="SEARCH" flex>
            </div>
            <div flex="40" flex-gt-xs="40" flex-gt-sm="33" layout="row" layout-align="end center">
                <md-button class="md-icon-button  md-raised md-hue-2" ng-click="toggle()" aria-label="Search">
                    <md-icon md-font-icon="icon-filter-variant"></md-icon>
                    <md-tooltip md-visible="" md-direction="">Advance Search</md-tooltip>
                </md-button>
            </div>
        </div>
        <div class="content-card" layout="column" flex>
            <!-- <ul class="tabsList"> -->
            <!-- <li ng-click="ResetTab()" ng-if="flaglink == 0"><a href="" class="active">Device Logs</a></li>
                <li ng-click="ResetTab()" ng-if="flaglink != 0"><a href="">Device Logs</a></li>
                <li ng-click="ResetModel1()" ng-if="flaglink == 1"><a href="" class="active">HandhShake Logs</a></li>
                <li ng-click="ResetModel1()" ng-if="flaglink != 1"><a href="">HandhShake Logs</a></li> -->
            <!-- <li ng-click="ResetModel2()" ng-if="flaglink == 2"><a href="" class="active">GPSData Logs</a></li>
                <li ng-click="ResetModel2()" ng-if="flaglink != 2"><a href="">GPSData Logs</a></li> -->
            <!-- </ul> -->
            <!-- <div class="ShowContentBox" ng-if="flaglink == 0">
                <i ng-show="flgforIcon" ng-click="toggle()" class="icon-close-circle-outline right closeIcon"></i>
                <div layout="row" layout-wrap>
                
                    <md-input-container class="md-block" flex="100" flex-gt-xs="50" flex-gt-sm="25" flex-gt-md="20">
                        <label>DeviceId</label>
                        <input type="text" name="DeviceId" ng-model="modelDevice.DeviceId">
                    </md-input-container>
                    <md-input-container class="md-block" flex="100" flex-gt-xs="50" flex-gt-sm="25" flex-gt-md="20">
                        <label>Command</label>
                        <input type="text" name="Command" ng-model="modelDevice.Command">
                    </md-input-container>
                    <div align="left">
                        <md-button class="md-icon-button md-accent md-raised md-hue-2" ng-click="SearchDeviceLogs()" aria-label="Search">
                            <md-icon md-font-icon="icon-magnify"></md-icon>
                            <md-tooltip md-visible="" md-direction="">Search </md-tooltip>
                        </md-button>
                        <md-button class="md-icon-button md-warn md-raised md-hue-2" ng-click="ResetTab()" aria-label="Reset Search">
                            <md-icon md-font-icon="icon-refresh"></md-icon>
                            <md-tooltip md-visible="" md-direction="">Reset Search </md-tooltip>
                        </md-button>
                    </div>
                </div>
            </div>
            <div class="content fullpage-datatable" layout="column" flex ng-if="flaglink == 0">
                <table class="dataTable cell-border row-border hover" datatable="ng" dt-instance="vm.dtInstanceDevice" dt-options="vm.dtOptionsDevice" width="100%">
                    <thead>
                        <tr>
                            <th class="all">
                                <div class="table-header">
                                    <span class="column-title"> No</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Date/Time</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Device ID</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Command</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Value</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Type</span>
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="o in lstDevice1">
                            <td style="width: 4%; text-align: center;">{{$index+1}}</td>
                            <td>{{o.Name}} - {{o.EmpNo}}</td>
                            <td>{{o.MonthName}} - {{o.SalaryYear}}</td>
                            <td>{{o.DecidedAmount | number:2}}</td>
                            <td>{{o.TobePaidAmount | number:2}}</td>
                            <td>{{o.PaidAmount | number:2}}</td>
                        </tr>
                    </tbody>
                </table>
            </div> -->
            <div class="ShowContentBox">
                <form name="formHandShake" novalidate class="md-inline-form" aria-invalid="false">
                    <!-- <i ng-show="flgforIcon" ng-click="toggle()" class="icon-close-circle-outline right closeIcon"></i> -->
                    <div layout="row" layout-wrap>
                        <md-input-container class="md-block" flex="100" flex-gt-xs="50" flex-gt-sm="25" flex-gt-md="20">
                            <label>From Date</label>
                            <input mdc-datetime-picker date="true" time="true" type="text" id="time" max-date="modelHandShake.ToDate" format="DD-MM-YYYY hh:mm A" ng-model="modelHandShake.FromDate">
                        </md-input-container>
                        <md-input-container class="md-block" flex="100" flex-gt-xs="50" flex-gt-sm="25" flex-gt-md="20">
                            <label>To Date</label>
                            <input mdc-datetime-picker date="true" time="true" type="text" id="time" min-date="modelHandShake.FromDate" format="DD-MM-YYYY hh:mm A" ng-model="modelHandShake.ToDate">
                        </md-input-container>
                        <md-input-container class="md-block" flex="100" flex-gt-xs="50" flex-gt-sm="25" flex-gt-md="20">
                            <label>DeviceId</label>
                            <input type="text" name="DeviceId" ng-model="modelHandShake.DeviceId" required>
                            <div ng-messages="formHandShake.DeviceId.$error" ng-if="formHandShake.DeviceId.$touched" role="alert">
                                <div ng-message="required">
                                    <span>DeviceId field is required</span>
                                </div>
                            </div>
                        </md-input-container>
                        <!-- <md-input-container flex="100" flex-gt-xs="50" flex-gt-sm="25" flex-gt-md="20">
                        <label>DeviceId</label>
                        <md-select Name="DeviceId" ng-model="modelHandShake.DeviceId" md-on-close="clearSearchTerm()" data-md-container-class="selectdemoSelectHeader">
                            <md-select-header class="demo-select-header">
                                <input ng-model="searchDevice" type="search" placeholder="Search for a DeviceId.." class="demo-header-searchbox md-text" ng-keydown="onSearchChange($event)">
                            </md-select-header>
                            <md-option value="All">All</md-option>
                            <md-option ng-value="{{o.DeviceId}}" ng-repeat="o in lstdevice| filter: searchDevice | orderBy : 'CreatedDate':true">{{o.DeviceId}}</md-option>
                        </md-select>
                    </md-input-container> -->
                        <div align="left">
                            <md-button class="md-icon-button md-accent md-raised md-hue-2" ng-click="GetSearch()" ng-disabled="!formHandShake.$valid" aria-label="Search">
                                <md-icon md-font-icon="icon-magnify"></md-icon>
                                <md-tooltip md-visible="" md-direction="">Search </md-tooltip>
                            </md-button>
                            <md-button class="md-icon-button md-warn md-raised md-hue-2" ng-click="ResetSearch()" aria-label="Reset Search">
                                <md-icon md-font-icon="icon-refresh"></md-icon>
                                <md-tooltip md-visible="" md-direction="">Reset Search </md-tooltip>
                            </md-button>
                        </div>
                    </div>
            </div>
            <div class="content fullpage-datatable" layout="column" flex ng-if="flaglink == 1">
                <table id="HandShakeLog" class="dataTable cell-border row-border hover" datatable="" dt-instance="vm.dtInstanceHandshake" dt-columns="dtColumnsHandShake" dt-options="dtOptionsHandShake" width="100%">
                    <thead>
                        <tr>
                            <th class="all">
                                <div class="table-header">
                                    <span class="column-title"> No</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Date/Time</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Device ID</span>
                                </div>
                            </th>
                            <!-- <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Power</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Charging</span>
                                </div>
                            </th> -->
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="ShowContentBox" ng-if="flaglink == 2">
                <i ng-show="flgforIcon" ng-click="toggle()" class="icon-close-circle-outline right closeIcon"></i>
                <div layout="row" layout-wrap>
                    <md-input-container class="md-block" flex="100" flex-gt-xs="50" flex-gt-sm="25" flex-gt-md="20">
                        <label>From Date</label>
                        <input mdc-datetime-picker date="true" time="true" type="text" id="time" max-date="modelSearch.ToDate" format="DD-MM-YYYY hh:mm A" ng-model="modelSearch.FromDate">
                    </md-input-container>
                    <md-input-container class="md-block" flex="100" flex-gt-xs="50" flex-gt-sm="25" flex-gt-md="20">
                        <label>To Date</label>
                        <input mdc-datetime-picker date="true" time="true" type="text" id="time" min-date="modelSearch.FromDate" format="DD-MM-YYYY hh:mm A" ng-model="modelSearch.ToDate">
                    </md-input-container>
                    <md-input-container class="md-block" flex="100" flex-gt-xs="50" flex-gt-sm="25" flex-gt-md="20">
                        <label>DeviceId</label>
                        <input type="text" name="DeviceId" ng-model="modelSearch.DeviceId">
                    </md-input-container>
                    <!-- <md-input-container flex="100" flex-gt-xs="50" flex-gt-sm="25" flex-gt-md="20">
                            <label>DeviceId</label>
                            <md-select Name="DeviceId" ng-model="modelSearch.DeviceId" md-on-close="clearSearchTerm()" data-md-container-class="selectdemoSelectHeader">
                                <md-select-header class="demo-select-header">
                                    <input ng-model="searchDevice" type="search" placeholder="Search for a DeviceId.." class="demo-header-searchbox md-text" ng-keydown="onSearchChange($event)">
                                </md-select-header>
                                <md-option value="All">All</md-option>
                                <md-option ng-value="{{o.DeviceId}}" ng-repeat="o in lstdevice| filter: searchDevice | orderBy : 'CreatedDate':true">{{o.DeviceId}}</md-option>
                            </md-select>
                        </md-input-container> -->
                    <div align="left">
                        <md-button class="md-icon-button md-accent md-raised md-hue-2" ng-click="GetSearch()" aria-label="Search">
                            <md-icon md-font-icon="icon-magnify"></md-icon>
                            <md-tooltip md-visible="" md-direction="">Search </md-tooltip>
                        </md-button>
                        <md-button class="md-icon-button md-warn md-raised md-hue-2" ng-click="ResetSearch()" aria-label="Reset Search">
                            <md-icon md-font-icon="icon-refresh"></md-icon>
                            <md-tooltip md-visible="" md-direction="">Reset Search </md-tooltip>
                        </md-button>
                    </div>
                </div>
            </div>
            <div class="content fullpage-datatable" layout="column" flex ng-if="flaglink == 2">
                <table id="GPSLogs" class="dataTable cell-border row-border hover" datatable="" dt-instance="vm.dtInstanceGps" dt-columns="dtColumnsGps" dt-options="dtOptionsGps" width="100%">
                    <thead>
                        <tr>
                            <th class="all">
                                <div class="table-header">
                                    <span class="column-title">No</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">DeviceId</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Datetime</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Latitude</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Longitude</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Speed</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Direction</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Status</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">IsEngine</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">IsRelayToStopTheCar</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">IsSirenSound</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">IsLockTheDoor</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">IsUnlockTheDoor</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">IsSOS</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">IsDoor</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">GPSPositioning</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Altitude</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">AD1</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">AD2</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">OdoMeter</span>
                                </div>
                            </th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>