<md-dialog class="task-dialog" style="width:400px;min-width:400px" aria-label="New Task">
    <md-toolbar class="md-accent md-hue-2">
        <div class="md-toolbar-tools">
            <h2>Password Verification</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="closeModel1()">
                <md-icon md-font-icon="icon-close" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content ms-scroll>
        <form name="FormPassword" novalidate class="ms-stepper" aria-invalid="false" style="padding: 24px">
            <div id="processing1" style="display: none">
                <div layout="row" layout-sm="column" layout-align="space-around">
                    <md-progress-circular md-mode="indeterminate" value="..." md-diameter="100" class="page-loader"></md-progress-circular>
                </div>
            </div>
            <md-content class="content" ms-scroll>
                <div class="row" ng-if="flg==1">
                    <label>Are you sure to Reset Password of <u>{{username}}</u> Customer?</label>
                </div>
                <div class="row">
                    <md-input-container class="md-block">
                        <label>Password</label>
                        <input name="password" type="password" ng-model="password" ng-required="true">
                        <div ng-messages="FormPassword.password.$error" ng-if="FormPassword.password.$touched">
                            <div ng-message="required">
                                <span>Password is required</span>
                            </div>
                            <div ng-message="md-maxlength">
                                <span>Password is 100 char long</span>
                            </div>
                        </div>
                    </md-input-container>
                </div>
                <div layout="row" layout-align="start center">
                    <md-button class="md-raised md-accent" ng-disabled="FormPassword.$invalid" ng-click="RestPassword(password)" ng-if="flg==1">Reset</md-button>
                    <md-button class="md-raised md-accent" ng-disabled="FormPassword.$invalid" ng-click="changePassword(password)" ng-if="flg==0">Ok</md-button>
                    <md-button class="md-raised md-default" ng-click="Reset()">Cancel</md-button>
                </div>
                <br/>
            </md-content>
        </form>
    </md-dialog-content>
    <style type="text/css" media="screen">
        #processing1 {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            background-color: rgba(203, 203, 203, 0.6);
        }
        
        #processing1 .page-loader {
            position: absolute;
            top: 50%;
            left: 50%;
            margin-left: -100px;
            margin-top: -100px;
            z-index: 2;
        }
    </style>
</md-dialog>