<div id="e-commerce-products" class="page-layout carded fullwidth" layout="row" ng-show="!flag">
    <div class="top-bg md-accent-bg"></div>
    <div class="center" layout="column" flex>
        <div class="header" layout="row" layout-wrap layout-align="space-between center">
            <div class="white-fg" layout="row" layout-gt-xs="row" layout-gt-sm="column" layout-align="start start">
                <div class="h1" layout="row" layout-align="start center">
                    <md-icon md-font-icon="icon-cube-outline"></md-icon>
                    <span translate="Assign Licence">Assign Licence</span>
                </div>
            </div>
            <div class="search" layout="row" layout-align="start center" flex="60" flex-gt-xs="60" flex-gt-sm="33" align="center">
                <md-icon md-font-icon="icon-magnify" class="white-text icon search-icon"></md-icon>
                <input id="search" ng-model="modelSearch.Search" ng-change="GetSerch(modelSearch.Search)" class="search-input" type="text" placeholder="Search" translate translate-attr-placeholder="SEARCH" flex>
            </div>
            <div flex="100" flex-gt-xs="40" flex-gt-sm="33" layout="row" layout-align-gt-xs="start center" layout-align-gt-sm="end center">
                <md-button class="md-icon-button  md-raised md-hue-2" ng-click="toggle()" aria-label="Search">
                    <md-icon md-font-icon="icon-filter-variant"></md-icon>
                    <md-tooltip md-visible="" md-direction="">Advance Search</md-tooltip>
                </md-button>
            </div>
        </div>

        <div class="content-card" layout="column" flex>
            <div class="ShowContentBox">
                <i ng-show="flgforIcon" ng-click="toggle()" class="icon-close-circle-outline right closeIcon"></i>
                <div layout="row" layout-wrap>
                    <md-input-container class="md-block" flex="100" flex-gt-xs="50" flex-gt-sm="25" flex-gt-md="15" ng-show="ModelSearch.days=='Date'">
                        <label>Start ExpiryDate</label>
                        <input mdc-datetime-picker date="true" time="false" type="text" id="time" max-date="ModelSearch.EndDate" format="DD-MM-YYYY" ng-model="ModelSearch.StartDate">
                    </md-input-container>
                    <md-input-container class="md-block" flex="100" flex-gt-xs="50" flex-gt-sm="25" flex-gt-md="15" ng-show="ModelSearch.days=='Date'">
                        <label>End ExpiryDate</label>
                        <input mdc-datetime-picker date="true" time="false" type="text" id="time" min-date="ModelSearch.StartDate" format="DD-MM-YYYY" ng-model="ModelSearch.EndDate">
                    </md-input-container>
                    <md-input-container class="md-block" flex="100" flex-gt-sm="25" flex-gt-md="15">
                        <label>Expiry Date</label>
                        <md-select name="days" ng-model="ModelSearch.days" ng-change="ChangeSearchDate(ModelSearch.days)">
                            <md-option value="-1">All</md-option>
                            <md-option value="Week">By Week</md-option>
                            <md-option value="Month">By Month</md-option>
                            <md-option value="Quarter">By Quarter</md-option>
                            <md-option value="Year">By Year</md-option>
                            <md-option value="Date">By Date</md-option>
                        </md-select>

                    </md-input-container>
                    <div align="left">
                        <md-button class="md-icon-button md-accent md-raised md-hue-2" ng-click="vm.GetAllLicenceDetail(true)" aria-label="Search">
                            <md-icon md-font-icon="icon-magnify"></md-icon>
                            <md-tooltip md-visible="" md-direction="">Search </md-tooltip>
                        </md-button>
                        <md-button class="md-icon-button md-warn md-raised md-hue-2" ng-click="SearchReset()" aria-label="Reset Search">
                            <md-icon md-font-icon="icon-refresh"></md-icon>
                            <md-tooltip md-visible="" md-direction="">Reset Search </md-tooltip>
                        </md-button>
                    </div>
                </div>
            </div>
            <div class="content-card " layout="column " flex>
                <div class="content fullpage-datatable " layout="column " flex>
                    <!-- <table class="dataTable cell-border row-border hover" datatable="ng" dt-options="dtCustomOptions" dt-instance="dtInstance" dt-column-defs="vm.dtColumnDefs" width="100%"> -->
                    <table id="LicenceDetail" class="dataTable row-border hover" datatable="" dt-instance="dtInstance" dt-columns="dtColumns" dt-options="dtOptions" width="100%">
                        <thead>
                            <tr>
                                <th class="all ">
                                    <div class="table-header ">
                                        <span class="column-title ">No</span>
                                    </div>
                                </th>
                                <!--<th class="secondary-text ">
                                <div class="table-header ">
                                    <span class="column-title ">SIM Name</span>
                                </div>
                            </th>-->
                                <th class="secondary-text ">
                                    <div class="table-header ">
                                        <span class="column-title ">Licence No</span>
                                    </div>
                                </th>
                                <!-- <th class="secondary-text ">
                                <div class="table-header ">
                                    <span class="column-title ">Vehicle Name</span>
                                </div>
                            </th> -->
                                <th class="secondary-text ">
                                    <div class="table-header ">
                                        <span class="column-title ">Device Id</span>
                                    </div>
                                </th>
                                <th class="secondary-text ">
                                    <div class="table-header ">
                                        <span class="column-title ">User Name</span>
                                    </div>
                                </th>
                                <th class="secondary-text ">
                                    <div class="table-header ">
                                        <span class="column-title ">User Email</span>
                                    </div>
                                </th>
                                <th class="secondary-text ">
                                    <div class="table-header ">
                                        <span class="column-title ">Expiry Date</span>
                                    </div>
                                </th>
                                <th class="secondary-text ">
                                    <div class="table-header ">
                                        <span class="column-title ">Days left</span>
                                    </div>
                                </th>
                                <th class="secondary-text ">
                                    <div class="table-header ">
                                        <span class="column-title ">Licence Type</span>
                                    </div>
                                </th>
                                <th class="secondary-text ">
                                    <div class="table-header ">
                                        <span class="column-title ">App Name</span>
                                    </div>
                                </th>
                                <th class="secondary-text ">
                                    <div class="table-header ">
                                        <span class="column-title ">Created Date</span>
                                    </div>
                                </th>
                                <th class="secondary-text ">
                                    <div class="table-header ">
                                        <span class="column-title ">Modified Date</span>
                                    </div>
                                </th>
                                <th class="all ">
                                    <div class="table-header ">
                                        <span class="column-title ">Action</span>
                                    </div>
                                </th>
                            </tr>
                        </thead>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="page-layout simple tabbed " layout="column " ng-show="flag ">
    <div class="header md-accent-bg " layout="row " layout-align="start center ">
        <div class="white-fg " layout="row " layout-align="start center " flex>
            <md-button class="goto-products-button md-icon-button " aria-label="Go to Vehicle " ng-click="ResetModel() ">
                <md-icon md-font-icon="icon-arrow-left "></md-icon>
            </md-button>
            <div layout="row " layout-align="start center ">
                <div layout="column " layout-align="start start ">
                    <div class="subtitle secondary-text ">
                        <span translate="Assign Licence">Assign Licence</span>
                    </div>
                </div>
            </div>
        </div>
        <div>
        </div>
    </div>
    <div class="content " layout-margin>
        <div class="product-detail-form-container md-background-bg md-whiteframe-1dp ">
            <md-content class="md-padding ">
                <form name="formLicence " novalidate class="md-inline-form " aria-invalid="false ">
                    <h2 style="color:green;">Licence Number :{{model.LicenceNo}}</h2>
                    <div class="content ">
                        <div layout="row " layout-wrap>
                            <md-input-container class="md-block" flex="100" flex-gt-sm="30">
                                <label>Select user</label>
                                <md-autocomplete ng-required="true" md-input-name="IdUser" md-no-cache="true" md-selected-item="selectedItem" md-search-text="query" md-select-on-match="true" md-selected-item-change="selectedItemChange(item)" md-items="item in GetUserByName(query)" md-item-text="item.username"
                                    placeholder="Select User">
                                    <md-item-template>
                                        <span md-highlight-text="query" md-highlight-flags="^i">{{item.username}}</span>
                                    </md-item-template>
                                    <md-not-found>
                                        No user matching "{{query}}" were found
                                    </md-not-found>
                                </md-autocomplete>
                                <div ng-messages="formLicence.IdUser.$error" ng-if="formLicence.IdUser.$touched">
                                    <div ng-message="required">Please select user</div>
                                    <md-not-found ng-show="flgErrorNotFound && query!=null && query!=''" style="font-size: 12px;"> No User matching {{query}} were found.
                                    </md-not-found>
                                </div>
                            </md-input-container>
                            <md-input-container class="md-block " flex="100 " flex-gt-sm="25 ">
                                <label>Device Id</label>
                                <input type="text " name="DeviceId " ng-model="model.DeviceId" required>
                                <div ng-messages="formLicence.DeviceId.$error " ng-if="formLicence.DeviceId.$touched " role="alert ">
                                    <div ng-message="required ">
                                        <span>Device Id field is required</span>
                                    </div>
                                </div>
                            </md-input-container>

                            <md-input-container class="md-block" flex="25">
                                <label>Expiry Date</label>
                                <input name="dStart" mdc-datetime-picker date="true" time="false" required type="text" id="time" format="DD-MM-YYYY" ng-model="model.ExpiryDate">
                                <div ng-messages="formLicence.dStart.$error" ng-if="formLicence.dStart.$touched" role="alert">
                                    <div ng-message="required">
                                        <span>Expiry Date field is required</span>
                                    </div>
                                </div>
                            </md-input-container>
                        </div>
                        <div align="left ">
                            <md-button class="md-raised md-primary " ng-disabled="!formLicence.$valid " ng-click="SaveLicence(model) ">Save</md-button>
                            <md-button class="md-accent md-raised " ng-click="Reset() ">Reset</md-button>
                            <md-button class="md-raised md-warn " ng-click="ResetModel() ">Cancel</md-button>
                        </div>
                    </div>
                </form>
            </md-content>
        </div>
    </div>
</div>