<md-content>
    <div id="simple-table" class="page-layout simple fullwidth doc-page element-doc-page">
        <div class="header md-accent-bg layout-align-space-between-stretch layout-row" layout="row" layout-align="space-between">
            <div layout="column" layout-align="center start" class="layout-align-center-start layout-column">
                <div class="breadcrumb layout-align-start-center layout-row" layout="row" layout-align="start center">
                    <md-icon md-font-icon="icon-home" class="s16 ng-isolate-scope md-font icon-home material-icons md-default-theme" aria-hidden="true"></md-icon>
                    <md-icon md-font-icon="icon-chevron-right" class="s16 separator ng-isolate-scope md-font icon-chevron-right material-icons md-default-theme" aria-hidden="true"></md-icon><span class="parent">Support</span>
                </div>
                <div class="title">Customer Support</div>
            </div>
        </div>
        <div class="content">
            <div class="white-bg md-whiteframe-4dp">
                <form name="AddSupportForm" novalidate class="md-inline-form">
                    <md-tabs md-selected="tab.selectedIndex" md-dynamic-height md-border-bottom>
                        <md-tab label="Users  List" ng-click="ResetTab()">
                            <div id="simple-table" class="page-layout simple fullwidth doc-page element-doc-page">
                                <div class="content custom-content">
                                    <table id="Supporttable" class="dataTable row-border hover" datatable="" dt-instance="dtInstance" dt-columns="dtColumns" dt-options="dtOptions">
                                        <thead>
                                            <tr>
                                                <th class="all">
                                                    <div class="table-header">
                                                        <span class="column-title">No</span>
                                                    </div>
                                                </th>
                                                <th class="secondary-text">
                                                    <div class="table-header">
                                                        <span class="column-title">Customer Name</span>
                                                    </div>
                                                </th>
                                                <th class="secondary-text">
                                                    <div class="table-header">
                                                        <span class="column-title">Email</span>
                                                    </div>
                                                </th>
                                                <th class="secondary-text">
                                                    <div class="table-header">
                                                        <span class="column-title">Phone</span>
                                                    </div>
                                                </th>
                                                <th class="secondary-text">
                                                    <div class="table-header">
                                                        <span class="column-title">Country</span>
                                                    </div>
                                                </th>
                                                <th class="secondary-text">
                                                    <div class="table-header">
                                                        <span class="column-title">OTP</span>
                                                    </div>
                                                </th>
                                                <th class="secondary-text">
                                                    <div class="table-header">
                                                        <span class="column-title">Verified</span>
                                                    </div>
                                                </th>
                                                <th class="all">
                                                    <div class="table-header" align="justify">
                                                        <span class="column-title">Action</span>
                                                    </div>
                                                </th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </md-tab>
                        <md-tab label="Add Users" ng-click="ResetEdit()" ng-if="FlgAddedEditlocal && FlgEditMode">
                            <md-content class="md-padding">
                                <div class="custom-content">
                                    <div layout-gt-sm="row">
                                        <md-input-container class="md-block" flex-gt-sm="50">
                                            <label>Profile name</label>
                                            <input type="text" name="ProfileName" md-maxlength="250" ng-model="model.ProfileName">
                                            <div ng-messages="AddSupportForm.ProfileName.$error" ng-if="AddSupportForm.ProfileName.$touched">
                                                <div ng-message="md-maxlength">
                                                    <span>Profile name can't be greater than 250 character</span>
                                                </div>
                                            </div>
                                        </md-input-container>
                                        <md-input-container class="md-block" flex-gt-sm="50">
                                            <label>Email address *</label>
                                            <input type="Email" name="email" ng-model="model.email" md-maxlength="250" ng-pattern="/^.+@.+\..+$/" required>
                                            <div ng-messages="AddSupportForm.email.$error" ng-if="AddSupportForm.email.$touched">
                                                <div ng-message="required">
                                                    <span>Email is required</span>
                                                </div>
                                                <div ng-message="pattern">
                                                    <span>Email must be a valid E-mail address</span>
                                                </div>
                                                <div ng-message="md-maxlength">
                                                    <span>Email must be in between 250 characters long</span>
                                                </div>
                                            </div>
                                        </md-input-container>
                                    </div>
                                    <div layout-gt-sm="row">
                                        <md-input-container class="md-block" flex-gt-sm="50">
                                            <label>Phone number *</label>
                                            <input type="number" name="Phone" ng-model="model.phone" placeholder="1234567890" ng-pattern="/^(0|[1-9][0-9]*)$/" max="999999999999999" min='0'>
                                            <div ng-messages="AddSupportForm.Phone.$error">
                                                <div ng-message="max" class="my-message">Phone number can't be longer than 15 number</div>
                                                <div ng-message="pattern" class="my-message">Please Enter Vaild number</div>
                                            </div>
                                        </md-input-container>
                                        <md-input-container class="md-block" flex="30">
                                            <md-list-item>
                                                <p> IsMobileVerify </p>
                                                <md-checkbox class="md-secondary" ng-model="model.IsMobileVerify"></md-checkbox>
                                            </md-list-item>
                                        </md-input-container>
                                    </div>
                                    <div align="center">
                                        <md-button class="md-raised md-primary" ng-disabled="!AddSupportForm.$valid" ng-click="SaveSupport(model)">Save</md-button>
                                        <md-button class="md-raised md-warn" ng-click="Reset()">Cancel</md-button>
                                    </div>
                                </div>
                            </md-content>
                        </md-tab>
                    </md-tabs>
                </form>
            </div>
        </div>
    </div>
</md-content>
