/**
 *  Do not remove this comments bellow. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */

// bower:scss
// endbower

/**
 *  Do not remove this comments bellow. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */

// injector
// endinjector
.CustomInfoWindow {
    width: 150px;
    text-align: left;
    margin: 0;
    padding: 0;
    font-size: 11px;
    overflow: hidden;
    h3 {
        margin: 0;
        padding: 12px 0 7px 0;
        font-weight: bold;
        font-size: 13px;
        color: rgb(3, 155, 229);
    }
    ul {
        margin: 0;
        padding: 0;
        li {
            font-weight: normal;
            font-size: 12px;
            i {
                display: none;
            }
            border-bottom: 1px dotted rgba(0, 0, 0, 0.2);
            padding: 5px 0;
        }
    }
}

.gm-style-iw {
    top: 0 !important;
    left: 0 !important;
}