<!-- <md-content>
    <div id="simple-table" class="page-layout simple fullwidth doc-page element-doc-page">
        <div class="header md-accent-bg" layout="row" layout-align="space-between">
            <div layout="column" layout-align="center start">
                <div class="breadcrumb" layout="row" layout-align="start center">
                    <md-icon md-font-icon="icon-home" class="s16"></md-icon>
                    <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                    <span class="parent">Email Setting</span>
                </div>
                <div class="title">Email Setting</div>
            </div>
        </div>
        <div class="content">
            <md-content class="md-whiteframe-4dp">
                <md-tabs md-dynamic-height md-selected="tab.selectedIndex" md-border-bottom>
                    <md-tab label="Email Setting">
                        <md-content class="md-padding">
                            <div class="custom-content">
                                <ms-form-wizard flex>
                                    <form name="form" class="md-inline-form" ms-form-wizard-form>
                                        <md-input-container class="md-block" flex-gt-sm="50" ng-hide="true">
                                            <label>Id</label>
                                            <input ng-model="model.id">
                                        </md-input-container>
                                        <md-input-container class="md-block" flex-gt-sm="50">
                                            <label>Default email from</label>
                                            <input name="DefaultEmailFrom" ng-model="model.DefaultEmailFrom" maxlength="150" md-maxlength="150">
                                        </md-input-container>
                                        <md-input-container class="md-block" flex-gt-sm="50">
                                            <label>Notification email to *</label>
                                            <input name="NotificationEmailTo" ng-model="model.NotificationEmailTo" ng-required="true" maxlength="150" md-maxlength="150">
                                            <div ng-messages="form.NotificationEmailTo.$error" role="alert">
                                                <div ng-message="required">
                                                    <span>Notification email to name is required</span>
                                                </div>
                                            </div>
                                        </md-input-container>

                                        <md-input-container class="md-block" flex-gt-sm="50">
                                            <label>EE default from</label>
                                            <input name="EEDefaultFrom" ng-model="model.EEDefaultFrom" maxlength="150" md-maxlength="150">
                                            <div ng-messages="form.EEDefaultFrom.$error" role="alert">
                                                <div ng-message="required">
                                                    <span>EE default from is required</span>
                                                </div>
                                            </div>
                                        </md-input-container>
                                        <label>EE validate email addresses</label>
                                        <br/>
                                        <md-checkbox md-no-ink aria-label="Checkbox No Ink" ng-model="model.EEValidateEmailAddresses" class="md-primary"></md-checkbox>
                                        <div align="left">
                                            <md-button class="md-raised md-primary" ng-disabled="!form.$valid" ng-if="FlgModifiedAccess" ng-click="SaveEmailSetting(model)">Save</md-button>
                                        </div>
                                    </form>
                                </ms-form-wizard>
                            </div>
                        </md-content>
                    </md-tab>
                </md-tabs>
            </md-content>
        </div>
    </div>
</md-content> -->


<div id="e-commerce-products" class="page-layout carded fullwidth" layout="row" ng-show="!flag">
    <div class="top-bg md-accent-bg"></div>
    <div class="center" layout="column" flex>
        <div class="header" layout="row" layout-wrap layout-align="space-between center">
            <div class="white-fg" layout="row" layout-gt-xs="row" layout-gt-sm="column" layout-align="start start">
                <div class="h1" layout="row" layout-align="start center">
                    <md-icon md-font-icon="icon-cube-outline"></md-icon>
                    <span translate="Email Setting">Email Setting</span>
                </div>
                <div class="product-count secondary-text" hide-xs>
                    <span>Total Email Setting:</span>
                    <b>{{lstdata.length}}</b>
                </div>
            </div>
            <div class="search" layout="row" layout-align="start center" flex="60" flex-gt-xs="60" flex-gt-sm="33" align="center">
                <md-icon md-font-icon="icon-magnify" class="white-text icon search-icon"></md-icon>
                <input id="modelsearch" ng-model="Search" ng-change="GetSerch(Search)" class="search-input" type="text" placeholder="Search" translate translate-attr-placeholder="SEARCH" flex>
            </div>
            <div flex="40" flex-gt-xs="40" flex-gt-sm="33" layout="row" layout-align="end center">
                <div ng-if="FlgAddedEditlocal">
                    <md-button class="md-raised md-background" ng-click="AddNewEmail()">
                        <span translate="Add New Email">Add New Email</span>
                    </md-button>
                </div>
            </div>
        </div>
        <div class="content-card" layout="column" flex>
            <div class="content fullpage-datatable" layout="column" flex>

                <table class="dataTable cell-border row-border hover" datatable="ng" dt-options="dtCustomOptions" dt-instance="dtInstance" dt-column-defs="vm.dtColumnDefs" width="100%">

                    <thead>
                        <tr>
                            <th class="all">
                                <div class="table-header">
                                    <span class="column-title">No</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">App Name</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Default Email From</span>
                                </div>
                            </th>

                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">SMTP Service</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">SMTP Host</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">SMTP User</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">SMTP Password</span>
                                </div>
                            </th>
                            <th class="all">
                                <div class="table-header">
                                    <span class="column-title">Action</span>
                                </div>
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="o in lstdata ">
                            <td style="width:4%;text-align:center">{{ $index+1 }}</td>
                            <td>{{o.tblappinfo.AppName}} </td>
                            <td>{{o.DefaultEmailFrom}} </td>
                            <td>{{o.SMTPService}} </td>
                            <td>{{o.SMTPhost}} </td>
                            <td>{{o.SMTPuser}} </td>
                            <td>{{o.SMTPpass}}</td>
                            <td style="text-align:center">
                                <md-button class="edit-button md-icon-button" ng-click="editEmailSettingById(o)">
                                    <md-icon md-font-icon="icon-pencil" class="s18 green-500-fg"></md-icon>
                                    <md-tooltip md-visible="" md-direction="">Edit</md-tooltip>
                                </md-button>

                                <!-- <md-button class="edit-button md-icon-button" ng-click="DeleteEmailSetting(o.id)">
                                    <md-icon md-font-icon="icon-trash" class="s18 red-500-fg"></md-icon>
                                    <md-tooltip md-visible="" md-direction="">Delete</md-tooltip>
                                </md-button> -->
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="page-layout simple tabbed" layout="column" ng-show="flag">
    <div class="header md-accent-bg" layout="row" layout-align="start center">
        <div class="white-fg" layout="row" layout-align="start center" flex>
            <md-button class="goto-products-button md-icon-button" aria-label="Go to Vehicle" ng-click="reset()">
                <md-icon md-font-icon="icon-arrow-left"></md-icon>
            </md-button>
            <div layout="row" layout-align="start center">
                <div layout="column" layout-align="start start">
                    <div class="subtitle secondary-text">
                        <span translate="Email Setting">Email Setting</span>
                    </div>
                </div>
            </div>
        </div>
        <div>
        </div>
    </div>
    <div class="content" layout-margin>
        <div class="product-detail-form-container md-background-bg md-whiteframe-1dp">
            <md-content class="md-padding">
                <form name="formEmailSetting" class="md-inline-form">
                    <md-input-container class="md-block" flex-gt-sm="50" ng-hide="true">
                        <label>Id</label>
                        <input ng-model="model.id">
                    </md-input-container>
                    <!-- <md-input-container class="md-block" flex="100" flex-gt-sm="25" ng-if="model.id!=''">
                        <label>App Name </label>
                        <input type="text" ng-model="AppName" ng-disabled="true">
                    </md-input-container> -->
                    <md-input-container class="md-block" flex="100" flex-gt-sm="25">
                        <label>App Name </label>
                        <md-select name="Name" ng-model="model.IdApp" aria-placeholder="Select App Name" data-md-container-class="selectdemoSelectHeader" required ng-change="GetEmailTemplateByAppId()">
                            <md-option>Select App Name</md-option>
                            <md-option value="{{o.id}}" ng-repeat="o in lstAppName">{{o.AppName}}</md-option>
                        </md-select>
                        <div ng-messages="formEmailSetting.Name.$error" ng-if="formEmailSetting.Name.$touched" role="alert">
                            <div ng-message="required">
                                <span>App Name field is required</span>
                            </div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm="50">
                        <label>Default Email From</label>
                        <input name="DefaultEmailFrom" ng-model="model.DefaultEmailFrom" maxlength="150" md-maxlength="150" required>
                        <div ng-messages="formEmailSetting.DefaultEmailFrom.$error" ng-if="formEmailSetting.DefaultEmailFrom.$touched" role="alert">
                            <div ng-message="required">
                                <span>Default Email From is required</span>
                            </div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm="50">
                        <label>SMTP Service </label>
                        <input name="SMTPService" ng-model="model.SMTPService" required maxlength="150" md-maxlength="150" required>
                        <div ng-messages="formEmailSetting.SMTPService.$error" ng-if="formEmailSetting.SMTPService.$touched" role="alert">
                            <div ng-message="required">
                                <span>SMTP Service is required</span>
                            </div>
                        </div>
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm="50">
                        <label>SMTP Host</label>
                        <input name="SMTPhost" ng-model="model.SMTPhost" maxlength="150" md-maxlength="150" required>
                        <div ng-messages="formEmailSetting.SMTPhost.$error" ng-if="formEmailSetting.SMTPhost.$touched" role="alert">
                            <div ng-message="required">
                                <span>SMTP Host is required</span>
                            </div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm="50" required>
                        <label>SMTP User</label>
                        <input name="SMTPuser" ng-model="model.SMTPuser" maxlength="150" md-maxlength="150" required>
                        <div ng-messages="formEmailSetting.SMTPuser.$error" ng-if="formEmailSetting.SMTPuser.$touched" role="alert">
                            <div ng-message="required">
                                <span>SMTP User is required</span>
                            </div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm="50" required>
                        <label>SMTP Password</label>
                        <input name="SMTPpass" ng-model="model.SMTPpass" maxlength="150" md-maxlength="150" required>
                        <div ng-messages="formEmailSetting.SMTPpass.$error" ng-if="formEmailSetting.SMTPpass.$touched" role="alert">
                            <div ng-message="required">
                                <span>SMTP Password is required</span>
                            </div>
                        </div>
                    </md-input-container>
                    <!-- <label>EE validate email addresses</label>
                    <br/>
                    <md-checkbox md-no-ink aria-label="Checkbox No Ink" ng-model="model.EEValidateEmailAddresses" class="md-primary"></md-checkbox> -->
                    <div align="left">
                        <md-button class="md-raised md-primary" ng-disabled="!formEmailSetting.$valid" ng-if="FlgModifiedAccess" ng-click="SaveEmailSetting(model)">Save</md-button>
                        <md-button class="md-accent md-raised" ng-click="resetModel()">Reset</md-button>
                        <md-button class="md-raised md-warn" ng-click="reset()">Cancel</md-button>
                    </div>
                </form>
            </md-content>
        </div>
    </div>
</div>