<md-content>
    <div id="simple-table" class="page-layout simple fullwidth doc-page element-doc-page">
        <div class="header md-accent-bg layout-align-space-between-stretch layout-row" layout="row" layout-align="space-between">
            <div layout="column" layout-align="center start" class="layout-align-center-start layout-column">
                <div class="breadcrumb layout-align-start-center layout-row" layout="row" layout-align="start center">
                    <md-icon md-font-icon="icon-home" class="s16 ng-isolate-scope md-font icon-home material-icons md-default-theme" aria-hidden="true"></md-icon>
                    <md-icon md-font-icon="icon-chevron-right" class="s16 separator ng-isolate-scope md-font icon-chevron-right material-icons md-default-theme" aria-hidden="true"></md-icon><span class="parent">Discount </span></div>
                <div class="title">Discount Management</div>
            </div>
        </div>
        <div class="content">
            <div class="white-bg md-whiteframe-4dp">
                <form name="FormManageDiscount" novalidate class="ms-stepper" aria-invalid="false">
                    <md-tabs md-selected="tab.selectedIndex" md-dynamic-height md-border-bottom>
                        <!-- <md-tab label="Discount List" ng-click="ResetTab()"> -->
                        <md-tab label="Discount List" ng-click="Reset()">
                            <div class="custom-content">
                                <br />
                                <div align="left">
                                    <md-button class="md-button md-accent md-raised  md-hue-2" ng-click="ExportDiscount()">Export Discount</md-button>
                                    <md-button class="md-button md-accent md-raised  md-hue-2" ng-if="FlgAddedEditlocal" ng-click="ShowImportModal($event)">Import Discount</md-button>
                                    <md-button class="md-button md-accent md-raised  md-hue-2" ng-click="DownloadTemplate()">Download Excel Template</md-button>
                                </div>
                                <br />
                                <div id="simple-table" class="page-layout simple fullwidth doc-page element-doc-page">
                                    <div class="content">
                                        <table class="dataTable row-border hover" datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs">
                                            <thead>
                                                <tr>
                                                    <th class="all">
                                                        <div class="table-header">
                                                            <span class="column-title"> No</span>
                                                        </div>
                                                    </th>
                                                    <th class="secondary-text">
                                                        <div class="table-header">
                                                            <span class="column-title">Name</span>
                                                        </div>
                                                    </th>
                                                    <th class="secondary-text">
                                                        <div class="table-header">
                                                            <span class="column-title"> Discount Type</span>
                                                        </div>
                                                    </th>
                                                    <th class="secondary-text">
                                                        <div class="table-header">
                                                            <span class="column-title">Coupen Code</span>
                                                        </div>
                                                    </th>
                                                    <th class="secondary-text">
                                                        <div class="table-header">
                                                            <span class="column-title">Start Date</span>
                                                        </div>
                                                    </th>
                                                    <th class="secondary-text">
                                                        <div class="table-header">
                                                            <span class="column-title">End Date</span>
                                                        </div>
                                                    </th>
                                                    <th class="secondary-text">
                                                        <div class="table-header">
                                                            <span class="column-title">Discount Limitation</span>
                                                        </div>
                                                    </th>
                                                    <th class="all">
                                                        <div class="table-header">
                                                            <span class="column-title">Action</span>
                                                        </div>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="item in lstDiscount">
                                                    <td>{{$index+1}}</td>
                                                    <td>{{item.Name}}</td>
                                                    <td>
                                                        <span ng-show="item.DiscountTypeId==1">Assigned To OrderTotal</span>
                                                        <!--  <span ng-show="item.DiscountTypeId==2">Assigned to products</span>
                                                <span ng-show="item.DiscountTypeId==3">Assigned to categories</span>
                                                <span ng-show="item.DiscountTypeId==4">Assigned to shipping</span>
                                                <span ng-show="item.DiscountTypeId==5">Assigned to order subtotal</span> -->
                                                    </td>
                                                    <td>{{item.CouponCode}}</td>
                                                    <td>{{item.StartDateUtc}}</td>
                                                    <td>{{item.EndDateUtc}}</td>
                                                    <td>
                                                        <span ng-show="item.DiscountLimitationId==1">Unlimited</span>
                                                        <span ng-show="item.DiscountLimitationId==2">N Times Only</span>
                                                        <!--   <span ng-show="item.DiscountLimitationId==3">N Times Per Customer</span> -->
                                                    </td>
                                                    <td>
                                                        <md-button class="md-icon-button md-accent md-raised md-hue-2" ng-if="FlgModifiedAccess" ng-click="FetchDiscountById(item)">
                                                            <md-icon md-font-icon="icon-pencil-box-outline"></md-icon>
                                                        </md-button>
                                                        <md-button class="md-icon-button md-raised md-warn md-raised md-hue-2" ng-if="FlgDeletedAccess" ng-click="DeleteDiscount(item.Id)">
                                                            <md-icon md-font-icon="icon-trash"></md-icon>
                                                        </md-button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </md-tab>
                        <md-tab label="Manage Discount" ng-click="ResetEdit()" ng-if="FlgAddedEditlocal">
                            <md-content class="md-padding">
                                <div class="custom-content">
                                    <div layout-gt-sm="row">
                                        <md-input-container flex="100" flex-gt-xs="50">
                                            <input type="text" name="Name" ng-model="model.Name" placeholder="Name *" required maxlength="50" md-maxlength="50">
                                            <div ng-messages="FormManageDiscount.Name.$error" ng-if="FormManageDiscount.Name.$touched" role="alert">
                                                <div ng-message="required">
                                                    <span>Name field is required</span>
                                                </div>
                                            </div>
                                        </md-input-container>
                                        <div layout="column" layout-gt-xs="row" flex="" class="layout-gt-xs-row layout-column flex">
                                            <md-input-container flex="100" flex-gt-xs="50" class="md-icon-float flex-gt-xs-50 flex-100 md-default-theme">
                                                <label>Discount type *</label>
                                                <md-select ng-model="model.DiscountTypeId" required name="DiscountTypeId">
                                                    <md-option value="1">Assigned To OrderTotal</md-option>
                                                    <!--  <md-option value="2">Assigned to products</md-option>
                                                    <md-option value="3">Assigned to categories</md-option>
                                                    <md-option value="4">Assigned to shipping</md-option>
                                                    <md-option value="5">Assigned to order subtotal</md-option> -->
                                                </md-select>
                                                <div ng-messages="FormManageDiscount.DiscountTypeId.$error" ng-if="FormManageDiscount.DiscountTypeId.$touched" role="alert">
                                                    <div ng-message="required">
                                                        <span>Discount Type field is required</span>
                                                    </div>
                                                </div>
                                                <div class="form-group" ng-show="model.DiscountTypeId==2">
                                                    <!-- <label class="control-label">Assigned to products :-</label> -->
                                                    <div class="input-group col-sm-8" style="color: #1EABEA;">
                                                        <span ng-show="model.discount_appliedtoproducts!=null && model.discount_appliedtoproducts!=''"> {{model.discount_appliedtoproducts}}</span>
                                                        <span ng-show="model.discount_appliedtoproducts==null || model.discount_appliedtoproducts==''"> No Product selected</span>
                                                    </div>
                                                </div>
                                                <div class="form-group" ng-show="model.DiscountTypeId==3">
                                                    <!-- <label class="control-label">Assigned to categories:-</label> -->
                                                    <div class="input-group col-sm-8" style="color: #1EABEA;">
                                                        <span ng-show="model.discount_appliedtocategories!=null && model.discount_appliedtocategories!=''"> {{model.discount_appliedtocategories}}</span>
                                                        <span ng-show="model.discount_appliedtocategories==null || model.discount_appliedtocategories==''"> No categories selected</span>
                                                    </div>
                                                </div>
                                            </md-input-container>
                                        </div>
                                    </div>
                                    <div layout-gt-sm="row">
                                        <md-input-container class="md-block" flex>
                                            <label>Start date</label>
                                            <input mdc-datetime-picker date="true" time="false" type="text" id="time1" min-date="minDate" format="MM-DD-YYYY" ng-model="model.StartDateUtc" name="StartDateUtc">
                                        </md-input-container>
                                        <md-input-container class="md-block" flex>
                                            <label>End date</label>
                                            <input mdc-datetime-picker date="true" time="false" type="text" id="time2" min-date="minDate" format="MM-DD-YYYY" ng-model="model.EndDateUtc" name="EndDateUtc">
                                        </md-input-container>
                                        <!-- <md-datepicker flex="100" flex-gt-xs="50" ng-model="model.StartDateUtc" md-placeholder="Enter date"></md-datepicker> -->
                                        <!--     <md-datepicker flex="100" flex-gt-xs="50" ng-model="model.EndDateUtc" md-placeholder="Enter date"></md-datepicker> -->
                                    </div>
                                    <div layout-gt-sm="row">
                                        <md-input-container flex="100" flex-gt-xs="50">
                                            <md-input-container class="md-block" flex>
                                                <md-checkbox ng-model="model.UsePercentage" aria-label="Checkbox 1" class="md-primary">
                                                    Use Percentage:
                                                </md-checkbox>
                                            </md-input-container>
                                        </md-input-container>
                                        <md-input-container flex="100" flex-gt-xs="50" ng-show="model.UsePercentage">
                                            <input type="number" name="DiscountPercentage" ng-model="model.DiscountPercentage" placeholder="Discount Percentage *" ng-required="model.UsePercentage" max="999999999999999999" min='0'>
                                            <div ng-messages="FormManageDiscount.DiscountPercentage.$error" ng-if="FormManageDiscount.DiscountPercentage.$touched" role="alert">
                                                <div ng-message="max" class="my-message">Display order can't be longer than 18 number</div>
                                                <div ng-message="required">
                                                    <span>Discount percentage field is required</span>
                                                </div>
                                            </div>
                                        </md-input-container>
                                        <md-input-container flex="100" flex-gt-xs="50" ng-if="!model.UsePercentage">
                                            <input type="number" name="DiscountAmount" numbers-only ng-model="model.DiscountAmount" placeholder="Discount Amount *" required max="999999999999999999" min='0'>
                                            <div ng-messages="FormManageDiscount.DiscountAmount.$error" ng-if="FormManageDiscount.DiscountAmount.$touched" role="alert">
                                                <div ng-message="max" class="my-message">Display order can't be longer than 18 number</div>
                                                <div ng-message="required">
                                                    <span>Discount amount field is required</span>
                                                </div>
                                            </div>
                                        </md-input-container>
                                    </div>
                                    <div layout-gt-sm="row">
                                        <md-input-container flex="100" flex-gt-xs="50">
                                            <md-input-container class="md-block" flex>
                                                <md-checkbox ng-model="model.RequiresCouponCode" aria-label="Checkbox 1" class="md-primary">
                                                    Requires coupen code:
                                                </md-checkbox>
                                            </md-input-container>
                                        </md-input-container>
                                        <md-input-container flex="100" flex-gt-xs="50" ng-if="model.RequiresCouponCode">
                                            <input type="text" name="CoupenCode" ng-model="model.CouponCode" placeholder="Coupen Code *" required maxlength="20" md-maxlength="20">
                                            <div ng-messages="FormManageDiscount.CoupenCode.$error" ng-if="FormManageDiscount.CoupenCode.$touched" role="alert">
                                                <div ng-message="required">
                                                    <span>Coupen code field is required</span>
                                                </div>
                                            </div>
                                        </md-input-container>
                                    </div>
                                    <div layout-gt-sm="row">
                                        <md-input-container flex="100" flex-gt-xs="50" class="md-icon-float flex-gt-xs-50 flex-100 md-default-theme">
                                            <label>Discount limitation *</label>
                                            <md-select ng-model="model.DiscountLimitationId" name="DiscountLimitationId" required id="DiscountLimitationId">
                                                <md-option value="1">Unlimited</md-option>
                                                <md-option value="2">N Times Only </md-option>
                                                <!--   <md-option value="3">N Times Per Customer</md-option> -->
                                            </md-select>
                                            <div ng-messages="FormManageDiscount.DiscountLimitationId.$error" ng-if="FormManageDiscount.DiscountLimitationId.$touched" role="alert">
                                                <div ng-message="required">
                                                    <span>Discount limitation is required</span>
                                                </div>
                                            </div>
                                        </md-input-container>
                                        <md-input-container flex="100" flex-gt-xs="50" ng-if="model.DiscountLimitationId!=1">
                                            <input type="number" name="LimitationTimes" ng-model="model.LimitationTimes" placeholder="NTimes *" required min=0 max="99999999999">
                                            <div ng-messages="FormManageDiscount.LimitationTimes.$error" ng-if="FormManageDiscount.LimitationTimes.$touched" role="alert">
                                                <div ng-message="max" class="my-message">Display order can't be longer than 11 number</div>
                                                <div ng-message="required">
                                                    <span>Number of times field is required</span>
                                                </div>
                                            </div>
                                        </md-input-container>
                                    </div>
                                    <div layout-gt-sm="row">
                                        <md-input-container flex="100" flex-gt-xs="50" ng-if="model.DiscountTypeId==2 || model.DiscountTypeId==3">
                                            <input type="text" name="MaximumDiscountedQuantity" ng-model="model.MaximumDiscountedQuantity" placeholder="MaximumDiscountedQuantity *" ng-if="FormManageDiscount.MaximumDiscountedQuantity.$touched" required>
                                            <div ng-messages="FormManageDiscount.MaximumDiscountedQuantity.$error" role="alert">
                                                <div ng-message="required">
                                                    <span>Maximum discounted quantity field is required</span>
                                                </div>
                                            </div>
                                        </md-input-container>
                                    </div>
                                    <div align="center">
                                        <md-button class="md-raised md-primary" ng-click="CreateDiscount(model)" ng-disabled="FormManageDiscount.$invalid">save</md-button>
                                        <md-button class="md-raised md-warn" ng-click="Reset()">cancel</md-button>
                                    </div>
                                </div>
                            </md-content>
                        </md-tab>
                    </md-tabs>
                </form>
            </div>
        </div>
    </div>
</md-content>
