<div id="e-commerce-products" class="page-layout carded fullwidth" layout="row" ng-show="!flag">
    <div class="top-bg md-accent-bg"></div>
    <div class="center" layout="column" flex>
        <div class="header" layout="row" layout-wrap layout-align="space-between center">
            <div class="white-fg" layout="row" layout-gt-xs="row" layout-gt-sm="column" layout-align="start start">
                <div class="h1" layout="row" layout-align="start center">
                    <md-icon md-font-icon="icon-cube-outline"></md-icon>
                    <span translate="SIM Info">SIM Info</span>
                </div>
            </div>
            <div class="search" layout="row" layout-align="start center" flex="60" flex-gt-xs="60" flex-gt-sm="33"
                align="center">
                <md-icon md-font-icon="icon-magnify" class="white-text icon search-icon"></md-icon>
                <input id="search" ng-model="modelSearch.Search" ng-change="GetSerch(modelSearch.Search)"
                    class="search-input" type="text" placeholder="Search" translate translate-attr-placeholder="SEARCH"
                    flex>
            </div>
            <div flex="40" flex-gt-xs="40" flex-gt-sm="33" layout="row" layout-align="end center">
                <md-button class="md-icon-button  md-raised md-hue-2" ng-click="ExportExcel()" aria-label="Search"
                    ng-if="lstSIMInfo.length > 0">
                    <md-icon md-font-icon="icon-file-excel"></md-icon>
                    <md-tooltip md-visible="" md-direction="">Export Excel Report</md-tooltip>
                </md-button>
                <md-button class="md-icon-button  md-raised md-hue-2" ng-click="ShowImportSimModal($event)"
                    aria-label="Search">
                    <md-icon md-font-icon="icon-import"></md-icon>
                    <md-tooltip md-visible="" md-direction="">Import Excel</md-tooltip>
                </md-button>
                <md-button class="md-icon-button  md-raised md-hue-2" ng-click="DownloadExcelTemplate()"
                    aria-label="Search">
                    <md-icon md-font-icon="icon-download"></md-icon>
                    <md-tooltip md-visible="" md-direction="">Download Template</md-tooltip>
                </md-button>
                <div ng-if="FlgAddedEditlocal">
                    <md-button class="md-icon-button  md-raised md-hue-2" ng-click="Reset()" aria-label="Search ">
                        <md-icon md-font-icon="icon-plus "></md-icon>
                        <md-tooltip md-visible=" " md-direction=" ">Add New SIM Detail</md-tooltip>
                    </md-button>
                </div>
            </div>
        </div>
        <div class="content-card " layout="column " flex>
            <div class="content fullpage-datatable " layout="column " flex ng-if="UserRoles == 'Super Admin'">
                <!-- <table class="dataTable cell-border row-border hover" datatable="ng" dt-options="dtCustomOptions" dt-instance="dtInstance" dt-column-defs="vm.dtColumnDefs" width="100%"> -->
                <table id="SIMDetail" class="dataTable row-border hover" datatable="" dt-instance="vm.dtInstance"
                    dt-columns="dtColumns" dt-options="dtOptions" width="100%">
                    <thead>
                        <tr>
                            <th class="all ">
                                <div class="table-header ">
                                    <span class="column-title ">No</span>
                                </div>
                            </th>
                            <!--<th class="secondary-text ">
                                <div class="table-header ">
                                    <span class="column-title ">SIM Name</span>
                                </div>
                            </th>-->
                            <th class="secondary-text ">
                                <div class="table-header ">
                                    <span class="column-title ">Serial Number</span>
                                </div>
                            </th>
                            <th class="secondary-text ">
                                <div class="table-header ">
                                    <span class="column-title ">Phone Number</span>
                                </div>
                            </th>
                            <th class="secondary-text ">
                                <div class="table-header ">
                                    <span class="column-title ">Telephone Company</span>
                                </div>
                            </th>
                            <th class="secondary-text ">
                                <div class="table-header ">
                                    <span class="column-title ">Created Date</span>
                                </div>
                            </th>
                            <th class="secondary-text ">
                                <div class="table-header ">
                                    <span class="column-title ">App Name</span>
                                </div>
                            </th>
                            <th class="all ">
                                <div class="table-header ">
                                    <span class="column-title ">Action</span>
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <!-- <tbody>
                        <tr ng-repeat="o in lstSIMInfo ">
                            <td>{{ $index+1 }}</td>
                            <td>{{o.SerialNum}} </td>
                            <td>{{o.PhoneNum}} </td>
                            <td>{{o.TelName}} </td>
                            <td>{{o.CreatedDate | date: 'dd/MM/yyyy hh:mm a'}} </td>
                            <td>{{o.AppName}}</td>
                            <td>
                                <md-button class="edit-button md-icon-button " ng-click="editSIMById(o) ">
                                    <md-icon md-font-icon="icon-pencil " class="s18 green-500-fg "></md-icon>
                                    <md-tooltip md-visible=" " md-direction=" ">Edit</md-tooltip>
                                </md-button>
                                <md-button class="edit-button md-icon-button " ng-click="DeleteSIM(o.id) ">
                                    <md-icon md-font-icon="icon-trash " class="s18 red-500-fg "></md-icon>
                                    <md-tooltip md-visible=" " md-direction=" ">Delete</md-tooltip>
                                </md-button>
                            </td>
                        </tr>
                    </tbody> -->
                </table>
            </div>
            <div class="content fullpage-datatable " layout="column " flex ng-if="UserRoles != 'Super Admin'">
                <!-- <table class="dataTable cell-border row-border hover" datatable="ng" dt-options="dtCustomOptions" dt-instance="dtInstance" dt-column-defs="vm.dtColumnDefs" width="100%"> -->
                <table id="SIMDetail1" class="dataTable row-border hover" datatable="" dt-instance="vm.dtInstance"
                    dt-columns="dtColumns" dt-options="dtOptions" width="100%">
                    <thead>
                        <tr>
                            <th class="all ">
                                <div class="table-header ">
                                    <span class="column-title ">No</span>
                                </div>
                            </th>
                            <!--<th class="secondary-text ">
                                <div class="table-header ">
                                    <span class="column-title ">SIM Name</span>
                                </div>
                            </th>-->
                            <th class="secondary-text ">
                                <div class="table-header ">
                                    <span class="column-title ">Serial Number</span>
                                </div>
                            </th>
                            <th class="secondary-text ">
                                <div class="table-header ">
                                    <span class="column-title ">Phone Number</span>
                                </div>
                            </th>
                            <th class="secondary-text ">
                                <div class="table-header ">
                                    <span class="column-title ">Telephone Company</span>
                                </div>
                            </th>
                            <th class="secondary-text ">
                                <div class="table-header ">
                                    <span class="column-title ">Created Date</span>
                                </div>
                            </th>
                            <!-- <th class="secondary-text ">
                                <div class="table-header ">
                                    <span class="column-title ">App Name</span>
                                </div>
                            </th> -->
                            <th class="all ">
                                <div class="table-header ">
                                    <span class="column-title ">Action</span>
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <!-- <tbody>
                        <tr ng-repeat="o in lstSIMInfo ">
                            <td>{{ $index+1 }}</td>
                            <td>{{o.SerialNum}} </td>
                            <td>{{o.PhoneNum}} </td>
                            <td>{{o.TelName}} </td>
                            <td>{{o.CreatedDate | date: 'dd/MM/yyyy hh:mm a'}} </td>
                            <td>{{o.AppName}}</td>
                            <td>
                                <md-button class="edit-button md-icon-button " ng-click="editSIMById(o) ">
                                    <md-icon md-font-icon="icon-pencil " class="s18 green-500-fg "></md-icon>
                                    <md-tooltip md-visible=" " md-direction=" ">Edit</md-tooltip>
                                </md-button>
                                <md-button class="edit-button md-icon-button " ng-click="DeleteSIM(o.id) ">
                                    <md-icon md-font-icon="icon-trash " class="s18 red-500-fg "></md-icon>
                                    <md-tooltip md-visible=" " md-direction=" ">Delete</md-tooltip>
                                </md-button>
                            </td>
                        </tr>
                    </tbody> -->
                </table>
            </div>
        </div>
    </div>
</div>
<div class="page-layout simple tabbed " layout="column " ng-show="flag ">
    <div class="header md-accent-bg " layout="row " layout-align="start center ">
        <div class="white-fg " layout="row " layout-align="start center " flex>
            <md-button class="goto-products-button md-icon-button " aria-label="Go to Vehicle "
                ng-click="ResetModel() ">
                <md-icon md-font-icon="icon-arrow-left "></md-icon>
            </md-button>
            <div layout="row " layout-align="start center ">
                <div layout="column " layout-align="start start ">
                    <div class="subtitle secondary-text ">
                        <span translate="SIM Info ">SIM Info</span>
                    </div>
                </div>
            </div>
        </div>
        <div>
        </div>
    </div>
    <div class="content " layout-margin>
        <div class="product-detail-form-container md-background-bg md-whiteframe-1dp ">
            <md-content class="md-padding ">
                <form name="formSIMInfo " novalidate class="md-inline-form " aria-invalid="false ">
                    <div class="content ">
                        <div layout="row " layout-wrap>
                            <!--<md-input-container class="md-block " flex="100 " flex-gt-sm="25 ">
                                <label>SIM Name</label>
                                <input type="text " name="SerialNum " ng-model="model.SerialNum " required>
                                <div ng-messages="formSIMInfo.SerialNum.$error " ng-if="formSIMInfo.Name.$touched " role="alert ">
                                    <div ng-message="required ">
                                        <span>SIM Name field is required</span>
                                    </div>
                                </div>
                            </md-input-container>-->
                            <md-input-container class="md-block " flex="100 " flex-gt-sm="25 ">
                                <label>Serial Number</label>
                                <input type="text " name="SerialNum " ng-model="model.SerialNum " required>
                                <div ng-messages="formSIMInfo.SerialNum.$error " ng-if="formSIMInfo.SerialNum.$touched "
                                    role="alert ">
                                    <div ng-message="required ">
                                        <span>Serial Number field is required</span>
                                    </div>
                                </div>
                            </md-input-container>
                            <md-input-container class="md-block " flex="100 " flex-gt-sm="25 ">
                                <label>Phone Number</label>
                                <input type="number " name="PhoneNum " ng-model="model.PhoneNum ">
                                <div ng-messages="formSIMInfo.PhoneNum.$error " ng-if="formSIMInfo.PhoneNum.$touched "
                                    role="alert ">
                                    <div ng-message="required ">
                                        <span>Phone Number field is required</span>
                                    </div>
                                </div>
                            </md-input-container>
                            <md-input-container class="md-block" flex="100" flex-gt-sm="25">
                                <label>Telephone Company</label>
                                <md-select Name="idTelCo" ng-model="model.idTelCo" md-on-close="clearSearchTerm()"
                                    data-md-container-class="selectdemoSelectHeader">
                                    <md-select-header class="demo-select-header">
                                        <input ng-model="vm.searchTermidTelCo" type="search"
                                            placeholder="Search for a Company.." class="demo-header-searchbox md-text"
                                            ng-keydown="onSearchChange($event)">
                                    </md-select-header>
                                    <md-option ng-value="{{o.id}}"
                                        ng-repeat="o in lstCompany | filter:vm.searchTermidTelCo | orderBy: 'Name'">
                                        {{o.Name}}</md-option>
                                </md-select>
                                <div ng-messages="formTrackingdetails.idTelCo.$error"
                                    ng-if="formTrackingdetails.idTelCo.$touched" role="alert">
                                    <div ng-message="required">
                                        <span>Tel Company is required.</span>
                                    </div>
                                </div>
                            </md-input-container>
                            <md-input-container class="md-block" flex="100" flex-gt-sm="20"
                                ng-if="UserRoles == 'Super Admin'">
                                <label>App Name</label>
                                <md-select Name="AppName" ng-model="model.idApp" md-on-close="clearSearchTerm()"
                                    data-md-container-class="selectdemoSelectHeader" required>
                                    <md-select-header class="demo-select-header">
                                        <input ng-model="vm.searchTermidAppName" type="search"
                                            placeholder="Search for a APP Name.." class="demo-header-searchbox md-text"
                                            ng-keydown="onSearchChange($event)">
                                    </md-select-header>
                                    <md-option ng-value="{{o.id}}"
                                        ng-repeat="o in lstAppInfo | filter:vm.searchTermidAppName track by o.id">
                                        {{o.AppName}}</md-option>
                                </md-select>
                                <div ng-messages="formTrackingdetails.AppName.$error"
                                    ng-if="formTrackingdetails.AppName.$touched" role="alert">
                                    <div ng-message="required">
                                        <span>App Name is required.</span>
                                    </div>
                                </div>
                            </md-input-container>
                        </div>
                        <div align="left ">
                            <md-button class="md-raised md-primary " ng-disabled="!formSIMInfo.$valid "
                                ng-click="SaveSIMInfo(model) ">Save</md-button>
                            <md-button class="md-accent md-raised " ng-click="Reset() ">Reset</md-button>
                            <md-button class="md-raised md-warn " ng-click="ResetModel() ">Cancel</md-button>
                        </div>
                    </div>
                </form>
            </md-content>
        </div>
    </div>
</div>
<div id="processingDashboard" style="display: none;">
    <div layout="row" layout-sm="column" layout-align="space-around">
        <md-progress-circular md-mode="indeterminate" value="..." md-diameter="100" class="page-loader">
        </md-progress-circular>
    </div>
</div>

<style>
    #processingDashboard {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        background-color: rgba(203, 203, 203, 0.6);
    }

    #processingDashboard .page-loader {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -100px;
        margin-top: -100px;
        z-index: 2;
    }
</style>