<md-dialog class="task-dialog" aria-label="New Task">
    <form name="taskForm" class="md-inline-form" novalidate>
        <md-toolbar class="md-accent md-hue-2">
            <div class="md-toolbar-tools" layout="row" layout-align="space-between">
                <span class="title">Detail of Vehicle - {{Name}} </span>
                <md-button class="md-icon-button" ng-click="closeModel()">
                    <md-icon md-font-icon="icon-close" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content ms-scroll>
            <div class="widget-group text-left" flex-gt-sm="100">
                <ms-widget flippable="true" layout="column" flex="100" flex-gt-xs="100" flex-gt-md="100">
                    <div class="product-detail-form-container md-background-bg md-whiteframe-1dp">
                        <md-content class="md-padding">

                            <form name="formVehicledetails1" novalidate class="md-inline-form" aria-invalid="false">
                                <div class="content">
                                    <div layout="row" layout-wrap>
                                        <!--Loader start -->
                                        <div id="processing1" style="display: none">
                                            <div layout="row" layout-sm="column" layout-align="space-around">
                                                <md-progress-circular md-mode="indeterminate" value="..." md-diameter="100" class="page-loader"></md-progress-circular>
                                            </div>
                                        </div>
                                        <!-- Loader End -->
                                        <!-- <md-input-container class="md-block" flex="100" flex-gt-sm="40">
                                            <md-checkbox class="md-secondary" ng-model="model.IsACC" value="{{model.IsACC}}" ng-true-value="1" ng-false-value="0" flex></md-checkbox>&nbsp;&nbsp;Is ACC
                                            <div ng-messages="formVehicledetails1.IsACC.$error" ng-if="formVehicledetails1.IsACC.$touched" role="alert">
                                                <div ng-message="required">
                                                    <span>Is ACC field is required</span>
                                                </div>
                                            </div>
                                        </md-input-container>
                                        <md-input-container class="md-block" flex="100" flex-gt-sm="10">
                                            <md-button class="edit-button md-icon-button" ng-click="SaveModule(model.IsACC, 'IsACC')">
                                                <md-icon md-font-icon="icon-content-save" class="s18 green-500-fg"></md-icon>
                                                <md-tooltip md-visible="" md-direction="">Save</md-tooltip>
                                            </md-button>
                                        </md-input-container>-->
                                        <md-input-container class="md-block" flex="100" flex-gt-sm="40">
                                            <label>Max Speed </label>
                                            <input type="number" name="MaxSpeed" ng-model="model.MaxSpeed">
                                            <!--<div ng-messages="formVehicledetails1.MaxSpeed.$error" ng-if="formVehicledetails1.MaxSpeed.$touched" role="alert">
                                                <div ng-message="max">
                                                    <span>Max Speed should not greater than 200</span>
                                                </div>
                                                <div ng-message="min">
                                                    <span>Max Speed should not less than 0</span>
                                                </div>
                                            </div>-->
                                        </md-input-container>
                                        <md-input-container class="md-block" flex="100" flex-gt-sm="10">
                                            <md-button class="edit-button md-icon-button" ng-click="SaveModule(model.MaxSpeed, 'MaxSpeed')" ng-disabled="formVehicledetails1.MaxSpeed.invalid">
                                                <md-icon md-font-icon="icon-content-save" class="s18 green-500-fg"></md-icon>
                                                <md-tooltip md-visible="" md-direction="">Save</md-tooltip>
                                            </md-button>
                                        </md-input-container>
                                        <md-input-container class="md-block" flex="100" flex-gt-xs="40">
                                            <label>Sleep Mode </label>
                                            <md-select Name="SleepMode" ng-model="model.SleepMode">
                                                <md-option value="0">Off</md-option>
                                                <md-option value="1">Level 1</md-option>
                                                <md-option value="2">Level 2</md-option>
                                            </md-select>
                                        </md-input-container>
                                        <md-input-container class="md-block" flex="100" flex-gt-sm="10">
                                            <md-button class="edit-button md-icon-button" ng-click="SaveModule(model.SleepMode, 'SleepMode')">
                                                <md-icon md-font-icon="icon-content-save" class="s18 green-500-fg"></md-icon>
                                                <md-tooltip md-visible="" md-direction="">Save</md-tooltip>
                                            </md-button>
                                        </md-input-container>
                                        <md-input-container class="md-block" flex="100" flex-gt-sm="40">
                                            <label>GPRS Interval </label>
                                            <input type="text" name="GPRSInterval" ng-model="model.GPRSInterval">
                                            <div ng-messages="formVehicledetails1.GPRSInterval.$error" ng-if="formVehicledetails1.GPRSInterval.$touched" role="alert">
                                                <div ng-message="required">
                                                    <span>GPRS Interval field is required</span>
                                                </div>
                                            </div>
                                        </md-input-container>
                                        <md-input-container class="md-block" flex="100" flex-gt-sm="10">
                                            <md-button class="edit-button md-icon-button" ng-click="SaveModule(model.GPRSInterval, 'GPRSInterval')">
                                                <md-icon md-font-icon="icon-content-save" class="s18 green-500-fg"></md-icon>
                                                <md-tooltip md-visible="" md-direction="">Save</md-tooltip>
                                            </md-button>
                                        </md-input-container>
                                        <md-input-container class="md-block" flex="100" flex-gt-sm="40">
                                            <label>GPRS Stop Interval </label>
                                            <input type="text" name="GPRSStopInterval" ng-model="model.GPRSStopInterval">
                                            <div ng-messages="formVehicledetails1.GPRSStopInterval.$error" ng-if="formVehicledetails1.GPRSStopInterval.$touched" role="alert">
                                                <div ng-message="required">
                                                    <span>GPRS Stop Interval field is required</span>
                                                </div>
                                            </div>
                                        </md-input-container>
                                        <md-input-container class="md-block" flex="100" flex-gt-sm="10">
                                            <md-button class="edit-button md-icon-button" ng-click="SaveModule(model.GPRSStopInterval, 'GPRSStopInterval')">
                                                <md-icon md-font-icon="icon-content-save" class="s18 green-500-fg"></md-icon>
                                                <md-tooltip md-visible="" md-direction="">Save</md-tooltip>
                                            </md-button>
                                        </md-input-container>
                                        <md-input-container class="md-block" flex="100" flex-gt-xs="40">
                                            <label>Arm </label>
                                            <md-select Name="Arm" ng-model="model.Arm">
                                                <md-option value="0">DisArm</md-option>
                                                <md-option value="1">Arm</md-option>
                                                <md-option value="2">Remain Previous output</md-option>
                                            </md-select>
                                        </md-input-container>
                                        <md-input-container class="md-block" flex="100" flex-gt-sm="10">
                                            <md-button class="edit-button md-icon-button" ng-click="SaveModule(model.Arm, 'Arm')">
                                                <md-icon md-font-icon="icon-content-save" class="s18 green-500-fg"></md-icon>
                                                <md-tooltip md-visible="" md-direction="">Save</md-tooltip>
                                            </md-button>
                                        </md-input-container>
                                        <md-input-container class="md-block" flex="100" flex-gt-sm="40">
                                            <label>OdoMeter </label>
                                            <input type="number" name="OdoMeter" ng-model="model.OdoMeter" max="9999">
                                            <div ng-messages="formVehicledetails1.OdoMeter.$error" ng-if="formVehicledetails1.OdoMeter.$touched" role="alert">
                                                <div ng-message="max">
                                                    <span>Odo Meter should not greater than 9999</span>
                                                </div>
                                            </div>
                                        </md-input-container>
                                        <md-input-container class="md-block" flex="100" flex-gt-sm="10">
                                            <md-button class="edit-button md-icon-button" ng-click="SaveModule(model.OdoMeter, 'OdoMeter')">
                                                <md-icon md-font-icon="icon-content-save" class="s18 green-500-fg"></md-icon>
                                                <md-tooltip md-visible="" md-direction="">Save</md-tooltip>
                                            </md-button>
                                        </md-input-container>
                                        <md-input-container class="md-block" flex="100" flex-gt-sm="40">
                                            <label>Heartbeat Interval </label>
                                            <input type="number" name="HeartbeatInterval" ng-model="model.HeartbeatInterval" max="65535">
                                            <div ng-messages="formVehicledetails1.HeartbeatInterval.$error" ng-if="formVehicledetails1.HeartbeatInterval.$touched" role="alert">
                                                <div ng-message="max">
                                                    <span>Odo Meter should not greater than 65535 </span>
                                                </div>
                                            </div>
                                        </md-input-container>
                                        <md-input-container class="md-block" flex="100" flex-gt-sm="10">
                                            <md-button class="edit-button md-icon-button" ng-click="SaveModule(model.HeartbeatInterval, 'HeartbeatInterval')">
                                                <md-icon md-font-icon="icon-content-save" class="s18 green-500-fg"></md-icon>
                                                <md-tooltip md-visible="" md-direction="">Save</md-tooltip>
                                            </md-button>
                                        </md-input-container>
                                        <!--<md-input-container class="md-block" flex="100" flex-gt-sm="40">
                                            <label>Relay </label>
                                            <md-select Name="Relay" ng-model="model.Relay">
                                                <md-option value="0">Close</md-option>
                                                <md-option value="1">Open</md-option>
                                                <md-option value="2">Remain Previous output</md-option>
                                            </md-select>
                                        </md-input-container>
                                        <md-input-container class="md-block" flex="100" flex-gt-sm="10">
                                            <md-button class="edit-button md-icon-button" ng-click="SaveModule(model.Relay, 'Relay')">
                                                <md-icon md-font-icon="icon-content-save" class="s18 green-500-fg"></md-icon>
                                                <md-tooltip md-visible="" md-direction="">Save</md-tooltip>
                                            </md-button>
                                        </md-input-container>
                                        <md-input-container class="md-block" flex="100" flex-gt-sm="40">
                                            <label>Siren </label>
                                            <md-select Name="Siren" ng-model="model.Siren">
                                                <md-option value="0">Close</md-option>
                                                <md-option value="1">Open</md-option>
                                                <md-option value="2">Remain Previous output</md-option>
                                            </md-select>
                                        </md-input-container>
                                        <md-input-container class="md-block" flex="100" flex-gt-sm="10">
                                            <md-button class="edit-button md-icon-button" ng-click="SaveModule(model.Siren, 'Siren')">
                                                <md-icon md-font-icon="icon-content-save" class="s18 green-500-fg"></md-icon>
                                                <md-tooltip md-visible="" md-direction="">Save</md-tooltip>
                                            </md-button>
                                        </md-input-container>
                                        <md-input-container class="md-block" flex="100" flex-gt-sm="40">
                                            <label>User Defined</label>
                                            <md-select Name="UserDefined" ng-model="model.UserDefined">
                                                <md-option value="0">Close</md-option>
                                                <md-option value="1">Open</md-option>
                                                <md-option value="2">Remain Previous output</md-option>
                                            </md-select>
                                        </md-input-container>
                                        <md-input-container class="md-block" flex="100" flex-gt-sm="10">
                                            <md-button class="edit-button md-icon-button" ng-click="SaveModule(model.UserDefined, 'UserDefined')">
                                                <md-icon md-font-icon="icon-content-save" class="s18 green-500-fg"></md-icon>
                                                <md-tooltip md-visible="" md-direction="">Save</md-tooltip>
                                            </md-button>
                                        </md-input-container>
                                        <md-input-container class="md-block" flex="100" flex-gt-sm="40">
                                            <label>Door Lock </label>
                                            <md-select Name="DoorLock" ng-model="model.DoorLock">
                                                <md-option value="0">Close</md-option>
                                                <md-option value="1">Open</md-option>
                                                <md-option value="2">Remain Previous output</md-option>
                                            </md-select>
                                        </md-input-container>
                                        <md-input-container class="md-block" flex="100" flex-gt-sm="10">
                                            <md-button class="edit-button md-icon-button" ng-click="SaveModule(model.DoorLock, 'DoorLock')">
                                                <md-icon md-font-icon="icon-content-save" class="s18 green-500-fg"></md-icon>
                                                <md-tooltip md-visible="" md-direction="">Save</md-tooltip>
                                            </md-button>
                                        </md-input-container>
                                        <md-input-container class="md-block" flex="100" flex-gt-sm="40">
                                            <label>Door Unlock</label>
                                            <md-select Name="DoorUnlock" ng-model="model.DoorUnlock">
                                                <md-option value="0">Close</md-option>
                                                <md-option value="1">Open</md-option>
                                                <md-option value="2">Remain Previous output</md-option>
                                            </md-select>
                                        </md-input-container>
                                        <md-input-container class="md-block" flex="100" flex-gt-sm="10">
                                            <md-button class="edit-button md-icon-button" ng-click="SaveModule(model.DoorUnlock, 'DoorUnlock')">
                                                <md-icon md-font-icon="icon-content-save" class="s18 green-500-fg"></md-icon>
                                                <md-tooltip md-visible="" md-direction="">Save</md-tooltip>
                                            </md-button>
                                        </md-input-container>
                                        <md-input-container class="md-block" flex="100" flex-gt-sm="40">
                                            <label>Time Zone</label>
                                            <input type="text" name="TimeZone" ng-model="model.TimeZone">
                                            <div ng-messages="formVehicledetails1.TimeZone.$error" ng-if="formVehicledetails1.TimeZone.$touched" role="alert">
                                                <div ng-message="required">
                                                    <span>Time Zone field is required</span>
                                                </div>
                                            </div>
                                        </md-input-container>
                                        <md-input-container class="md-block" flex="100" flex-gt-sm="10">
                                            <md-button class="edit-button md-icon-button" ng-click="SaveModule(model.TimeZone, 'TimeZone')">
                                                <md-icon md-font-icon="icon-content-save" class="s18 green-500-fg"></md-icon>
                                                <md-tooltip md-visible="" md-direction="">Save</md-tooltip>
                                            </md-button>
                                        </md-input-container>-->
                                    </div>
                                    <!--<div align="left">
                                        <md-button class="md-raised md-primary" ng-click="CreateVehicleDetails(model)">Update</md-button>
                                        <md-button class="md-raised md-warn" ng-click="closeModel()">Cancel</md-button>
                                    </div>-->
                                </div>
                            </form>
                        </md-content>
                    </div>
                </ms-widget>
            </div>
        </md-dialog-content>
    </form>
    <style type="text/css" media="screen">
        #processing1 {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            background-color: rgba(203, 203, 203, 0.6);
        }
        
        #processing1 .page-loader {
            position: absolute;
            top: 50%;
            left: 50%;
            margin-left: -100px;
            margin-top: -100px;
            z-index: 2;
        }
    </style>
</md-dialog>