<md-content>
    <div id="simple-table" class="page-layout simple fullwidth doc-page element-doc-page">
        <!-- HEADER -->
        <div class="header md-accent-bg" layout="row" layout-align="space-between">
            <div layout="column" layout-align="center start">
                <div class="breadcrumb" layout="row" layout-align="start center">
                    <md-icon md-font-icon="icon-home" class="s16"></md-icon>
                    <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                    <span class="parent">News</span>
                </div>
                <div class="title">News Management</div>
            </div>
        </div>
        <!-- / HEADER -->
        <!-- CONTENT -->
        <div class="content">
            <div class="white-bg md-whiteframe-4dp">
                <form name="formNews" class="md-inline-form">
                    <md-tabs md-dynamic-height md-selected="tab.selectedIndex" md-border-bottom>
                        <!-- <md-tab label="List of News" ng-click="ResetTab()"> -->
                        <md-tab label="List of News" ng-click="Reset()">
                            <md-content class="md-padding" md-selected="selectedIndex">
                                <div class="custom-content">
                                    <table class="dataTable row-border hover" datatable="ng" dt-options="dtOptions" dt-column-defs="vm.dtColumnDefs">
                                        <thead>
                                            <tr>
                                                <th class="all">
                                                    <div class="table-header">
                                                        <span class="column-title">No</span>
                                                    </div>
                                                </th>
                                                <th class="secondary-text">
                                                    <div class="table-header">
                                                        <span class="column-title">Name</span>
                                                    </div>
                                                </th>
                                                <th class="secondary-text">
                                                    <div class="table-header">
                                                        <span class="column-title">Description</span>
                                                    </div>
                                                </th>
                                                <th class="secondary-text">
                                                    <div class="table-header">
                                                        <span class="column-title">CreatedDate</span>
                                                    </div>
                                                </th>
                                                <th class="all">
                                                    <div class="table-header">
                                                        <span class="column-title">Action</span>
                                                    </div>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="o in lstNews">
                                                <td>{{ $index+1 }}</td>
                                                <td>{{ o.Name }}</td>
                                                <td>
                                                    <p ng-bind-html="o.Description | ellipsis:500"></p>
                                                </td>
                                                <td>{{ o.CreatedDate | date:'dd/MM/yyyy' }}</td>
                                                <td>
                                                    <md-button class="md-icon-button md-accent md-raised md-hue-2" ng-if="FlgModifiedAccess" ng-click="FetchNewsById(o)">
                                                        <md-icon md-font-icon="icon-pencil-box-outline"></md-icon>
                                                    </md-button>
                                                    <md-button class="md-icon-button md-raised md-warn md-raised md-hue-2" ng-if="FlgDeletedAccess" ng-click="DeleteNews(o.id)">
                                                        <md-icon md-font-icon="icon-trash"></md-icon>
                                                    </md-button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </md-content>
                        </md-tab>
                        <md-tab label="Manage News" ng-click="ResetModel()" ng-if="FlgAddedEditlocal">
                            <md-content class="md-padding">
                                <div class="custom-content">
                                    <div class="md-padding">
                                        <md-tabs md-dynamic-height md-border-bottom>
                                            <md-tab label="Standard">
                                                <div class="custom-content">
                                                    <md-content class="md-padding">
                                                        <md-input-container class="md-block" flex-gt-sm="50" ng-hide="true">
                                                            <label>Id</label>
                                                            <input ng-model="model.id">
                                                        </md-input-container>
                                                        <md-input-container class="md-block" flex-gt-sm="50">
                                                            <label>Name *</label>
                                                            <input name="Name" ng-model="model.Name" ng-required="true" maxlength="100" md-maxlength="100">
                                                            <div ng-messages="formNews.Name.$error" ng-if="formNews.Name.$touched">
                                                                <div ng-message="required">
                                                                    <span>Name is required</span>
                                                                </div>
                                                            </div>
                                                        </md-input-container>
                                                        <label>Description *</label>
                                                        <div layout-gt-sm="row">
                                                            <md-input-container class="md-block" flex>
                                                                <textarea ckeditor="editorOptions" name="Description" ng-model="model.Description" ng-required="true"></textarea>
                                                            </md-input-container>
                                                        </div>
                                                    </md-content>
                                                    <div align="center">
                                                        <md-button class="md-raised md-primary" ng-disabled="!formNews.$valid" ng-click="CreateNews(model)">Save</md-button>
                                                        <md-button class="md-raised md-warn" ng-click="Reset()">Cancel</md-button>
                                                    </div>
                                                </div>
                                            </md-tab>
                                        </md-tabs>
                                    </div>
                                </div>
                            </md-content>
                        </md-tab>
                    </md-tabs>
                </form>
            </div>
        </div>
        <!-- / CONTENT -->
    </div>
</md-content>
