<div id="e-commerce-products" class="page-layout carded fullwidth" layout="row" ng-show="!flag">
    <div class="top-bg md-accent-bg"></div>
    <div class="center" layout="column" flex>
        <div class="header" layout="row" layout-wrap layout-align="space-between center">
            <div class="white-fg" layout="row" layout-gt-xs="row" layout-gt-sm="column" layout-align="start start">
                <div class="h1" layout="row" layout-align="start center">
                    <md-icon md-font-icon="icon-cube-outline"></md-icon>
                    <span translate="App Info">App Info</span>
                </div>
            </div>
            <div class="search" layout="row" layout-align="start center" flex="60" flex-gt-xs="60" flex-gt-sm="33" align="center">
                <md-icon md-font-icon="icon-magnify" class="white-text icon search-icon"></md-icon>
                <input id="modelsearch" ng-model="Search" ng-change="GetSerch(Search)" class="search-input" type="text" placeholder="Search" translate translate-attr-placeholder="SEARCH" flex>
            </div>
            <div flex="40" flex-gt-xs="40" flex-gt-sm="33" layout="row" layout-align="end center">
                <div ng-if="FlgAddedEditlocal">
                    <md-button class="md-raised md-background" ng-click="Reset()">
                        <span translate="Add New App Info">Add New Vehicle</span>
                    </md-button>
                </div>
            </div>
        </div>
        <div class="content-card" layout="column" flex>
            <div class="content fullpage-datatable" layout="column" flex>
                <table id="AppInfo" class="dataTable row-border hover" datatable="" dt-instance="dtInstance" dt-columns="dtColumns" dt-options="dtOptions" width="100%">
                    <thead>
                        <tr>
                            <th class="all">
                                <div class="table-header">
                                    <span class="column-title">No</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">App Name</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Bundle Id</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">IOS Certificate</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">IOS Key</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Android Id</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Android Key</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Created Date</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Created By</span>
                                </div>
                            </th>
                            <th class="all">
                                <div class="table-header">
                                    <span class="column-title">Action  </span>
                                </div>
                            </th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="page-layout simple tabbed" layout="column" ng-show="flag">
    <div class="header md-accent-bg" layout="row" layout-align="start center">
        <div class="white-fg" layout="row" layout-align="start center" flex>
            <md-button class="goto-products-button md-icon-button" aria-label="Go to Vehicle" ng-click="ResetModel()">
                <md-icon md-font-icon="icon-arrow-left"></md-icon>
            </md-button>
            <div layout="row" layout-align="start center">
                <div layout="column" layout-align="start start">
                    <div class="subtitle secondary-text">
                        <span translate="App Info">App Info</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="search" layout="row" layout-align="start center" flex="60" flex-gt-xs="60" flex-gt-sm="33" align="center">

        </div>

        <div flex="40" flex-gt-xs="40" flex-gt-sm="33" layout="row" layout-align="end center">
            <md-button class="md-raised md-primary" ng-disabled="!formAppInfo.$valid" ng-click="SaveAppInfo(model)">Save</md-button>
            <md-button class="md-accent md-raised" ng-click="Reset()">Reset</md-button>
            <md-button class="md-raised md-warn" ng-click="ResetModel()">Cancel</md-button>
        </div>
    </div>
    <div class="content" layout-margin>
        <div class="product-detail-form-container md-background-bg md-whiteframe-1dp">
            <md-content class="md-padding">
                <form name="formAppInfo" novalidate class="md-inline-form" aria-invalid="false">
                    <div class="content">
                        <div layout="row" layout-wrap>
                            <md-input-container class="md-block" flex="100" flex-gt-sm="33">
                                <label>App Name</label>
                                <input type="text" name="AppName" ng-model="model.AppName" required>
                                <div ng-messages="formAppInfo.AppName.$error" ng-if="formAppInfo.AppName.$touched" role="alert">
                                    <div ng-message="required">
                                        <span>App Name field is required</span>
                                    </div>
                                </div>
                            </md-input-container>
                            <md-input-container class="md-block" flex="100" flex-gt-sm="33">
                                <label>Bundle Id</label>
                                <input type="text" name="BundleId" ng-model="model.BundleId" required>
                                <div ng-messages="formAppInfo.BundleId.$error" ng-if="formAppInfo.BundleId.$touched" role="alert">
                                    <div ng-message="required">
                                        <span>Bundle Id field is required</span>
                                    </div>
                                </div>
                            </md-input-container>
                            <md-input-container class="md-block" flex="100" flex-gt-sm="33">
                                <label>Android Id</label>
                                <input type="text" name="AndroidId" ng-model="model.AndroidId" required>
                                <div ng-messages="formAppInfo.AndroidId.$error" ng-if="formAppInfo.AndroidId.$touched" role="alert">
                                    <div ng-message="required">
                                        <span>Android Id field is required</span>
                                    </div>
                                </div>
                            </md-input-container>
                            <md-input-container class="md-block" flex="100" flex-gt-sm="33">
                                <label>Android Sender Id</label>
                                <input type="text" name="AndroidSenderId" ng-model="model.AndroidSenderId" required>
                                <div ng-messages="formAppInfo.AndroidSenderId.$error" ng-if="formAppInfo.AndroidSenderId.$touched" role="alert">
                                    <div ng-message="required">
                                        <span>Android Sender Id field is required</span>
                                    </div>
                                </div>
                            </md-input-container>
                            <md-input-container class="md-block" flex="100" flex-gt-sm="33">
                                <label>Admin URL</label>
                                <input type="text" name="AdminUrl" ng-model="model.AdminUrl" required>
                                <div ng-messages="formAppInfo.AdminUrl.$error" ng-if="formAppInfo.AdminUrl.$touched" role="alert">
                                    <div ng-message="required">
                                        <span>Admin Url field is required</span>
                                    </div>
                                </div>
                            </md-input-container>
                            <md-input-container class="md-block" flex="100" flex-gt-sm="33">
                                <label>Web App URL</label>
                                <input type="text" name="WebAppUrl" ng-model="model.WebAppUrl" required>
                                <div ng-messages="formAppInfo.WebAppUrl.$error" ng-if="formAppInfo.WebAppUrl.$touched" role="alert">
                                    <div ng-message="required">
                                        <span>WebApp Url Id field is required</span>
                                    </div>
                                </div>
                            </md-input-container>
                        </div>
                        <div layout="row" flex="100" flex-gt-sm="100" flex-gt-md="100">
                            <md-input-container class="md-block" flex="100" flex-gt-sm="50">
                                <label>IOS Certificate</label>
                                <md-input-container class="md-block" flex ng-show="IOSC !=''">
                                    <span>{{IOSC}}</span>
                                    <md-button class="md-raised md-primary" ng-click="RemoveIOSCertificat()">Remove</md-button>
                                </md-input-container>
                                <md-input-container class="md-block" flex ng-show="IOSC ==''">
                                    <lf-ng-md-file-input name="file1" lf-files="IOSCertificate" lf-placeholder="IOS Certificate" lf-maxcount="1" lf-api="apiResetIC" lf-filesize="10MB"></lf-ng-md-file-input>
                                    <div ng-messages="formAppInfo.file1.$error" role="alert">
                                        <div ng-message="mimetype">
                                            <span>Only .pem file is Supported</span>
                                        </div>
                                    </div>
                                </md-input-container>
                            </md-input-container>
                            <md-input-container class="md-block" flex="100" flex-gt-sm="50">
                                <label>IOS Key</label>
                                <md-input-container class="md-block" flex ng-show="IOSK !=''">
                                    <span>{{IOSK}}</span>
                                    <md-button class="md-raised md-primary" ng-click="RemoveIOSKey()">Remove</md-button>
                                </md-input-container>
                                <md-input-container class="md-block" flex ng-show="IOSK ==''">
                                    <lf-ng-md-file-input name="file2" lf-files="IOSKey" lf-placeholder="IOS Key" lf-maxcount="1" lf-api="apiResetIK" lf-filesize="10MB"></lf-ng-md-file-input>
                                    <div ng-messages="formAppInfo.file2.$error" role="alert">
                                        <div ng-message="mimetype">
                                            <span>Only .pem file is Supported</span>
                                        </div>
                                    </div>
                                </md-input-container>
                            </md-input-container>
                        </div>

                        <div ng-show="FlgImage" class="row" flex="100" flex-gt-xs="50">
                            <img ng-src="{{myCroppedImage}}" id="UploadedImage" err-src="assets/images/no-image.png" width="150px" />

                            <br />
                            <md-button class="md-raised md-primary" ng-click="RemoveImage('applogo')">Remove</md-button>
                        </div>

                        <div layout="row" flex="100" flex-gt-sm="100" flex-gt-md="100">
                            <md-input-container class="md-block" flex="100" flex-gt-sm="50">
                                <label>Image</label>
                                <md-input-container class="md-block" flex>
                                    <lf-ng-md-file-input name="files01" lf-placeholder="App Logo" lf-files="AppLogo" lf-api="apiMedia" onchange="angular.element(this).scope().setFiles(this) " lf-mimetype="image/* " preview></lf-ng-md-file-input>
                                    <div ng-messages="formAppInfo.files01.$error" style="color:red;">
                                        <div ng-message="mimetype">Only image file supported</div>
                                    </div>
                                </md-input-container>
                            </md-input-container>
                        </div>

                        <div ng-show="FlgLoginImage" class="row" flex="100" flex-gt-xs="50">
                            <img ng-src="{{myCroppedLoginImage}}" id="UploadedImage" err-src="assets/images/no-image.png" width="150px" />

                            <br />
                            <md-button class="md-raised md-primary" ng-click="RemoveImage('login')">Remove</md-button>
                        </div>
                        <div layout="row" flex="100" flex-gt-sm="100" flex-gt-md="100">
                            <md-input-container class="md-block" flex="100" flex-gt-sm="50">
                                <label>Login Image</label>
                                <md-input-container class="md-block" flex>
                                    <lf-ng-md-file-input name="files02 " lf-placeholder="Web App Login Logo" lf-files="WebAppLoginLogo" lf-api="apiLoginMedia" onchange="angular.element(this).scope().setLoginFiles(this) " lf-mimetype="image/* " preview></lf-ng-md-file-input>
                                    <div ng-messages="formAppInfo.files02.$error" style="color:red;">
                                        <div ng-message="mimetype">Only image file supported</div>
                                    </div>
                                </md-input-container>
                            </md-input-container>
                        </div>

                        <div ng-show="FlgHeaderImage" class="row" flex="100" flex-gt-xs="50">
                            <img ng-src="{{myCroppedHeaderImage}}" id="UploadedImage" err-src="assets/images/no-image.png" width="150px" />
                            <br />
                            <md-button class="md-raised md-primary" ng-click="RemoveImage('header')">Remove</md-button>
                        </div>

                        <div layout="row" flex="100" flex-gt-sm="100" flex-gt-md="100">
                            <md-input-container class="md-block" flex="100" flex-gt-sm="50">
                                <label>Header Image</label>
                                <md-input-container class="md-block" flex>
                                    <lf-ng-md-file-input name="files03" lf-placeholder="Web App Header Logo" lf-files="WebAppHeaderLogo" lf-api="apiHeaderMedia" onchange="angular.element(this).scope().setHeaderFiles(this) " lf-mimetype="image/* " preview></lf-ng-md-file-input>
                                    <div ng-messages="formAppInfo.files03.$error" style="color:red;">
                                        <div ng-message="mimetype">Only image file supported</div>
                                    </div>
                                </md-input-container>
                            </md-input-container>
                        </div>

                        <!--<div layout-gt-sm="row" flex="100" ng-show="FlgCropImage==1">
                            <div class="cropArea">
                                <img-crop image="myImage" result-image="myCroppedImage" on-change="CropImageToFile()" result-image-size="300" area-min-size="300" area-type="square"></img-crop>
                            </div>
                        </div>-->
                        <!-- <div align="left">
                            <md-button class="md-raised md-primary" ng-disabled="!formAppInfo.$valid" ng-click="SaveAppInfo(model)">Save</md-button>
                            <md-button class="md-accent md-raised" ng-click="Reset()">Reset</md-button>
                            <md-button class="md-raised md-warn" ng-click="ResetModel()">Cancel</md-button>
                        </div> -->
                    </div>
                </form>
            </md-content>
        </div>
    </div>
</div>