<md-dialog class="flex-40">
    <md-toolbar class="md-accent md-hue-2">
        <div class="md-toolbar-tools">
            <h2>Remark</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="closeModel()">
                <md-icon md-font-icon="icon-close" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <ms-form-wizard flex>
            <form name="formUpdateDevice" novalidate class="ms-stepper" aria-invalid="false">
                <md-content align="center">
                    <!-- <h2>Order No. :
            <strong>{{model.PurchaseOrderNumber}}</strong>
          </h2>
          <h3>Order Total :
            <strong>{{model.OrderTotal}}</strong>
          </h3> -->

                    <div layout="row" layout-wrap align="left">
                        <div flex="100" flex-gt-sm="50">
                            <h3>Order No. :
                                <strong>{{model.PurchaseOrderNumber}}</strong>
                            </h3>
                        </div>
                        <div flex="100" flex-gt-sm="50">
                            <h3>Order Total :
                                <strong>{{model.OrderTotal}}</strong>
                            </h3>
                        </div>
                        <!-- </div>
                    <div layout="row" layout-wrap align="left"> -->
                        <div flex="100" flex-gt-sm="50">
                            <h3>Maark As Manual By :
                                <strong>{{model.MaarkAsManualBy}}</strong>
                            </h3>
                        </div>
                        <div flex="100" flex-gt-sm="50">
                            <h3>Date :
                                <strong>{{model.RemarkDate}}</strong>
                            </h3>
                        </div>
                        <!-- </div>
                    <div layout="row" layout-wrap align="left"> -->
                        <div flex="100" flex-gt-sm="100">
                            <h3>Remark :
                                <strong>{{model.Remark}}</strong>
                            </h3>
                        </div>

                        <div flex="100" flex-gt-sm="100" ng-if="CurrentRole=='Super Admin'">
                            <md-input-container class="md-block " flex="100 " flex-gt-sm="100">
                                <label>Remark</label>
                                <input type="text " name="Remark " ng-model="modelRemark.Remark">
                            </md-input-container>
                        </div>

                    </div>
                    <md-button class="md-raised md-primary" ng-if="CurrentRole=='Super Admin'"
                        ng-disabled="modelRemark.Remark==''||modelRemark.Remark==null"
                        ng-click="UpdateRemarkById(modelRemark)">Save</md-button>
                    <md-button class="md-raised md-warn" ng-if="CurrentRole=='Super Admin'" ng-click="Reset()">Cancel
                    </md-button>
                </md-content>

            </form>
        </ms-form-wizard>
    </md-dialog-content>
</md-dialog>