<md-dialog class="task-dialog" aria-label="New Task">
    <md-toolbar class="md-accent md-hue-2">
        <div class="md-toolbar-tools" layout="row" layout-align="space-between">
            <span class="title">Import Language Resources From Excel </span>
            <md-button class="md-icon-button" ng-click="closeModel()">
                <md-icon md-font-icon="icon-close" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content ms-scroll>
        <md-content class="widget-page">
            <md-content>
                <form Name="formImport" class="md-inline-form">
                    <md-content class="md-padding">
                        <md-input-container class="md-block" flex-gt-sm="50">
                            <label>Language
                            </label>
                            <md-select name="Language" ng-model="model.LanguageId" ng-required="true">
                                <md-option ng-repeat="o in lstlanguage" value="{{o.Id}}">{{o.Name}}</md-option>
                            </md-select>
                            <div ng-messages="formImport.Language.$error" ng-if="formImport.Language.$touched">
                                <div ng-message="required">
                                    <span>Language is required</span>
                                </div>
                            </div>
                        </md-input-container>
                        <br/>
                        <p>You must upload file same as excel template for Import Language Resource.<br/>
                            <small>you can download excel template for import excel file.</small>
                        </p>
                        <lf-ng-md-file-input name="files" lf-mimetype="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" lf-files="Mediafiles1" lf-required lf-maxcount="1" id="ccdd" lf-api="apiReset" lf-filesize="10MB" ng-click="Reset()"></lf-ng-md-file-input>
                        <div ng-messages="formImport.files.$error" style="color:red;">
                            <div ng-message="required">You must select file</div>
                            <div ng-message="maxcount">Too much files</div>
                            <div ng-message="filesize">File size too large</div>
                            <div ng-message="mimetype">Only excel file supported</div>
                        </div>
                    </md-content>
                    <div align="left">
                        <md-button class="md-raised md-primary" ng-disabled="!formImport.$valid" ng-click="Import(model.LanguageId)">Import</md-button>
                        <md-button class="md-raised md-warn" ng-click="closeModel()">Close Model</md-button>
                    </div>
                </form>
            </md-content>
    </md-dialog-content>
</md-dialog>
