<div id="e-commerce-products" class="page-layout carded fullwidth" layout="row">
    <div class="top-bg md-accent-bg"></div>
    <div class="center" layout="column" flex>
        <div class="header" layout="row" layout-wrap layout-align="space-between center">
            <div class="white-fg" layout="row" layout-gt-xs="row" layout-gt-sm="column" layout-align="start start">
                <div class="h1" layout="row" layout-align="start center">
                    <md-icon md-font-icon="icon-cube-outline"></md-icon>
                    <span translate="Audit Log">Audit Log</span>
                </div>
                <div class="product-count secondary-text" hide-xs>
                    <span>Total Audit Log :</span>
                    <b>{{Totallog}}</b>
                </div>
            </div>
            <div class="search" layout="row" layout-align="start center" flex="60" flex-gt-xs="60" flex-gt-sm="33" align="center">
                <md-icon md-font-icon="icon-magnify" class="white-text icon search-icon"></md-icon>
                <input id="modelsearch" ng-model="Search" ng-change="GetSerch(Search)" class="search-input" type="text" placeholder="Search" translate translate-attr-placeholder="SEARCH" flex>
            </div>
            <div flex="100" flex-gt-xs="40" flex-gt-sm="33" layout="row" layout-align-gt-xs="start center" layout-align-gt-sm="end center">
                <md-button class="md-icon-button  md-raised md-hue-2" ng-click="toggle()" aria-label="Search">
                    <md-icon md-font-icon="icon-filter-variant"></md-icon>
                    <md-tooltip md-visible="" md-direction="">Advance Search</md-tooltip>
                </md-button>
            </div>
        </div>
        <div class="content-card" layout="column" flex>
            <div class="ShowContentBox">
                <i ng-show="flgforIcon" ng-click="toggle()" class="icon-close-circle-outline right closeIcon"></i>
                <div layout="row" layout-wrap>
                    <md-input-container class="md-block" flex="100" flex-gt-xs="50" flex-gt-sm="25" flex-gt-md="20">
                        <label>Start Date</label>
                        <input name="Start" mdc-datetime-picker date="true" time="true" type="text" id="time" mix-date="ModelSearch.EndDate" format="DD-MM-YYYY hh:mm A" ng-model="ModelSearch.StartDate">
                    </md-input-container>
                    <md-input-container class="md-block" flex="100" flex-gt-xs="50" flex-gt-sm="25" flex-gt-md="20">
                        <label>End Date</label>
                        <input name="End" mdc-datetime-picker date="true" time="true" type="text" id="time" min-date="ModelSearch.StartDate" format="DD-MM-YYYY hh:mm A" ng-model="ModelSearch.EndDate">
                    </md-input-container>
                    <div align="left">
                        <md-button class="md-icon-button md-accent md-raised md-hue-2" ng-click="GetAllAuditLog(true)" aria-label="Search">
                            <md-icon md-font-icon="icon-magnify"></md-icon>
                            <md-tooltip md-visible="" md-direction="">Search </md-tooltip>
                        </md-button>
                        <md-button class="md-icon-button md-warn md-raised md-hue-2" ng-click="SearchReset()" aria-label="Reset Search">
                            <md-icon md-font-icon="icon-refresh"></md-icon>
                            <md-tooltip md-visible="" md-direction="">Reset Search </md-tooltip>
                        </md-button>
                    </div>
                </div>
            </div>

            <div class="content-card" layout="column" flex>
                <div class="content fullpage-datatable" layout="column" flex>
                    <table id="VehicleDetail" class="dataTable row-border hover" datatable="" dt-instance="dtInstance" dt-columns="dtColumns" dt-options="dtOptions" width="100%">
                        <thead>
                            <tr>
                                <th class="all">
                                    <div class="table-header">
                                        <span class="column-title">No</span>
                                    </div>
                                </th>
                                <th class="secondary-text">
                                    <div class="table-header">
                                        <span class="column-title">Type</span>
                                    </div>
                                </th>
                                <th class="secondary-text">
                                    <div class="table-header">
                                        <span class="column-title">Created By</span>
                                    </div>
                                </th>
                                <th class="secondary-text">
                                    <div class="table-header">
                                        <span class="column-title">Created Date</span>
                                    </div>
                                </th>
                                <th class="secondary-text">
                                    <div class="table-header">
                                        <span class="column-title">Message</span>
                                    </div>
                                </th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>