<md-dialog class="task-dialog" aria-label="New Task">
    <md-toolbar class="md-accent md-hue-2">
        <div class="md-toolbar-tools" layout="row" layout-align="space-between">
            <span class="title">Enquiry Log History</span>
            <md-button class="md-icon-button" ng-click="closeModel()">
                <md-icon md-font-icon="icon-close" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <md-content class="widget-page">
            <md-content class="md-padding" md-selected="selectedIndex">
                <table class="dataTable row-border hover" datatable="ng" dt-options="dtOptions" dt-column-defs="vm.dtColumnDefs">
                    <thead>
                        <tr>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">No</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Subject</span>
                                </div>
                            </th>
                            <!--<th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Custome Detail</span>
                                </div>
                            </th>-->
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Message</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Created By</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Created Date</span>
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="o in lstEnuiryLog">
                            <td>{{ $index+1 }}</td>
                            <td>{{ o.Subject }}</td>
                            <!--<td>{{ o.Customer }}</td>-->
                            <td ng-bind-html="o.Body"></td>
                            <td>{{ o.CreatedBy }}</td>
                            <td>{{ o.CreatedDate }}</td>
                        </tr>
                    </tbody>
                </table>
            </md-content>
        </md-content>
    </md-dialog-content>
</md-dialog>
