<md-dialog class="task-dialog" aria-label="New Task">
    <md-toolbar class="md-accent md-hue-2">
        <div class="md-toolbar-tools">
            <h2>Import Trackers From Excel</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="closeModel()">
                <md-icon md-font-icon="icon-close" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content ms-scroll>
        <form Name="formImport" class="md-inline-form">
            <md-content class="md-padding">
                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex="50" flex-gt-sm="25" ng-if="model.AppName != 'Tracking'">
                        <label>Type </label>
                        <md-select ng-model="model.Type" name="Type">
                            <md-option name="Type1" value="TK510">TK510</md-option>
                            <md-option name="Type2" value="TK208">TK208</md-option>
                            <md-option name="Type3" value="TK228">TK228</md-option>
                            <md-option name="Type4" value="GT08">GT08</md-option>
                            <md-option name="Type5" value="MT05">MT05</md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container flex ng-if="flag">
                        <label>AppName</label>
                        <md-select Name="AppName" ng-model="model.AppName" md-on-close="clearSearchTerm()" data-md-container-class="selectdemoSelectHeader" required>
                            <md-select-header class="demo-select-header">
                                <input ng-model="vm.searchTermAppName" type="search" placeholder="Search for a App Name.." class="demo-header-searchbox md-text" ng-keydown="onSearchChange($event)">
                            </md-select-header>
                            <md-option ng-value="o.AppName" ng-repeat="o in lstAppName |filter:vm.searchTermAppName| orderBy: 'AppName'">{{o.AppName}}</md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container flex>
                        <label>Country name</label>
                        <md-select Name="CountryId" ng-model="model.CountryId" md-on-close="clearSearchTerm()" data-md-container-class="selectdemoSelectHeader">
                            <md-select-header class="demo-select-header">
                                <input ng-model="vm.searchTermCountry" type="search" placeholder="Search for a country.." class="demo-header-searchbox md-text" ng-keydown="onSearchChange($event)">
                            </md-select-header>
                            <md-option ng-value="{{o.id}}" ng-repeat="o in lstCountry |filter:vm.searchTermCountry| orderBy: 'Country'">{{o.Country}}</md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <p>You must upload file same as excel template for Import Trackers .
                    <br/>
                    <!-- <small>you can download excel template for import excel file.</small> -->
                </p>
                <lf-ng-md-file-input name="files1" lf-files="Productfiles" lf-mimetype="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" lf-required lf-maxcount="1" lf-api="apiReset" lf-filesize="10MB" ng-click="Reset()"></lf-ng-md-file-input>
                <div ng-messages="formImport.files1.$error" style="color:red;">
                    <div ng-message="required">You must Select file.</div>
                    <div ng-message="maxcount">Too much files.</div>
                    <div ng-message="filesize">File size too large.</div>
                    <div ng-message="mimetype">Only Excel File Supported.</div>
                </div>
            </md-content>
            <div align="left">
                <md-button class="md-raised md-primary" ng-disabled="!formImport.$valid" ng-click="Import(model)">Import</md-button>
                <md-button class="md-raised md-warn" ng-click="closeModel()">Close Model</md-button>
            </div>
        </form>
        </md-content>
    </md-dialog-content>
</md-dialog>