<div id="e-commerce-products" class="page-layout carded fullwidth" layout="row">
    <div class="top-bg md-accent-bg"></div>
    <div class="center" layout="column" flex>
        <div class="header" layout="row" layout-wrap layout-align="space-between center">
            <div class="white-fg" layout="row" layout-gt-xs="row" layout-gt-sm="column" layout-align="start start">
                <div class="h1" layout="row" layout-align="start center">
                    <md-icon md-font-icon="icon-cube-outline"></md-icon>
                    <span translate="Settings">Settings</span>
                </div>
            </div>
        </div>
        <div class="content-card" layout="column" flex>
            <div class="content fullpage-datatable" layout="column" flex>
                <div class="product-detail-form-container md-background-bg">
                    <form name="FormSettings" novalidate class="ms-stepper" aria-invalid="false" style="padding: 24px">
                        <md-content class="content" ms-scroll>
                            <div layout="row" layout-wrap>
                                <md-input-container class="md-block" flex-gt-sm="25">
                                    <label>Android GPSIN Shop App Version *</label>
                                    <input name="AndroidAppVersion" ng-model="model.AndroidAppVersion" required>
                                    <div ng-messages="FormSetting.AndroidAppVersion.$error" role="alert">
                                        <div ng-message="required">
                                            <span>Android GPSIN Shop App Version is required</span>
                                        </div>
                                    </div>
                                </md-input-container>
                                <md-input-container class="md-block" flex-gt-sm="25">
                                    <label>Ios GPSIN Shop App Version *</label>
                                    <input name="IosAppVersion" ng-model="model.IosAppVersion" required>
                                    <div ng-messages="FormSetting.IosAppVersion.$error" role="alert">
                                        <div ng-message="required">
                                            <span>Ios GPSIN Shop App Version is required</span>
                                        </div>
                                    </div>
                                </md-input-container>
                                <md-input-container class="md-block" flex-gt-sm="25">
                                    <label>Android GPSIN Owner App Version *</label>
                                    <input name="OwnerAndroidAppVersion" ng-model="model.OwnerAndroidAppVersion" required>
                                    <div ng-messages="FormSetting.OwnerAndroidAppVersion.$error" role="alert">
                                        <div ng-message="required">
                                            <span>Android GPSIN Owner App Version is required</span>
                                        </div>
                                    </div>
                                </md-input-container>
                                <md-input-container class="md-block" flex-gt-sm="25">
                                    <label>Ios GPSIN Owner App Version *</label>
                                    <input name="OwnerIosAppVersion" ng-model="model.OwnerIosAppVersion" required>
                                    <div ng-messages="FormSetting.OwnerIosAppVersion.$error" role="alert">
                                        <div ng-message="required">
                                            <span>Ios GPSIN Owner App Version is required</span>
                                        </div>
                                    </div>
                                </md-input-container>
                                <md-input-container class="md-block" flex-gt-sm="25">
                                    <label>Online/Offline Notification *</label>
                                    <md-select ng-model="model.OwnerDeviceStatusPushNotification" required>
                                        <md-option value="0">False</md-option>
                                        <md-option value="1">True</md-option>
                                    </md-select>
                                    <div ng-messages="FormSetting.OwnerDeviceStatusPushNotification.$error" role="alert">
                                        <div ng-message="required">
                                            <span>Online/Offline Notification is required</span>
                                        </div>
                                    </div>
                                </md-input-container>
                                <md-input-container class="md-block" flex-gt-sm="25">
                                    <label>Vibration Notification *</label>
                                    <md-select ng-model="model.OwnerVibrationPushNotification" required>
                                        <md-option value="0">False</md-option>
                                        <md-option value="1">True</md-option>
                                    </md-select>
                                    <div ng-messages="FormSetting.OwnerVibrationPushNotification.$error" role="alert">
                                        <div ng-message="required">
                                            <span>Vibration Notification is required</span>
                                        </div>
                                    </div>
                                </md-input-container>
                                <md-input-container class="md-block" flex-gt-sm="25">
                                    <label>Max speed Notification *</label>
                                    <md-select ng-model="model.OwnerMaxSpeedPushNotification" required>
                                        <md-option value="0">False</md-option>
                                        <md-option value="1">True</md-option>
                                    </md-select>
                                    <div ng-messages="FormSetting.OwnerMaxSpeedPushNotification.$error" role="alert">
                                        <div ng-message="required">
                                            <span>Max speed Notification  is required</span>
                                        </div>
                                    </div>
                                </md-input-container>
                                <md-input-container class="md-block" flex-gt-sm="25">
                                    <label>Notification Email To*</label>
                                    <input name="NotificationEmailTo" ng-model="model.NotificationEmailTo" required>
                                    <div ng-messages="FormSetting.NotificationEmailTo.$error" role="alert">
                                        <div ng-message="required">
                                            <span>Notification Email To is required</span>
                                        </div>
                                    </div>
                                </md-input-container>
                            </div>
                            <div layout="row" layout-align="center">
                                <md-button class="md-raised md-accent" ng-disabled="FormSetting.$invalid" ng-if="FlgModifiedAccess" ng-click="SaveSetting(model)">Save</md-button>
                                <md-button class="md-raised md-default" ng-click="Reset()" ng-if="FlgModifiedAccess">Reset</md-button>
                            </div>
                            <br/>
                        </md-content>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>





<!--<md-content>
    <div id="simple-table" class="page-layout simple fullwidth doc-page element-doc-page">
        <div class="header md-accent-bg layout-align-space-between-stretch layout-row" layout="row" layout-align="space-between">
            <div layout="column" layout-align="center start" class="layout-align-center-start layout-column">
                <div class="breadcrumb layout-align-start-center layout-row" layout="row" layout-align="start center">
                    <md-icon md-font-icon="icon-home" class="s16 ng-isolate-scope md-font icon-home material-icons md-default-theme" aria-hidden="true"></md-icon>
                    <md-icon md-font-icon="icon-chevron-right" class="s16 separator ng-isolate-scope md-font icon-chevron-right material-icons md-default-theme" aria-hidden="true"></md-icon><span class="parent">Settings</span>
                </div>
                <div class="title">Settings</div>
            </div>
        </div>
        <div class="content">
            <div class="white-bg md-whiteframe-4dp">
                <md-tabs md-selected="tab.selectedIndex" md-dynamic-height md-border-bottom>
                    <md-tab label="Settings">
                        <div id="simple-table" class="page-layout simple fullwidth doc-page element-doc-page">
                            <div class="content">
                                <md-content class="md-padding">
                                    <div class="custom-content">
                                        <form name="FormSetting" class="md-inline-form" novalidate>
                                            <div layout-gt-sm="row">
                                                <md-input-container class="md-block" flex-gt-sm="50">
                                                    <label>Android GPSIN Shop App Version *</label>
                                                    <input name="AndroidAppVersion" ng-model="model.AndroidAppVersion" required>
                                                    <div ng-messages="FormSetting.AndroidAppVersion.$error" role="alert">
                                                        <div ng-message="required">
                                                            <span>Android GPSIN Shop App Version is required</span>
                                                        </div>
                                                    </div>
                                                </md-input-container>
                                                <md-input-container class="md-block" flex-gt-sm="50">
                                                    <label>Ios GPSIN Shop App Version *</label>
                                                    <input name="IosAppVersion" ng-model="model.IosAppVersion" required>
                                                    <div ng-messages="FormSetting.IosAppVersion.$error" role="alert">
                                                        <div ng-message="required">
                                                            <span>Ios GPSIN Shop App Version is required</span>
                                                        </div>
                                                    </div>
                                                </md-input-container>
                                            </div>
                                            <div layout-gt-sm="row">
                                                <md-input-container class="md-block" flex-gt-sm="50">
                                                    <label>Android GPSIN Owner App Version *</label>
                                                    <input name="OwnerAndroidAppVersion" ng-model="model.OwnerAndroidAppVersion" required>
                                                    <div ng-messages="FormSetting.OwnerAndroidAppVersion.$error" role="alert">
                                                        <div ng-message="required">
                                                            <span>Android GPSIN Owner App Version is required</span>
                                                        </div>
                                                    </div>
                                                </md-input-container>
                                                <md-input-container class="md-block" flex-gt-sm="50">
                                                    <label>Ios GPSIN Owner App Version *</label>
                                                    <input name="OwnerIosAppVersion" ng-model="model.OwnerIosAppVersion" required>
                                                    <div ng-messages="FormSetting.OwnerIosAppVersion.$error" role="alert">
                                                        <div ng-message="required">
                                                            <span>Ios GPSIN Owner App Version is required</span>
                                                        </div>
                                                    </div>
                                                </md-input-container>
                                            </div>
                                            <div layout-gt-sm="row">
                                                <md-input-container class="md-block" flex-gt-sm="50">
                                                    <label>Online/Offline Notification *</label>
                                                    <md-select ng-model="model.OwnerDeviceStatusPushNotification" required>
                                                        <md-option value="0">False</md-option>
                                                        <md-option value="1">True</md-option>
                                                    </md-select>
                                                    <div ng-messages="FormSetting.OwnerDeviceStatusPushNotification.$error" role="alert">
                                                        <div ng-message="required">
                                                            <span>Online/Offline Notification is required</span>
                                                        </div>
                                                    </div>
                                                </md-input-container>
                                                <md-input-container class="md-block" flex-gt-sm="50">
                                                    <label>Vibration Notification *</label>
                                                    <md-select ng-model="model.OwnerVibrationPushNotification" required>
                                                        <md-option value="0">False</md-option>
                                                        <md-option value="1">True</md-option>
                                                    </md-select>
                                                    <div ng-messages="FormSetting.OwnerVibrationPushNotification.$error" role="alert">
                                                        <div ng-message="required">
                                                            <span>Vibration Notification is required</span>
                                                        </div>
                                                    </div>
                                                </md-input-container>
                                            </div>
                                            <div layout-gt-sm="row">
                                                <md-input-container class="md-block" flex-gt-sm="50">
                                                    <label>Max speed Notification *</label>
                                                    <md-select ng-model="model.OwnerMaxSpeedPushNotification" required>
                                                        <md-option value="0">False</md-option>
                                                        <md-option value="1">True</md-option>
                                                    </md-select>
                                                    <div ng-messages="FormSetting.OwnerMaxSpeedPushNotification.$error" role="alert">
                                                        <div ng-message="required">
                                                            <span>Max speed Notification  is required</span>
                                                        </div>
                                                    </div>
                                                </md-input-container>
                                                <md-input-container class="md-block" flex-gt-sm="50">
                                                    <label>Notification Email To*</label>
                                                    <input name="NotificationEmailTo" ng-model="model.NotificationEmailTo" required>
                                                    <div ng-messages="FormSetting.NotificationEmailTo.$error" role="alert">
                                                        <div ng-message="required">
                                                            <span>Notification Email To is required</span>
                                                        </div>
                                                    </div>
                                                </md-input-container>
                                            </div>
                                            <div align="center">
                                                <md-button class="md-raised md-accent" ng-disabled="FormSetting.$invalid" ng-if="FlgModifiedAccess" ng-click="SaveSetting(model)">Save</md-button>
                                                <md-button class="md-raised md-default" ng-click="Reset()" ng-if="FlgModifiedAccess">Reset</md-button>
                                            </div>
                                        </form>
                                    </div>
                                </md-content>
                            </div>
                        </div>
                    </md-tab>
                </md-tabs>
            </div>
        </div>
    </div>
</md-content>-->