<md-dialog class="task-dialog" aria-label="New Task">
    <form name="formEditProduct" class="md-inline-form" novalidate>
        <md-toolbar class="md-accent md-hue-2">
            <div class="md-toolbar-tools" layout="row" layout-align="space-between">
                <span class="title">Edit Product</span>
                <md-button class="md-icon-button" ng-click="closeModel()">
                    <md-icon md-font-icon="icon-close" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content ms-scroll>
            <div>
                <div class="md-list-item-text">
                    <label><b>Product Name: </b></label>
                    <p> {{modelOrderDetailInfo.ProductName}}</p>
                </div>
                <div class="md-list-item-text">
                    <div class="form-group" ng-repeat="o in modelOrderDetailInfo.lstAttribute">
                        <div class="md-list-item-text">
                            <div class="column">
                                <label><b>{{o.Name}}: </b> {{o.Value}}</label>
                            </div>
                        </div>
                    </div>
                </div>
                <br/>
                <br/>
                <md-input-container class="md-block" flex="50">
                    <label>Quantity *
                    </label>
                    <input ng-model="modelOrderDetailInfo.Quantity" ng-blur="setOrderDetailPrice()" ng-enter="setOrderDetailPrice()" name="Quantity" type="number" max="1000" min="1" />
                    <div ng-messages="formEditProduct.Quantity.$error" ng-if="formEditProduct.Quantity.$touched" role="alert" md-auto-hide="false">
                        <div ng-message="required">
                            <span>Quantity is required.</span>
                        </div>
                        <div ng-message="max">
                            Quantity range in beetween 1 - 1000
                        </div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block" flex="50">
                    <label>Unit Price *
                    </label>
                    <input ng-model="modelOrderDetailInfo.UnitPriceExclTax" type="number" step="1.00" ng-blur="setOrderDetailPrice()" ng-enter="setOrderDetailPrice()" required name="UnitPriceExclTax" />
                    <div ng-messages="formEditProduct.UnitPriceExclTax.$error" ng-if="formEditProduct.UnitPriceExclTax.$touched" role="alert" md-auto-hide="false">
                        <div ng-message="required">
                            <span>Unit Price is required.</span>
                        </div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block" flex="50">
                    <label>Price *
                    </label>
                    <input ng-model="modelOrderDetailInfo.PriceExclTax" type="number" required name="PriceExclTax" />
                    <div ng-messages="formEditProduct.PriceExclTax.$error" ng-if="formEditProduct.PriceExclTax.$touched" role="alert" md-auto-hide="false">
                        <div ng-message="required">
                            <span>Price is required.</span>
                        </div>
                    </div>
                </md-input-container>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row" layout-align="space-between center">
            <div layout="row" layout-align="start center">
                <!-- {{formEditProduct}} -->
                <md-button class="md-raised md-primary" ng-disabled="formEditProduct.$invalid" ng-click="UpdateOrderDetail(modelOrderDetailInfo)">save</md-button>
                <md-button class="md-raised md-warn" ng-click="closeModel()">cancel</md-button>
            </div>
        </md-dialog-actions>
    </form>
</md-dialog>
