<md-content>
    <div id="simple-table" class="page-layout simple fullwidth doc-page element-doc-page">
        <div class="header md-accent-bg layout-align-space-between-stretch layout-row" layout="row" layout-align="space-between">
            <div layout="column" layout-align="center start" class="layout-align-center-start layout-column">
                <div class="breadcrumb layout-align-start-center layout-row" layout="row" layout-align="start center">
                    <md-icon md-font-icon="icon-home" class="s16 ng-isolate-scope md-font icon-home material-icons md-default-theme" aria-hidden="true"></md-icon>
                    <md-icon md-font-icon="icon-chevron-right" class="s16 separator ng-isolate-scope md-font icon-chevron-right material-icons md-default-theme" aria-hidden="true"></md-icon><span class="parent">Category </span></div>
                <div class="title">Category</div>
            </div>
        </div>
        <div class="content">
            <div class="white-bg md-whiteframe-4dp">
                <form name="FormManageCategory" novalidate class="ms-stepper" aria-invalid="false">
                    <md-tabs md-selected="tab.selectedIndex" md-dynamic-height md-border-bottom>
                        <md-tab label="Category List" ng-click="ResetTab()">
                        <div class="custom-content">
                            <div id="simple-table" class="page-layout simple fullwidth doc-page element-doc-page">
                                <div class="content">
                                    <table class="dataTable row-border hover" datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefsQ">
                                        <thead>
                                            <tr>
                                                <th class="all">
                                                    <div class="table-header">
                                                        <span class="column-title">No</span>
                                                    </div>
                                                </th>
                                                <th class="secondary-text">
                                                    <div class="table-header">
                                                        <span class="column-title"> Category Name</span>
                                                    </div>
                                                </th>
                                                <th class="secondary-text">
                                                    <div class="table-header">
                                                        <span class="column-title"> Category Title</span>
                                                    </div>
                                                </th>
                                                <th class="secondary-text">
                                                    <div class="table-header">
                                                        <span class="column-title">Parent Category</span>
                                                    </div>
                                                </th>
                                                <th class="secondary-text">
                                                    <div class="table-header">
                                                        <span class="column-title">Description</span>
                                                    </div>
                                                </th>
                                                <th class="all">
                                                    <div class="table-header">
                                                        <span class="column-title">Action</span>
                                                    </div>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="item in lstCateogory">
                                                <td>{{$index+1}}</td>
                                                <td>{{item.Name}}</td>
                                                <td>{{item.Title}}</td>
                                                <td>{{item.ParentCategory.Name}}</td>
                                                <td>{{item.Description}}</td>
                                                <td>
                                                    <md-button class="md-icon-button md-accent md-raised md-hue-2" ng-if="FlgModifiedAccess" ng-click="FetchCategoryById(item)">
                                                        <md-icon md-font-icon="icon-pencil-box-outline"></md-icon>
                                                    </md-button>
                                                    <md-button class="md-icon-button md-raised md-warn md-raised md-hue-2" ng-if="FlgDeletedAccess" ng-click="DeleteCategory(item.id)">
                                                        <md-icon md-font-icon="icon-trash"></md-icon>
                                                    </md-button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            </div>
                        </md-tab>
                        <md-tab label="Manage Category" ng-click="ResetEdit()" ng-if="FlgAddedEditlocal">
                            <md-content class="md-padding">
                                <div class="custom-content">
                                    <div layout-gt-sm="row">
                                        <md-input-container flex="100" flex-gt-xs="50">
                                            <label>Title *</label>
                                            <input type="text" name="Title" ng-model="model.Title" required maxlength="50" md-maxlength="50">
                                            <div ng-messages="FormManageCategory.Title.$error" ng-if="FormManageCategory.Title.$touched" role="alert">
                                                <div ng-message="required">
                                                    <span>Title field is required</span>
                                                </div>
                                            </div>
                                        </md-input-container>
                                    </div>
                                    <div layout-gt-sm="row">
                                        <md-input-container flex="100" flex-gt-xs="50">
                                            <label>Name *</label>
                                            <input type="text" name="Name" ng-model="model.Name" maxlength="50" md-maxlength="50" required>
                                            <div ng-messages="FormManageCategory.Name.$error" ng-if="FormManageCategory.Name.$touched" role="alert">
                                                <div ng-message="required">
                                                    <span>Name field is required</span>
                                                </div>
                                            </div>
                                        </md-input-container>
                                    </div>
                                    <div layout-gt-sm="row">
                                        <div layout="column" flex="100" flex-gt-xs="50">
                                            <md-input-container flex="100" flex-gt-xs="50">
                                                <label>Select parent category</label>
                                                <md-select ng-model="model.Parent">
                                                    <md-option ng-repeat="o in lstParentCategory" value="{{o.id}}" ng-selected="model.Parent==o.id">
                                                        {{o.Name}}
                                                    </md-option>
                                                </md-select>
                                            </md-input-container>
                                        </div>
                                    </div>
                                    <div layout-gt-sm="row">
                                        <md-input-container flex="100" flex-gt-xs="50">
                                            <label>Description *</label>
                                            <input type="text" name="Description" ng-model="model.Description" required>
                                            <div ng-messages="FormManageCategory.Description.$error" ng-if="FormManageCategory.Description.$touched" role="alert">
                                                <div ng-message="required">
                                                    <span>Description field is required</span>
                                                </div>
                                            </div>
                                        </md-input-container>
                                    </div>
                                    <div>
                                        <md-input-container class="md-block" flex ng-repeat="o in model.DiscountCategoryList">
                                            <!-- <md-checkbox id="Discount{{$index}}" name="Discount{{$index}}"  value="{{cat.Id}}">{{cat.Name}}--{{cat.IsChecked}}</md-checkbox> -->
                                            <md-checkbox ng-model="o.IsChecked" id="Discount{{$index}}" value="{{o.Id}}" aria-label="Discount{{$index+1}}" class="md-primary">
                                                {{o.Name}}
                                            </md-checkbox>
                                        </md-input-container>
                                    </div>
                                    <div align="center">
                                        <md-button class="md-raised md-primary" ng-click="CreateCateogory(model)" ng-disabled="FormManageCategory.$invalid">save</md-button>
                                        <md-button class="md-raised md-warn" ng-click="Reset()">cancel</md-button>
                                    </div>
                                </div>
                            </md-content>
                        </md-tab>
                    </md-tabs>
                </form>
            </div>
        </div>
    </div>
</md-content>
