<div id="e-commerce-products" class="page-layout carded fullwidth" layout="row" ng-show="!flag">
    <div class="top-bg md-accent-bg"></div>

    <div class="center" layout="column" flex>

        <div class="header" layout="row" layout-wrap layout-align="space-between center">
            <div class="white-fg" layout="row" layout-gt-xs="row" layout-gt-sm="column" layout-align="start start">
                <div class="h1" layout="row" layout-align="start center">
                    <md-icon md-font-icon="icon-cube-outline"></md-icon>
                    <span translate="Vehicle Management">Vehicle Management</span>
                </div>
                <div class="product-count secondary-text" hide-xs>
                    <span>Total Vehicle :</span>
                    <b>{{lstTotal}}</b>
                </div>
            </div>

            <div class="search" layout="row" layout-align="start center" flex="60" flex-gt-xs="60" flex-gt-sm="33" align="center">
                <md-icon md-font-icon="icon-magnify" class="white-text icon search-icon"></md-icon>
                <input id="modelsearch" ng-model="Search" ng-change="GetSerch(Search)" class="search-input" type="text" placeholder="Search" translate translate-attr-placeholder="SEARCH" flex>
            </div>

            <div flex="40" flex-gt-xs="40" flex-gt-sm="33" layout="row" layout-align="end center">

                <div ng-if="FlgAddedEditlocal">
                    <md-button class="md-raised md-background" ng-click="vm.Reset()">
                        <span translate="Add New Vehicle">Add New Vehicle</span>
                    </md-button>
                </div>
            </div>
        </div>
        <div class="content-card" layout="column" flex>
            <div class="content fullpage-datatable" layout="column" flex>
                <table id="VehicleDetail" class="dataTable row-border hover" datatable="" dt-instance="dtInstance" dt-columns="dtColumns" dt-options="dtOptions" width="100%">
                    <thead>
                        <tr>
                            <th class="all">
                                <div class="table-header">
                                    <span class="column-title">No</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Vehicle</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">User Name</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Tracker Id</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Battery Percentage</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">HandShake Time</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Is Online</span>
                                </div>
                            </th>
                            <th class="all">
                                <div class="table-header">
                                    <span class="column-title">Action</span>
                                </div>
                            </th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="page-layout simple tabbed" layout="column" ng-show="flag">
    <div class="header md-accent-bg" layout="row" layout-align="start center">
        <div class="white-fg" layout="row" layout-align="start center" flex>
            <md-button class="goto-products-button md-icon-button" aria-label="Go to Vehicle" ng-click="gotoVehicleList()">
                <md-icon md-font-icon="icon-arrow-left"></md-icon>
            </md-button>
            <div layout="row" layout-align="start center">
                <div layout="column" layout-align="start start">
                    <div class="subtitle secondary-text">
                        <span translate="Vehicle Detail">Vehicle Detail</span>
                    </div>
                </div>
            </div>
        </div>
        <div>

        </div>
    </div>

    <div class="content" layout-margin>
        <div class="product-detail-form-container md-background-bg md-whiteframe-1dp">
            <md-content class="md-padding">
                <form name="formVehicledetails" novalidate class="md-inline-form" aria-invalid="false">
                    <div class="content">
                        <div layout="row" layout-wrap>
                            <md-input-container class="md-block" flex="100" flex-gt-sm="25">
                                <label>Select user *</label>
                                <md-autocomplete ng-required="true" md-input-name="iduser" md-no-cache="true" md-selected-item="selectedItem" md-search-text="query" md-select-on-match="true" md-selected-item-change="selectedItemChange(item)" md-items="item in GetUserByName(query)" md-item-text="item.username"
                                    placeholder="Select User">
                                    <md-item-template>
                                        <span md-highlight-text="query" md-highlight-flags="^i">{{item.username}}</span>
                                    </md-item-template>
                                    <md-not-found>
                                        No user matching "{{query}}" were found
                                    </md-not-found>
                                </md-autocomplete>
                                <div ng-messages="formVehicledetails.iduser.$error" ng-if="formVehicledetails.iduser.$touched">
                                    <div ng-message="required">Please select user</div>
                                    <md-not-found ng-show="flgErrorNotFound && query!=null && query!=''" style="font-size: 12px;">
                                        No User matching {{query}} were found.
                                    </md-not-found>
                                </div>
                            </md-input-container>
                            <input type="hidden" name="iduser" ng-model="model.iduser" ng-required="true">
                            <md-input-container class="md-block" flex="100" flex-gt-sm="25">
                                <label>Name *</label>
                                <input type="text" name="Name" ng-model="model.Name" required maxlength="100" md-maxlength="100">
                                <div ng-messages="formVehicledetails.Name.$error" ng-if="formVehicledetails.Name.$touched" role="alert">
                                    <div ng-message="required">
                                        <span>Vehicle Name field is required</span>
                                    </div>
                                </div>
                            </md-input-container>
                            <md-input-container class="md-block" flex="100" flex-gt-sm="25">
                                <label>Tracker Number *</label>
                                <input type="text" name="deviceid" ng-model="model.deviceid" ng-required="true" maxlength="50" ng-blur="chkTrackerId(model.deviceid)">
                                <div ng-messages="formVehicledetails.deviceid.$error" ng-if="formVehicledetails.deviceid.$touched" role="alert">
                                    <div ng-message="required">
                                        <span>Tracker Number field is required</span>
                                    </div>
                                </div>
                            </md-input-container>
                            <md-input-container class="md-block" flex="100" flex-gt-sm="25">
                                <label>Battery Percentage *</label>
                                <input type="text" name="BatteryPercentage" ng-model="model.BatteryPercentage" ng-required="true" maxlength="50">
                                <div ng-messages="formVehicledetails.BatteryPercentage.$error" ng-if="formVehicledetails.BatteryPercentage.$touched" role="alert">
                                    <div ng-message="required">
                                        <span>Battery Percentage field is required</span>
                                    </div>
                                </div>
                            </md-input-container>
                            <md-input-container class="md-block" flex="100" flex-gt-sm="25">
                                <label>HandShake Date Time </label>
                                <input mdc-datetime-picker date="true" time="true" type="text" id="HandshakDatetime" format="DD-MM-YYYY hh:mm A" ng-model="model.HandshakDatetime">
                                <!--<input type="number" name="HandshakDatetime" ng-model="model.HandshakDatetime">-->
                                <div ng-messages="formVehicledetails.HandshakDatetime.$error" ng-if="formVehicledetails.HandshakDatetime.$touched" role="alert">
                                    <div ng-message="required">
                                        <span>Max Speed field is required</span>
                                    </div>
                                </div>
                            </md-input-container>
                            <md-input-container class="md-block" flex="100" flex-gt-sm="25">
                                <md-checkbox class="md-secondary" ng-model="model.IsOnline" value="{{model.IsOnline}}" flex></md-checkbox>&nbsp;&nbsp;Is Online
                            </md-input-container>
                        </div>
                        <div align="left">
                            <md-button class="md-raised md-primary" ng-disabled="!formVehicledetails.$valid" ng-click="CreateVehicleDetails(model)">Save</md-button>
                            <md-button class="md-raised md-warn" ng-click="ResetModel()">Cancel</md-button>
                        </div>
                    </div>
                </form>
            </md-content>
        </div>
    </div>

</div>